﻿{{#if success_msg}}
<div class="alert alert-success">
    <h6 style="color: black;">{{success_msg}}</h6>
</div>
{{/if}}
<div class="container-fluid">
    <div class="card card-map">
        <div class="header">
            <label>
                <h5>
                    SELECT AGV TO VIEW DASHBOARD :
                    <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover"
                       title="Select agv to show all current status record">
                        <i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                    </a>
                </h5>
            </label>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="content">
                    <select class="form-control" id="AGVDashboard">
                        <option selected="selected" disabled="disabled">SELECT AGV</option>
                        {{#each agv}}
                        <option value="{{this.agv_ID}}">{{this.agv_ID}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-map">
        <div class="header">
            <h4 class="title">
                Maps
                <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover"
                   title="Selected Agv will be shown in the map for user references">
                    <i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                </a>
                <span class="pull-right" id="agvFollowTurret"></span>
            </h4>
        </div>
        <br>

        <div class="container-fluid mmp">
            <div id="map">
            </div>
            <span id="mapPointer"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="title">
                                Battery Info
                                <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover"
                                   title="Battery will display as percentage (%) in the chart">
                                    <i class="fa fa-info-circle"
                                       style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                                </a>
                            </h4><br />
                            <canvas id="myChartVolt" height="200"></canvas>
                        </div>

                        <div class="col-md-4">
                            <h4 class="title">
                                Temperature Info
                                <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover"
                                   title="Temperature will display as celcius(C) in the chart">
                                    <i class="fa fa-info-circle"
                                       style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                                </a>
                            </h4><br />
                            <canvas id="myChartTemp" height="200"></canvas>
                        </div>

                        <div class="col-md-4">
                            <h4 class="title">
                                Speed Info
                                <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover"
                                   title="Speed will display as m/s in the chart">
                                    <i class="fa fa-info-circle"
                                       style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                                </a>
                            </h4><br />
                            <canvas id="myChartSpeed" height="200"></canvas>
                        </div>
                    </div>

                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
                    <script src="/socket.io/socket.io.js"></script>
                </div>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item active">
            <a class="nav-link active" id="dashData-tab" data-toggle="tab" href="#dashboardData" role="tab"
               aria-controls="dashboardData" aria-selected="true" aria-expanded="true">
                <h6>AGV Status</h6>
            </a>
        </li>
        <!--<li class="nav-item">
            <a class="nav-link" id="filter-tab" data-toggle="tab" href="#filter" role="tab" aria-controls="filter" aria-selected="true"><h6>AGV STATUS HISTORY</h6></a>
        </li>-->
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade active in" id="dashboardData" role="tabpanel" aria-labelledby="dashData-tab">
            <div class="card">
                <div class="content table-responsive" id="myTabContent">
                    <table class="table table-striped" id="dataTable">
                        <thead>
                        <th>NO.</th>
                        <th>AGV</th>
                        <th>COORDINATE</th>
                        <th>SPEED (m/s) </th>
                        <th>BAT (%)</th>
                        <th>TEMP (°C)</th>
                        <th>STATE</th>
                        <th>MS NAME</th>
                        <th>SCHED NAME</th>
                        <th>POINT</th>
                        <th>
                            <center>TIMESTAMP</center>
                        </th>
                        <th>ENV TEMP (°C)</th>
                        <th>HUMID (%RH)</th>
                        </thead>
                        <tbody id="tableBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.11/lib/OpenLayers.js"></script>
<script>
    $(".alert").fadeTo(2000, 600).slideUp(500, function () {
        $(".alert").slideUp(600);
    });
    var map;
    var epsg4326;
    var projectTo;
    var vectorLayer;
    var mapAGVLayer;
    var mapPointLayer;
    var chartV;
    var chartS;
    var chartT;
    var selectedAGV = "SELECT AGV";
    var record = 50;
    var hist = [];
    var agv = [];
    var batthist = [];
    var temphist = [];
    var speedhist = [];
    var chartime = [];
    var mapDetail = {
        homePoints: {},
        missionPoints: {},
        agv: null,
    }
    //map related
    function mapInit(schedid) {
        $.ajax({
            url: 'mapAPI/getHomePoint',
            type: 'POST',
            contentType: "application/json",
            async: false,
            data: JSON.stringify({
                isGetMissionPoint: schedid != null && schedid != "" && schedid != undefined ? true : false,
                sched_id: schedid != null && schedid != "" && schedid != undefined? ["all"]:"",
            }),
            datatype: 'json',
            beforeSend: function () {
            },
            success: function (result) {
                if (result.isSuccessful) {
                    if (result.data.homepoints && result.data.homepoints.length > 0) {
                        mapDetail.homePoints = result.data.homepoints;
                    }
                    if (result.data.missionpoints && result.data.missionpoints.length > 0) {
                        mapDetail.missionPoints = result.data.missionpoints;
                    }
                }
                else {
                    console.log("map rendering failed");
                }

            },
            error: function (result) {
                console.log('ajax Error');
            },
            complete: function () {
                mapUpdateHomeandPoints();
            }

        });
    }
    function moveAGV(long, lat, agv) {
        try {
            var span = document.getElementById("agvFollowTurret");
            var createlong = long == null || long == "" || !parseFloat(long) ? 103.7901 : parseFloat(long),
                createlat = lat == null || lat == "" || !parseFloat(lat) ? 1.301 : parseFloat(lat);
            var newloc = new OpenLayers.LonLat(parseFloat(createlong), parseFloat(createlat)).transform(epsg4326, projectTo);
            epsg4326 = new OpenLayers.Projection("EPSG:4326");
            projectTo = map.getProjectionObject();
            if (mapDetail.agv != null && mapDetail.agv.geometry != null) {
                var Lonmax = 103.7901 + 0.001,
                    Lonmin = 103.7901 - 0.001,
                    Latmax = 1.3008 + 0.0002,
                    Latmin = 1.3008 - 0.0002,
                    generateLon = (Math.random() * (Lonmax - Lonmin) + Lonmin).toFixed(4),
                    generateLat = (Math.random() * (Latmax - Latmin) + Latmin).toFixed(4);
                //if (long == null || long == "" || !parseFloat(long) || lat == null || lat == "" || !parseFloat(lat)) {
                //    span.textContent = "AGV location not retrieved, agv will be showing back in default point";
                //}
                mapDetail.agv.geometry.x = newloc.lon;
                mapDetail.agv.geometry.y = newloc.lat;
                if (mapDetail.agv.attributes.class != null && mapDetail.agv.attributes.class.toLowerCase() == "followme") {
                    map.panTo(newloc);
                }
                vectorLayer.redraw();
            }
            else {
                var createlong = long == null || long == "" || !parseFloat(long) ? 103.7901 : parseFloat(long),
                    createlat = lat == null || lat == "" || !parseFloat(lat) ? 1.301 : parseFloat(lat);
                var feature = new OpenLayers.Feature.Vector(
                    new OpenLayers.Geometry.Point(createlong, createlat).transform(epsg4326, projectTo),
                    {
                        description: agv != null && agv != "" ? agv : 'no AGV name loaded',
                        class: "followme"
                    },
                    { externalGraphic: '/assets/img/marker.png', pointRadius: 25, graphicHeight: 25, graphicWidth: 25, graphicXOffset: -12, graphicYOffset: -25 }
                );

                feature.id = "mapAGV";
                span.textContent = "Following AGV";
                mapDetail.agv = feature;
                vectorLayer.addFeatures(feature);
                vectorLayer.redraw();
                map.panTo(newloc);
            }
        }
        catch (e) {
            console.log(e);
        }

    }
    function renderMap(reset) {
        mapDetail.agv = null;
        var span = document.getElementById("agvFollowTurret");
        span.textContent = "";
        $("#map").html("");
        map = new OpenLayers.Map("map");
        map.addLayer(new OpenLayers.Layer.OSM());
        epsg4326 = new OpenLayers.Projection("EPSG:4326");
        projectTo = map.getProjectionObject();
        var lonLat = new OpenLayers.LonLat(103.7901, 1.3008).transform(epsg4326, projectTo);
        var zoom = 18;
        map.setCenter(lonLat, zoom);
        if (reset != undefined && reset == true) {
            mapUpdateHomeandPoints();
        }
    }
    function mapUpdateHomeandPoints() {
        vectorLayer = new OpenLayers.Layer.Vector("Overlay");
        mapPointLayer = new OpenLayers.Layer.Vector("Overlay");
        //generate homepoints
        if (mapDetail.homePoints != null && mapDetail.homePoints.length > 0) {
            for (i = 0; i < mapDetail.homePoints.length; i++) {
                try {
                    var homelat = mapDetail.homePoints[i].Home_Lat != null && mapDetail.homePoints[i].Home_Lat != "" ? mapDetail.homePoints[i].Home_Lat.toString() : "1.300789";
                    var homelong = mapDetail.homePoints[i].Home_Long != null && mapDetail.homePoints[i].Home_Long != "" ? mapDetail.homePoints[i].Home_Long.toString() : "103.79008";

                    var Home = new OpenLayers.Feature.Vector(
                        new OpenLayers.Geometry.Point(parseFloat(homelong), parseFloat(homelat)).transform(epsg4326, projectTo),
                        //   { popuptext: mapDetail.homePoints[i].Name != null && mapDetail.homePoints[i] != "" ? mapDetail.homePoints[i].Name : "Unamed Home"},
                        {
                            description: mapDetail.homePoints[i].Name != null && mapDetail.homePoints[i] != "" ? mapDetail.homePoints[i].Name : "Unamed Home",
                            id: mapDetail.homePoints[i].Name != null && mapDetail.homePoints[i] != "" ? mapDetail.homePoints[i].Name : "Unamed Home"
                        },
                        { externalGraphic: '/assets/img/home.png', pointRadius: 25, graphicHeight: 25, graphicWidth: 25, graphicXOffset: -12, graphicYOffset: -25 }
                    );
                    vectorLayer.addFeatures(Home);
                }
                catch (error) {
                    console.log("Map error " + error);
                }
            }
        }
        else {
            var feature = new OpenLayers.Feature.Vector(
                new OpenLayers.Geometry.Point(103.79008, 1.3008).transform(epsg4326, projectTo),
                { description: 'Could not load homepoints' },
                { externalGraphic: '/assets/img/home.png', pointRadius: 25, graphicHeight: 25, graphicWidth: 21, graphicXOffset: -12, graphicYOffset: -25 }
            );
            vectorLayer.addFeatures(feature);
        }
        //generate Mission Goal points
        if (mapDetail.missionPoints != null && mapDetail.missionPoints.length > 0) {
            for (i = 0; i < mapDetail.missionPoints.length; i++) {
                try {
                    var missionlat = mapDetail.missionPoints[i].Lat != null && mapDetail.missionPoints[i].Lat != "" ? mapDetail.missionPoints[i].Lat.toString() : "1.300789";
                    var missionlong = mapDetail.missionPoints[i].Long != null && mapDetail.missionPoints[i].Long != "" ? mapDetail.missionPoints[i].Long.toString() : "103.79008";

                    var Activities = new OpenLayers.Feature.Vector(
                        new OpenLayers.Geometry.Point(parseFloat(missionlong), parseFloat(missionlat)).transform(epsg4326, projectTo),
                        { description: mapDetail.missionPoints[i].Name != null && mapDetail.missionPoints[i] != "" ? mapDetail.missionPoints[i].Name : "Unamed Home" },
                        { externalGraphic: '/assets/img/goal.png', pointRadius: 25, graphicHeight: 25, graphicWidth: 21, graphicXOffset: -12, graphicYOffset: -25 }
                    );
                    mapPointLayer.addFeatures(Activities);
                }
                catch (error) {
                }
            }
        }
        map.addLayer(vectorLayer);
        map.addLayer(mapPointLayer);

        //Add a selector control to the vectorLayer with popup functions
        var controls = {
            selector: new OpenLayers.Control.SelectFeature([vectorLayer, mapPointLayer], {
                //hover: true,
                //highlightOnly: true,
                renterIntent: "temporary",
                callbacks: {
                    over: createPopup,
                    out: destroyPopup,
                    click: focusme,
                    dblclick: followme,
                },
                onSelect: focusme,
            })
        };
        function followme(feature) {
            try {
                if (feature.id.toLowerCase() == "mapagv") {
                    var span = document.getElementById("agvFollowTurret");
                    if (feature.attributes.class.toLowerCase() == "followme") {
                        feature.attributes.class = "dontfollowme";
                        span.textContent = "";
                    }
                    else {
                        feature.attributes.class = "followme";
                        span.textContent = "Following AGV";
                    }
                }
            }
            catch (e) {
            }

        }
        function focusme(feature) {
            try {
                var clickzoom = map.zoom < 16 ? 18 : map.zoom,
                    clicklong = feature.geometry.x,
                    clicklat = feature.geometry.y,
                    clicklonlat = new OpenLayers.LonLat(clicklong, clicklat);
                map.panTo(clicklonlat);
                map.zoomTo(clickzoom);
            }
            catch (e) {
                console.log(e);
            }
        }
        function createPopup(feature) {
            try {
                var pointer = document.getElementById("mapPointer");
                pointer.innerHTML = "You're pointing to: " + feature.attributes.description + "<br/>(" + feature.geometry.x + ", " + feature.geometry.y + ")";
                if (pointer.style.display == "none") {
                    $("span#mapPointer").fadeIn();
                }
            }
            catch (e) {

            }

        }
        function destroyPopup(feature) {
            var pointer = document.getElementById("mapPointer");
            pointer.innerHTML = "";
            if (pointer.style.display != "none") {
                pointer.style.display = "none";
            }

        }
        map.addControl(controls['selector']);
        controls['selector'].activate();
    }
    $(document).on('change', '#AGVDashboard', function () {
        reset_graph_table();

    })
    var socket = io();
    $(document).ready(() => {
        renderMap();
        mapInit(true);
        socket.on("agVht", data => {
            graph_table_routine(data);
        });


    }) // end of socket on

    function reset_graph_table() {
        $("#tableBody").empty();
        if (chartT) {
            chartT.destroy();
        }
        if (chartS) {
            chartT.destroy();
        }
        if (chartV) {
            chartV.destroy();
        }
        renderMap(true);
        batthist = [];
        speedhist = [];
        temphist = [];
        chartime = [];
    }
    function staticmap(long, lat) {

        map = new OpenLayers.Map("map");
        map.addLayer(new OpenLayers.Layer.OSM());

        epsg4326 = new OpenLayers.Projection("EPSG:4326"); //WGS 1984 projection
        projectTo = map.getProjectionObject(); //The map projection (Spherical Mercator)

        var lonLat = new OpenLayers.LonLat(103.7901, 1.3008).transform(epsg4326, projectTo);

        var zoom = 18;
        map.setCenter(lonLat, zoom);

        vectorLayer = new OpenLayers.Layer.Vector("Overlay");

        // Define markers as "features" of the vector layer:
        var feature = new OpenLayers.Feature.Vector(
            new OpenLayers.Geometry.Point(parseFloat(long), parseFloat(lat)).transform(epsg4326, projectTo),
            { description: "AGV" },
            { externalGraphic: '/assets/img/marker.png', graphicHeight: 25, graphicWidth: 21, graphicXOffset: -12, graphicYOffset: -25 }
        );
        vectorLayer.addFeatures(feature);

        map.addLayer(vectorLayer);

        //Add a selector control to the vectorLayer with popup functions
        var controls = {
            selector: new OpenLayers.Control.SelectFeature(vectorLayer, { onSelect: createPopup, onUnselect: destroyPopup })
        };

        function createPopup(feature) {
            feature.popup = new OpenLayers.Popup.FramedCloud("pop",
                feature.geometry.getBounds().getCenterLonLat(),
                null,
                '<div class="markerContent">' + feature.attributes.description + '</div>',
                null,
                true,
                function () { controls['selector'].unselectAll(); }
            );
            //feature.popup.closeOnMove = true;
            map.addPopup(feature.popup);
        }

        function destroyPopup(feature) {
            feature.popup.destroy();
            feature.popup = null;
        }

        map.addControl(controls['selector']);
        controls['selector'].activate();
    }

    function graph_table_routine(data) {
        var idx = $("#AGVDashboard").val();
        selectedAGV = idx;
        var cur_agv = data.agv_ID;
        if (cur_agv == selectedAGV) {
            var agvid_now = data.agv_ID;
            var batt_now = data.batt;
            var tmp_l = data.tmp.l;
            var tmp_r = data.tmp.r;
            var tmp_now = (parseFloat(tmp_r) + parseFloat(tmp_l)) / 2;
            var spd_now = Math.abs(parseFloat(data.spd.x).toPrecision(3));


            batthist.unshift(parseInt(batt_now));
            temphist.unshift(parseInt(tmp_now));
            speedhist.unshift(spd_now);
            chartime.unshift(Utils.Datetime(data.TS));
            draw_chart(agvid_now);
            draw_table(data);
            moveAGV(data.loc.long, data.loc.lat, data.agv_ID);
            // updatemap(data.loc.long, data.loc.lat, data.agv_ID, data.points, data.home);
        }
    }
    function draw_table(data) {
        seqBatchOps = 1;
        var dtable = "";
        var speed_dt = parseFloat(data.spd.x).toPrecision(2);
        var lat_dt = parseFloat(data.loc.lat).toPrecision(10);
        var long_dt = parseFloat(data.loc.long).toPrecision(10);
        dtable = dtable +
            '<tr>' +
            '<td>' + seqBatchOps++ + '</td>' +
            '<td>' + data.agv_ID + '</td>' +
            '<td>Lat :<br>' + lat_dt + '<br>Long :<br>' + long_dt + '</td>' +
            '<td>' + Math.abs(parseFloat(data.spd.x).toPrecision(3)) + '</td>' +
            '<td>' + data.batt + '</td>' +
            '<td>Left :' + data.tmp.l + ',<br>Right : ' + data.tmp.r + '</td>' +
            '<td>' + data.state + '</td>' +
            '<td>' + data.ms_ID + '</td>' +
            '<td>' + data.sched_ID + '</td>' +
            '<td>' + data.ms.point + '</td>' +
            '<td>' + Utils.Datetime(data.TS) + '</td>' +
            '<td>' + data.obu.env_temp + '</td>' +
            '<td>' + data.obu.humid + '</td>' +
            '</tr>';
        $("#tableBody").empty();
        $("#tableBody").append(dtable);
    }
    function updatemap(long, lat, agv, points, home) {
        if (agv != "NOAGV") {
            if (vectorLayer) {

                map.removeLayer(vectorLayer);
            }
            var lonLat = new OpenLayers.LonLat(103.7901, 1.3008).transform(epsg4326, projectTo);
            vectorLayer = new OpenLayers.Layer.Vector("Overlay");

            var feature = new OpenLayers.Feature.Vector(
                new OpenLayers.Geometry.Point(parseFloat(long), parseFloat(lat)).transform(epsg4326, projectTo),
                { description: agv },
                { externalGraphic: '/assets/img/marker.png', graphicHeight: 25, graphicWidth: 21, graphicXOffset: -12, graphicYOffset: -25 }
            );
            vectorLayer.addFeatures(feature);
            if (points) {

                for (x = 0; x < points.length; x++) {
                    var feature = new OpenLayers.Feature.Vector(
                        new OpenLayers.Geometry.Point(parseFloat(points[x].Long), parseFloat(points[x].Lat)).transform(epsg4326, projectTo),
                        { description: points[x].Name },
                        { externalGraphic: '/assets/img/goal.png', graphicHeight: 25, graphicWidth: 21, graphicXOffset: -12, graphicYOffset: -25 }
                    );
                    vectorLayer.addFeatures(feature);
                }
            }

            if (home) {

                var feature = new OpenLayers.Feature.Vector(
                    new OpenLayers.Geometry.Point(parseFloat(home.Home_Long), parseFloat(home.Home_Lat)).transform(epsg4326, projectTo),
                    { description: 'Home' },
                    { externalGraphic: '/assets/img/home.png', graphicHeight: 25, graphicWidth: 21, graphicXOffset: -12, graphicYOffset: -25 }
                );
                vectorLayer.addFeatures(feature);
            }
            map.addLayer(vectorLayer);

            //Add a selector control to the vectorLayer with popup functions
            var controls = {
                selector: new OpenLayers.Control.SelectFeature(vectorLayer, { onSelect: createPopup, onUnselect: destroyPopup })
            };

            function createPopup(feature) {
                feature.popup = new OpenLayers.Popup.FramedCloud("pop",
                    feature.geometry.getBounds().getCenterLonLat(),
                    null,
                    '<div class="markerContent">' + feature.attributes.description + '</div>',
                    null,
                    true,
                    function () { controls['selector'].unselectAll(); }
                );
                //feature.popup.closeOnMove = true;
                map.addPopup(feature.popup);
            }

            function destroyPopup(feature) {
                feature.popup.destroy();
                feature.popup = null;
            }

            map.addControl(controls['selector']);
            controls['selector'].activate();
        }
    }
    function draw_chart(agvid_now, batt_now, spd_now, tmp_now) {
        batt_now = batt_now;
        spd_now = spd_now;
        tmp_now = tmp_now;
        agvid_now = agvid_now;

        var ctx = document.getElementById('myChartVolt').getContext('2d');
        chartV = new Chart(ctx, {
            type: 'line',
            data: {
                labels: chartime,
                datasets: [{
                    label: 'Battery %',
                    borderColor: 'rgb(135,206,250)',
                    data: batthist,
                }]
            },

            // Configuration options go here
            options: {
                animation: false,
                responsive: true,
                legend: {
                    position: 'bottom',
                },
                scales: {

                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            steps: 100,
                            stepValue: 1,
                            max: 100,
                            min: 0
                        }
                    }]
                }
            }
        });

        var ctx = document.getElementById('myChartTemp').getContext('2d');
        chartT = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: chartime,
                datasets: [{
                    label: "Temperature °C",
                    borderColor: 'rgb(255, 99, 132)',
                    data: temphist,
                }]
            },

            // Configuration options go here
            options: {
                animation: false,
                responsive: true,
                legend: {
                    position: 'bottom',
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            steps: 100,
                            stepValue: 1,
                            max: 100,
                            min: 0
                        }
                    }]
                }
            }
        });

        var ctx = document.getElementById('myChartSpeed').getContext('2d');
        chartS = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',
            data: {

                labels: chartime,
                datasets: [{
                    label: "Speed m/s",
                    borderColor: 'rgb(255,255,102)',
                    data: speedhist,

                }]
            },

            // Configuration options go here
            options: {
                animation: false,
                responsive: true,
                legend: {
                    position: 'bottom',
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            steps: 0.01,
                            stepValue: 0.01,
                            max: 2.0,
                            min: 0
                        }
                    }]
                }
            }
        });

        chartV.update({
            duration: 0,
            data: {
                labels: [agvid_now],
                datasets: [{
                    label: 'Battery %',
                    borderColor: 'rgb(135,206,250)',
                    data: [batt_now],
                }]
            }
        });

        chartT.update({
            duration: 0,
            data: {
                labels: [agvid_now],
                datasets: [{
                    label: 'Temperature ?',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [tmp_now],
                }]
            },
        });

        chartT.update({
            duration: 0,
            data: {
                labels: [agvid_now],
                datasets: [{
                    label: 'Temperature ?',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [tmp_now],
                }]
            },
        });
    }
</script>