﻿﻿<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/marker.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet" />
    <!--  Paper Dashboard core CSS    -->
    <link href="assets/css/paper-dashboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin="" />
    <!--  Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/themify-icons.css" rel="stylesheet">
    <style>
        #text {
            display: none;
            color: red;
        }

        .label-error-message {
            color: red;
        }

        .container-login {
            margin-top: 5%;
        }

        .field-icon {
            float: right;
            margin-left: -25px;
            margin-top: -25px;
            position: relative;
            z-index: 2;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <title>{{title}}</title>
</head>
<body>
    <div class="container container-login">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card">
                    <!-- <div class="header">
                        <h4 class="title text-left">Log in</h4>
                        <hr/>
                    </div> --}}-->
                    <div class="logo">
                        <br />
                        <a href="#" class="simple-text">
                            <center><img src="/assets/img/logo_govtech.gif" width="250"></center>
                        </a>
                    </div>
                    <div class="content text-overflow">

                        <form action="/auth/login" method="post" class="form" id="form-login">
                            <h3 class="text-center"><span class="text">ATLAS 200 | Fleet Management System</span></h3><br>
                            <p id="errLogin" class="text-danger"></p>


                            {{#if success_msg}}
                            <div class="alert alert-success"><p><h6 align="center" style="color: black;">{{rendermsg success_msg}}</h6></p> </div>
                            {{/if}}

                            {{#if error_msg}}
                            <div id="errorDiv" class="alert alert-danger"><p><h6 align="center" style="color: white;display:block">{{rendermsg error_msg}}</h6></p> </div>
                            {{/if}}

                            {{#if reset_success_msg}}
                            <div class="alert alert-success"><p><h6 align="center" style="color: black;">{{rendermsg reset_success_msg}}</h6></p> </div>
                            {{/if}}

                            {{#if expired_password_msg}}
                            <div class="alert alert-success"><p><h6 align="center" style="color: black;">{{rendermsg expired_password_msg}}</h6></p> </div>
                            {{/if}}



                            {{#if reset_success_msg}}
                            <p>UserName: <strong class="text" id="userName">{{user}}</strong></p>
                            <div class="form-group">
                                <label for="password">Password (Follow IM8 Policy <i class="fa fa-info-circle" title="IM8 passwords should contain MINIMUM 12 characters with AT LEAST 1 from EACH of the following range [0~9][a~z][A~Z]with special characters, spaces are not allowed" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>):</label>
                                <input type="password" name="password" class="form-control reset-password-input" id="password" style="font-size: medium;" autocomplete="off" required="required" placeholder="Please enter a new password, follow IM8 policy">
                                <span toggle="#password" class="fa fa-fw fa-eye fa-lg field-icon toggle-password"></span>
                                <p id="text"> Caps lock is ON</p>
                            </div>
                            <div class="form-group">
                                <label for="confirm_password">Confirm your password :</label>
                                <input type="password" name="password" class="form-control reset-password-input" id="confirm_password" style="font-size: medium;" autocomplete="off" required="required" placeholder="Please enter again the new password">
                            </div>
                            <p class="label-error-message" id="resetError"></p>
                            <button class="btn btn-success btn-md btn-fill btn-block" id="btn_savepwd" data-userid="{{ID}}">
                                Save new Password
                            </button>
                            <button id="btn_Cancel" onclick="window.location.replace('/login'); return false;" class="btn btn-danger btn-md btn-fill btn-block">
                                Cancel
                            </button>
                            {{else}}
                            {{#if expired_password_msg}}
                            <p>UserName: <strong class="text user-expired" id="userName">{{user}}</strong></p>
                            <div class="form-group">
                                <label for="password">New Password (Follow IM8 Policy <i class="fa fa-info-circle" title="IM8 passwords should contain MINIMUM 12 characters with AT LEAST 1 from EACH of the following range [0~9][a~z][A~Z]with special characters, spaces are not allowed" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>):</label>
                                <input type="password" name="password" class="form-control reset-password-input" id="password" style="font-size: medium;" autocomplete="off" required="required" placeholder="Please enter a new password, follow IM8 policy">
                                <span toggle="#password" class="fa fa-fw fa-eye fa-lg field-icon toggle-password"></span>
                                <p id="text"> Caps lock is ON</p>
                            </div>
                            <div class="form-group">
                                <label for="confirm_password">Confirm your password :</label>
                                <input type="password" name="password" class="form-control reset-password-input" id="confirm_password" style="font-size: medium;" autocomplete="off" required="required" placeholder="Please enter again the new password">
                            </div>
                            <p class="label-error-message" id="resetError"></p>
                            <button class="btn btn-success btn-md btn-fill btn-block" id="btn_savepwd" data-userid="{{ID}}">
                                Save new Password
                            </button>
                            <button id="btn_Cancel" onclick="window.location.replace('/login'); return false;" class="btn btn-danger btn-md btn-fill btn-block">
                                Cancel
                            </button>

                            {{else}}
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" name="username" class="form-control" id="username" style="font-size: medium;" required="required">

                            </div>
                            <div class="form-group">
                                <label for="password">Password :</label>
                                <input type="password" name="password" class="form-control" id="password" style="font-size: medium;" autocomplete="off" required="required">
                                <span toggle="#password" class="fa fa-fw fa-eye fa-lg field-icon toggle-password"></span>
                                <p id="text"> Caps lock is ON</p>
                            </div>
                            <div class="form-group">
                                <button class="loginBtn form-control btn btn-success btn-md btn-fill btn-block" value="Submit">
                                    Log In
                                </button>
                            </div>
                            <div id="status" style="color:red;"></div>
                            {{/if}}
                            {{/if}}

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="assets/js/demo.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/sweetalert2.all.min.js"></script>
<script src="assets/js/moment.js"></script>
<script src="assets/js/moment-with-locales.js"></script>
<script src="/assets/js/Shared_Utils.js"></script>


<script>


    $(".alert").fadeTo(4000, 600);
    var socket = io();

    $(window).on("beforeunload", function () {
        try{
            login_page.usr_lot();
        }
        catch(e)
        {

        }
    })
    $("button.loginBtn").click(function (e) {

        $(".alert").slideToggle();

        var input = $(".toggle-password");
        if (input.hasClass('check-toggle')) {
            $(".toggle-password").click();
        }
//        var loading = `<i class="fa fa-spinner fa-spin" style="font-size:1vw"></i>Loading`;
        $(this).html(HTML_Btn_Loading);
        var errdiv = document.getElementById("errorDiv");
        if (!errdiv) {
        }
        else {
            $("#errorDiv").slideToggle(10);
        }
    })

    $("button#btn_Cancel").click(function (e) {
        login_page.usr_lot();
    })
    $("button#btn_savepwd").click(function (e) {
        var input = $(".toggle-password");
        if (input.hasClass('check-toggle')) {
            $(".toggle-password").click();
        }
     //   var loading = `<i class="fa fa-spinner fa-spin" style="font-size:1vw"></i>Wait while we save your password`;
        e.preventDefault();
        var lbl = $("p#resetError");
        var $this = $(this);
        var userID = $this.data('userid');
        var newPWD = $(".reset-password-input#password").val();
        var CnewPWD = $(".reset-password-input#confirm_password").val();
        lbl.html("");
        $this.html(HTML_Btn_Loading);
        $("button,input").prop("disabled", true);

        if (FMS_check.checkIfnotNull(newPWD) && FMS_check.checkIfnotNull(CnewPWD) && FMS_check.checkIfnotNull(userID) && newPWD === CnewPWD && FMS_check.checkIM8(newPWD) && !FMS_check.checkIfGotSpace(newPWD)) {
            var json = {
                ID: userID,
                NewPassword: newPWD,
                Reset: $("#userName").hasClass("user-expired") ? "No" : "Yes"
            }
            console.log("Checkpoint" + json.Reset);
            socket.emit('UserUpdatePassword', json);
        }
        else {
            $("button,input").prop("disabled", false);
            if (!FMS_check.checkIfnotNull(userID)) {
                loading = `<i class="fa fa-spinner fa-spin" style="font-size:1vw"></i>We encontered server error: Could not find user`;

                $this.html(loading);
            }
            else {
                $this.html("Save new Password");

                if (!FMS_check.checkIfnotNull(newPWD) || !FMS_check.checkIfnotNull(CnewPWD)) {

                    lbl.html("Please Fill In Both Fields");
                }
                else {
                    if (newPWD !== CnewPWD) {

                        lbl.html("Both Passwords does not match!Please check again");
                    }
                    else {
                        if (!FMS_check.checkIM8(newPWD) || FMS_check.checkIfGotSpace(newPWD)) {
                            var err = "The password failed to meet the requirement, please change or reenter.<br>>>Password must be at least 12 characters long<br>>>Password must contain at least One:<br>--Numeric character<br>--Uppercase Character<br>--Lowercase Character<br>--Special Character such as:'!@#$%^&*()-='<br>>>Password MUST not contain space or tab";

                            lbl.html(err);
                        }
                    }
                }
            }
        }
    })

    socket.on('conveyance', data=> {
        console.log(data);
    })

    socket.on('UserUpdatePasswordReturn', data => {

        if (data == 'done') {
            var timerInterval;
            Swal.fire({
                title: 'Password Changed',
                html: "The Password is updated successfully, please login using the new credential",
                timer: 5000,
                timerProgressBar: true,
                onClose: () => {
                    clearInterval(timerInterval);
                }
            }).then((result) => {
                if (result.dismiss == Swal.DismissReason.timer) {
                    console.log("Dismissed");
                }
                window.location.replace('/login');
                login_page.usr_lot();
            });
        } else {
            var lbl = $("p#resetError");
            if (data.toLowerCase() == 'duplication') {
                $("button#btn_savepwd").html("Save new Password");
                $("button,input").prop("disabled", false);
                $("p#resetError").html("This password is recently used, for security reason please use a new differnet password.");
                shakeElem($('p#resetError,.reset-password-input#password'));
            }
            else {
                Swal.fire({
                    heightAuto: false,
                    type: 'error',
                    title: 'Error',
                    text: 'Password Update Failed!',
                    customClass: {
                        popup: 'swalpopup'
                    }
                }).then((result) => {
                    $("button#btn_savepwd").html("Save new Password");
                    $("button,input").prop("disabled", true);
                });
            }
        }
    })

    $(".toggle-password").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.addClass('check-toggle');
            input.attr("type", "text");
            setTimeout(function () {
                if (input.hasClass('check-toggle')) {
                    $(".toggle-password").click();
                }
            }, 2000);
        } else {
            input.removeClass('check-toggle');
            input.attr("type", "password");
        }
    });
    var inp = document.getElementById("confirm_password");
    var input = document.getElementById("password");
    var text = document.getElementById("text");
    try {
        $(".reset-password-input").on('keydown', function () {
            $("p#resetError").html("");
        })

        inp.addEventListener('keyup', function (e) {
            if (e.getModifierState("CapsLock")) {
                text.style.display = "block";
            } else {
                text.style.display = "none"
            }
        })
    }
    catch (err) {
    }


    function shakeElem(elem) {
        try {
            $(elem).effect('shake');

        }
        catch (er) {

        }
    }
</script>
