 <div class="container-fluid">
      <div class="card">
        <div class="content">
              <div class="header">
                        <center><img src="/assets/img/access_denied.png" width="100"></center><br/>
                       <center><h3 style="color: red;" class="title">Opss Error!</h3></center> 
             </div>
        <div class="row">
     <center><h4 style="color: red;">You dont have permission to access this page.</h4></center>
           </div>
           </div>
        </div>
 </div>
