  <div class="container-fluid">
                <div class="row">
                        <div class="col-md-12">
                                <div class="card">
                                    <div class="content">

                                      <div class="form-inline">
                                          <div class="form-group">
                                      <form action="#" class="form" style="margin-top:20px; margin-left: 20px;">
                                        <label>1. SELECT AGV  :  </label>
                                        <select id="agvValMap" class="form-control" style="width:200px">
                                            <option disabled selected value="SELECT AGV">Select AGV</option>
                                             {{#each agv}}
                                            <option value="{{this.agv_ID}}">{{this.agv_ID}}</option>
                                             {{/each}}
                                          </select>
                                      </form>
                                      <br>
                                      
                                            
                                       
                                    </div>
                                    <!--     
                                    <div class="form-group" style="margin-left: 30px;">
                                        <button type="button" id="but1" class=" form-control btn btn-info btn-fill col-md-4 col-xs-12">Start Mapping</button>
                                    </div>
                                    
                                    <div class="form-group" style="margin-left: 15px;">
                                        <button type="button" id="but2" class=" form-control btn btn-info btn-fill col-md-4 col-xs-12">Start Point Registration</button>
                                    </div>

                                    <div class="form-group" style="margin-left: 15px;">
                                        <button type="button" id="but3" class=" form-control btn btn-info btn-fill col-md-4 col-xs-12">Register Point</button>
                                    </div>

                                    <div class="form-group" style="margin-left: 15px; margin-right: 20px;">
                                        <button type="button" id="but4" class=" form-control btn btn-info btn-fill col-md-4 col-xs-12">Stop Mapping</button>
                                    </div>
                                  -->
                                             
                                   <!--<label class="label">Start Teleop</label>
                                      <label class="switch" >
                                         <input type="checkbox" id="toggle">
                                         <span class="slider round"></span>
                                      </label> -->
                                  
                                             <label class="label">2. START TELEOP :</lable>
                                             <label class="switch">
                                                <input id="AGVmanCtrl" type="checkbox">
                                                <span class="slider round"></span>
                                              </label>
                                               <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title="Please choose agv first before start teleop"><i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i></a>
                                      </div>
                              
                                    </div>

                           
     
                        </div>
                        </div>

                    <div class="row" id="content">
                      <div class="col-lg-12 col-md-4">
                    <div class="col-lg-4 col-md-4" >
                           
                        <div class="card">
                            <div class="header"><h4 class="title">Point Cloud :  <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title=""><i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i></a></h4></div>
                            <div class="content">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                           <p>Connection status:  <i class="fa fa-circle colorCircle1" style="font-size:16px;color:red"></i> <span class="status1">OFF</span></p>
                                          <!--<iframe class="img-responsive"  src="" height="500" width="500" frameborder="0" scrolling="no" hidden="hidden"></iframe>-->
                                          <img src="/assets/img/not-found.png" class="img-responsive" alt="arm-img0" id="pointCloudImg" width="100%">
                                        </div>
                                    </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4" >
                        <div class="card">
                            
                                <div class="header"><h4 class="title">Map :  <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title=""><i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i></a></h4></div>
                                <div class="content">
                                       
                                    <div class="row">
                                        <div class="col-md-12 text-center" style="overflow:hidden;">
                                           <p><span><br/></span></p>
                                            <div id="map"></div>
                                                   
                                                
                                        </div>
                                    </div>         
                                </div>
                            </div>
                    </div><!--end row-->
                    
                    <div class="col-lg-4 col-md-4">
                        <div class="card">
                            <div class="header"><h4 class="title">Camera :  <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title="">
                              <i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                              </a></h4></div>
                            <div class="content">
                              <div class="row">
                                  <div class="col-md-12 text-center">
                                     <p>Connection status: <i class="fa fa-circle colorCircle2" style="font-size:16px;color:red"></i> <span class="status2">OFF</span></p>
                                      <img src="/assets/img/not-found.png" class="p-1 bg-dark" id="cameraImg"  class="img-responsive"  width="100%">
                                  </div>
                                  
                              </div>
                            </div>
                        </div>
                      </div>
                      {{#each health_dt}} 
                        <input type="hidden" id="longGrp" value="{{this.Long}}"> 
                        <input type="hidden" id="latGrp" value="{{this.Lat}}"> 
                      {{/each}}
                      {{!-- <div class="col-lg-4 col-md-4">
                        <div class="card">
                            <div class="header"><h4 class="title">Camera :  <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title="">
                              <i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                              </a></h4></div>
                            <div class="content">
                              <div class="row">
                                  <div class="col-md-12 text-center">
                                     <p>Connection status: <i class="fa fa-circle colorCircle2" style="font-size:16px;color:red"></i> <span class="status2">OFF</span></p>
                                      <img src="/assets/img/not-found.png" class="p-1 bg-dark" id="testing"  class="img-responsive"  width="100%">
                                  </div>
                              </div>
                            </div>
                        </div>
                      </div> --}}
                    </div>
                      <div class="col-md-12">

                      <div class="col-lg-12 col-md-6">
                        <div class="card">

                            <div class="header"><h4 class="title">Controls :  <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title="">
                              <i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                              </a></h4></div>

                            <div class="content">
                              <div class="row">
                                    <div class="col-md-12 ">
                                          <div class="col-xs-12 col-md-12">
                                            <div class="row">
                                              <div class="col-xs-3 col-md-5"></div>
                                              <button class="col-md-4 btn btn-fill btn-success move" id="f" style="height:50px;width:220px;" disabled="disabled">
                                                <center><p class="triangle-up"></p>Forward</center>
                                              </button>
                                            </div>
                                                <p></p>
                                            <div class="row">
                                               <div class="col-xs-1 col-lg-4" align="center"> </div>
                                             <div class="col-xs-4 col-lg-2" align="center">                                        
                                                <button  class="col-md-4 btn btn-fill btn-success move" id="l" style="height:50px;width:200px" disabled="disabled">
                                                     <center><div class="triangle-left"></div></center>Left
                                                </button>
                                              </div>

                                              <div class="col-xs-1 col-md-1">

                                               <button class="col-md-4 btn btn-fill btn-success move" id="r" style="height:50px;width:200px" disabled="disabled">
                                                   <center><div class="triangle-right"></div></center>Right
                                               </button>
                                                </div>
                                             </div>
                                             <p></p>
                                            <div class="row">
                                              <div class="col-xs-3 col-md-5"></div>
                                              <button  class="col-md-4 btn btn-fill btn-success move" id="b" style="height:50px;width:220px" disabled="disabled">Back
                                               <center><p class="triangle-down"></p></center>
                                              </button>

                                            </div>
                                              <!--<p class="text-center custom-margin0">Joystick</p>-->
                                         
                                          
                                    </div>
                                  
                              </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  </div>
                </div>
            </div>
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.11/lib/OpenLayers.js"></script> 
<script src="socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch-jsonp/1.0.6/fetch-jsonp.min.js"></script>


<script>

//fetchJsonp('http://localhost:3000')
//.then(res => res.json())
//.then(json => console.log(json));



   var socket = io();
   var recAct1 = []
    
  socket.on('MsDtRecAct',data =>{
      recAct1 = data;
  })

 $(document).ready(function() {

 $('#agv').on('change',function() {
        if ($(this).val() == 'SELECT AGV') {
            $('.move').attr('disabled', true);
            $('#AGVmanCtrl').attr('disabled',true);
           
        }else{

          console.log(recAct1)
                 /* if(recAct1 == 'pick1' || recAct1 == 'pick2' || recAct1 == 'pick3' ||  recAct1 == 'pick4' ||  recAct1 == 'drop1' ||  recAct1 == 'drop2' ||  recAct1 == 'drop3' ||  recAct1 == 'drop4' ){
                        $('#AGVmanCtrl').attr('checked',false);
                        $('.move').attr('disabled', true);
                        $('#AGVmanCtrl').attr('disabled',true);
                        alert('This agv cannot be manual control while activity : "'+ recAct1 +'" still running.')

                  }else{ */
                      
                  $('#AGVmanCtrl').attr('checked',false);
                  $('.move').attr('disabled', true);
                  $('#AGVmanCtrl').attr('disabled',false);

               /*   }  */
        } 
        
         })

$('#agv').on('click',function() {

 $('#AGVmanCtrl').prop('checked',false);
  $('.move').attr('disabled', true);
  $('.status1').html("OFF");
  $('.status2').html("OFF");
  $('.colorCircle1').css({'color': 'red'});
   $('.colorCircle2').css({'color': 'red'});
  $('#pointCloudImg').attr("src", "/assets/img/not-found.png");
  $('#cameraImg').attr("src", "/assets/img/not-found.png");
  socket.on('imglah', data =>{
  console.log(data)
})
})



var man = []
 $('#AGVmanCtrl').on('click',function() {
            //check if checkbox is checked
           
                if ($(this).is(':checked')) {
                  $('.move').attr('disabled',false); //enable input
                        var agv_ID = $('#agv').val();
                        var status = 1;
                        var man = {agv_ID:agv_ID,status:status};
                         socket.emit('cam/link',agv_ID);

                        // socket.on('imglah',data =>{
                          // $('#testing').attr("src", data);
                           //console.log(data)
                        // })
                            socket.on('cam/linkS',data =>{
                              //console.log(data)
                            
                                    if(data.Link_Cam != '' && data.Link_Cam != 'No Data'){
                                        $('.status2').html("CONNECTED");
                                        $('.colorCircle2').css({'color': 'green'});
                                        $('#cameraImg').attr("src", data.Link_Cam + agv_ID);
                                       // console.log(data.Link_Cam + agv_ID)
                                        
                                        if(data.Link_PtCld != '' && data.Link_PtCld != 'No Data'){

                                           $('.status1').html("CONNECTED");
                                           $('.colorCircle1').css({'color': 'green'});
                                           $('#pointCloudImg').attr("src", data.Link_PtCld + agv_ID);
                                           console.log(data.Link_PtCld + agv_ID)

                                        }else{

                                          $('.status1').html("NOT AVAILABLE");
                                          $('.colorCircle1').css({'color': 'red'});
                                          $('#pointCloudImg').attr("src", "/assets/img/not-found.png");
                                        }
                                       

                                      socket.emit('sys/man',man);

                                    }else{
                                        
                                        $('.status2').html("NOT AVAILABLE");
                                        $('.colorCircle2').css({'color': 'red'});
                                        $('#cameraImg').attr("src", "/assets/img/not-found.png");
                                        $('#pointCloudImg').attr("src", "/assets/img/not-found.png");

                                        socket.emit('sys/man',man);
                                        
                                        if(data.Link_PtCld != '' && data.Link_PtCld != 'No Data'){

                                           $('.status1').html("CONNECTED");
                                           $('.colorCircle1').css({'color': 'green'});
                                           $('#pointCloudImg').attr("src", data.Link_PtCld + agv_ID);
                                        }else{

                                          $('.status1').html("NOT AVAILABLE");
                                          $('.colorCircle1').css({'color': 'red'});
                                          $('#pointCloudImg').attr("src", "/assets/img/not-found.png");
                                        }
                                    }
                            })

                } else {
                        $('.move').prop('disabled', true); //disable input
                        var agv_ID = $('#agv').val();
                        var status = 0
                        var man = {agv_ID:agv_ID,status:status}

                        $('.status1').html("DISCONNECT");
                        $('.status2').html("DISCONNECT");
                        $('.colorCircle1').css({'color': 'red'});
                        $('.colorCircle2').css({'color': 'red'});
                        $('#pointCloudImg').attr("src", "/assets/img/not-found.png");
                        $('#cameraImg').attr("src", "/assets/img/not-found.png");
                      
                      socket.emit('sys/man',man);
                }

  });


              var timeoutId = 0;
              var socket = io();
              $('.move').on('mousedown', function() {
                  var id = $(this).attr('id');
                  var agv = $('#agv').val();
                  var json = {agvMv:id,agv_ID:agv}
                  socket.emit('sys/mv1', json)
                  //console.log(json)
                  timeoutId = setInterval(function() {
                      socket.emit('sys/mv', json);
                  }, 10);
              }).on('mouseup mouseleave', function() {
                  clearInterval(timeoutId);
              });

 })
</script>
  
  
  <script>

$(document).ready(() => {

    initmap();
    
    socket.on("agVht",data =>{

      graph_table_routine(data);


    });


}) 



var map;
var epsg4326;
var projectTo;
var vectorLayer;
var chartV;
var chartS;
var chartT;



$(document).on('change','#agvValMap',function()  {
    reset_graph_table();
 })


function reset_graph_table(){
    updatemap("103.79007","1.30065","NOAGV");
}

function initmap()
{
    staticmap("103.79007" ,"1.30065"); 
}

function staticmap(long,lat)
{

    map = new OpenLayers.Map("map");
    map.addLayer(new OpenLayers.Layer.OSM());
    
    epsg4326 =  new OpenLayers.Projection("EPSG:4326"); //WGS 1984 projection
    projectTo = map.getProjectionObject(); //The map projection (Spherical Mercator)
   
    var lonLat = new OpenLayers.LonLat( 103.7901 ,1.3008  ).transform(epsg4326, projectTo);
          
    
    var zoom=18;
    map.setCenter (lonLat, zoom);

    vectorLayer = new OpenLayers.Layer.Vector("Overlay");
    
    // Define markers as "features" of the vector layer:
    var feature = new OpenLayers.Feature.Vector(
            new OpenLayers.Geometry.Point( parseFloat(long) ,parseFloat(lat) ).transform(epsg4326, projectTo),
            {description:'AT200_1'} ,
            {externalGraphic: '/assets/img/marker.png', graphicHeight: 25, graphicWidth: 21, graphicXOffset:-12, graphicYOffset:-25  }
        );    
    vectorLayer.addFeatures(feature);
    var feature = new OpenLayers.Feature.Vector(
            new OpenLayers.Geometry.Point( 103.79007 ,1.30065  ).transform(epsg4326, projectTo),
            {description:'Point 2'} ,
            {externalGraphic: '/assets/img/goal.png', graphicHeight: 25, graphicWidth: 21, graphicXOffset:-12, graphicYOffset:-25  }
        );    
    vectorLayer.addFeatures(feature);

    var feature = new OpenLayers.Feature.Vector(
            new OpenLayers.Geometry.Point( 103.79008 ,1.3008).transform(epsg4326, projectTo),
            {description:'Home'} ,
            {externalGraphic: '/assets/img/home.png', graphicHeight: 25, graphicWidth: 21, graphicXOffset:-12, graphicYOffset:-25  }
        );    
    vectorLayer.addFeatures(feature);

   
    map.addLayer(vectorLayer);
 
    
    //Add a selector control to the vectorLayer with popup functions
    var controls = {
      selector: new OpenLayers.Control.SelectFeature(vectorLayer, { onSelect: createPopup, onUnselect: destroyPopup })
    };

    function createPopup(feature) {
      feature.popup = new OpenLayers.Popup.FramedCloud("pop",
          feature.geometry.getBounds().getCenterLonLat(),
          null,
          '<div class="markerContent">'+feature.attributes.description+'</div>',
          null,
          true,
          function() { controls['selector'].unselectAll(); }
      );
      //feature.popup.closeOnMove = true;
      map.addPopup(feature.popup);
    }

    function destroyPopup(feature) {
      feature.popup.destroy();
      feature.popup = null;
    }
    
    map.addControl(controls['selector']);
    controls['selector'].activate();
}

 function graph_table_routine(data){
    var idx = $("#agvValMap").val();
     //console.log(idx)
    if(data.agv_ID == idx)
   
    {
      
        updatemap(data.loc.long,data.loc.lat,data.agv_ID);
    }
}

function updatemap(long,lat,agv)
{

    map.removeLayer(vectorLayer);
    var lonLat = new OpenLayers.LonLat( 103.7901 ,1.3008  ).transform(epsg4326, projectTo);
    vectorLayer = new OpenLayers.Layer.Vector("Overlay");
    
    if (agv != "NOAGV")
    {
        var feature = new OpenLayers.Feature.Vector(
            new OpenLayers.Geometry.Point( parseFloat(long) ,parseFloat(lat) ).transform(epsg4326, projectTo),
            {description:agv} ,
            {externalGraphic: '/assets/img/marker.png', graphicHeight: 25, graphicWidth: 21, graphicXOffset:-12, graphicYOffset:-25  }
        );    
        vectorLayer.addFeatures(feature);
    }
    var feature = new OpenLayers.Feature.Vector(
            new OpenLayers.Geometry.Point( 103.79007 ,1.30065  ).transform(epsg4326, projectTo),
            {description:'Point 2'} ,
            {externalGraphic: '/assets/img/goal.png', graphicHeight: 25, graphicWidth: 21, graphicXOffset:-12, graphicYOffset:-25  }
        );    
    vectorLayer.addFeatures(feature);

    var feature = new OpenLayers.Feature.Vector(
            new OpenLayers.Geometry.Point( 103.79008 ,1.3008).transform(epsg4326, projectTo),
            {description:'Home'} ,
            {externalGraphic: '/assets/img/home.png', graphicHeight: 25, graphicWidth: 21, graphicXOffset:-12, graphicYOffset:-25  }
        );    
    vectorLayer.addFeatures(feature);
    map.addLayer(vectorLayer);
 
    //Add a selector control to the vectorLayer with popup functions
    var controls = {
      selector: new OpenLayers.Control.SelectFeature(vectorLayer, { onSelect: createPopup, onUnselect: destroyPopup })
    };

    function createPopup(feature) {
      feature.popup = new OpenLayers.Popup.FramedCloud("pop",
          feature.geometry.getBounds().getCenterLonLat(),
          null,
          '<div class="markerContent">'+feature.attributes.description+'</div>',
          null,
          true,
          function() { controls['selector'].unselectAll(); }
      );
      //feature.popup.closeOnMove = true;
      map.addPopup(feature.popup);
    }

    function destroyPopup(feature) {
      feature.popup.destroy();
      feature.popup = null;
    }
    
    map.addControl(controls['selector']);
    controls['selector'].activate();
}

     //window.onload = initMap;
     //setInterval(100,initMap);
     </script>

   