<style>
    .swal2-container {
        zoom: 2.0;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="content">
                    <div class="form-inline">
                        <div class="form-group">
                            <form action="#" class="form" style="margin-top:20px; margin-left: 20px;">
                                <label>1. SELECT AGV : </label>
                                <select id="agv" class="form-control" style="width:200px">
                                    <option disabled selected value="SELECT AGV">Select AGV</option>
                                    {{#each agv}}
                                    <option value="{{this.agv_ID}}">{{this.agv_ID}}</option>
                                    {{/each}}
                                </select>
                            </form>
                            <br>
                        </div>
                        <label class="label">
                            2. START TELEOP :</lable>
                            <label class="switch">
                                <input id="AGVmanCtrl" type="checkbox" disabled="disabled">
                                <span class="slider round"></span>
                            </label>
                            <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover"
                               title="Please choose agv first before start teleop">
                                <i class="fa fa-info-circle"
                                   style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                            </a>
                            <button data-toggle="modal" id="shutOff" type="button"
                                    class="btn btn-danger btn-fill form-control shutOff" disabled="disabled" style="margin-left:50px">
                                SHUT DOWN
                            </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="content">
            <div class="col-lg-12 col-md-4">
                <div class="col-lg-4 col-md-4">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">
                                Point Cloud : <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover"
                                                 title=""><i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i></a>
                            </h4>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-md-12 text-center" style="margin-bottom: 5px">
                                    <p>
                                        Connection status: <i class="fa fa-circle colorCircle2" style="font-size:16px;color:red"></i> <span class="status2">OFF</span>
                                    </p>
                                </div>
                                <div class="text-center" style="width: 100%;height: 100%;overflow: hidden;">
                                    <iframe id="pointCloudImg" src="/assets/img/img.html" frameborder="0" scrolling="no"></iframe>
                                    <!-- <img src="/assets/img/not-found.png" class="img-responsive" alt="arm-img0" id="pointCloudImg"> -->
                                </div>
                                <div class="col-md-12 text-center" style="margin-top: 10px">
                                    <button class="col-md-4 btn btn-fill btn-info zoom" disabled="disabled" value="1">1x</button>
                                    <button class="col-md-4 btn btn-fill btn-info zoom" disabled="disabled" value="2">2x</button>
                                    <button class="col-md-4 btn btn-fill btn-info zoom" disabled="disabled" value="3">3x</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">
                                Map : <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title="">
                                    <i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                                </a>
                                <span class="pull-right" id="agvFollowTurret"></span>
                            </h4>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-md-12 text-center" style="overflow:hidden;">
                                    <p><span><br /></span></p>
                                    <div id="map"></div>
                                    <span id="mapPointer"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end row-->

                <div class="col-lg-4 col-md-4">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">
                                Camera : <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title="">
                                    <i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                                </a>
                            </h4>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-md-12 text-center" style="margin-bottom: 5px">
                                    <p>
                                        Connection status: <i class="fa fa-circle colorCircle2" style="font-size:16px;color:red"></i> <span class="status2">OFF</span>
                                    </p>
                                </div>
                                <div class="col-md-12 text-center">
                                    <!-- <img src="/assets/img/not-found.png" class="p-1 bg-dark" id="cameraImg"  class="img-responsive"  width="100%"> -->
                                    <iframe id="cameraImg" src="/assets/img/img.html" frameborder="0" scrolling="no" width="640px"
                                            height="350px"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--{{#each health_dt}}
                <input type="hidden" id="longGrp" value="{{this.Long}}">
                <input type="hidden" id="latGrp" value="{{this.Lat}}">
                {{/each}}-->
            </div>
            <div class="col-md-12">
                <div class="col-lg-12 col-md-6">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">
                                Controls : <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover"
                                              title="">
                                    <i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                                </a>
                            </h4>
                        </div>

                        <div class="content">
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="col-xs-12 col-md-12">
                                        <div class="row">
                                            <div class="col-xs-3 col-md-5"></div>
                                            <button class="col-md-4 btn btn-fill btn-success move" id="f" style="height:50px;width:220px;"
                                                    disabled="disabled">
                                                <center>
                                                    <p class="triangle-up"></p>Forward
                                                </center>
                                            </button>
                                        </div>
                                        <p></p>
                                        <div class="row">
                                            <div class="col-xs-1 col-lg-4" align="center"> </div>
                                            <div class="col-xs-4 col-lg-2" align="center">
                                                <button class="col-md-4 btn btn-fill btn-success move" id="l" style="height:50px;width:200px"
                                                        disabled="disabled">
                                                    <center>
                                                        <div class="triangle-left"></div>
                                                    </center>Left
                                                </button>
                                            </div>

                                            <div class="col-xs-1 col-md-1">
                                                <button class="col-md-4 btn btn-fill btn-success move" id="r" style="height:50px;width:200px"
                                                        disabled="disabled">
                                                    <center>
                                                        <div class="triangle-right"></div>
                                                    </center>Right
                                                </button>
                                            </div>
                                        </div>
                                        <p></p>
                                        <div class="row">
                                            <div class="col-xs-3 col-md-5"></div>
                                            <button class="col-md-4 btn btn-fill btn-success move" id="b" style="height:50px;width:220px"
                                                    disabled="disabled">
                                                Back
                                                <center>
                                                    <p class="triangle-down"></p>
                                                </center>
                                            </button>
                                        </div>
                                        <!--<p class="text-center custom-margin0">Joystick</p>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.11/lib/OpenLayers.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch-jsonp/1.0.6/fetch-jsonp.min.js"></script>

    <script>
        var mapDetail = {
            homePoints: {},
            missionPoints: {},
            agv: null,
        }
        var epsg4326;
        var projectTo;
        var vectorLayer;
        var socket = io();
        var timeoutId = 0;
        var recAct1 = [];
        var HomePoints = {};
        var AGVpoints = {};
        // var map;
        socket.on('MsDtRecAct', data => {
            recAct1 = data;
        })

        //Map related
        function moveAGV(long, lat, agv) {
            try {
                var createlong = long == null || long == "" || !parseFloat(long) ? 103.7901 : parseFloat(long),
                    createlat = lat == null || lat == "" || !parseFloat(lat) ? 1.301 : parseFloat(lat);
                var newloc = new OpenLayers.LonLat(parseFloat(createlong), parseFloat(createlat)).transform(epsg4326, projectTo);
                epsg4326 = new OpenLayers.Projection("EPSG:4326");
                projectTo = map.getProjectionObject();
                if (mapDetail.agv != null && mapDetail.agv.geometry != null) {
                    var Lonmax = 103.7901 + 0.001,
                        Lonmin = 103.7901 - 0.001,
                        Latmax = 1.3008 + 0.0002,
                        Latmin = 1.3008 - 0.0002,
                        generateLon = (Math.random() * (Lonmax - Lonmin) + Lonmin).toFixed(4),
                        generateLat = (Math.random() * (Latmax - Latmin) + Latmin).toFixed(4);

                    mapDetail.agv.geometry.x = newloc.lon;
                    mapDetail.agv.geometry.y = newloc.lat;
                    vectorLayer.redraw();
                    if (mapDetail.agv.attributes.class != null && mapDetail.agv.attributes.class.toLowerCase() == "followme") {
                        map.panTo(newloc);
                    }
                }
                else {
                    var createlong = long == null || long == "" || !parseFloat(long) ? 103.7901 : parseFloat(long),
                        createlat = lat == null || lat == "" || !parseFloat(lat) ? 1.301 : parseFloat(lat);
                    var feature = new OpenLayers.Feature.Vector(
                        new OpenLayers.Geometry.Point(createlong, createlat).transform(epsg4326, projectTo),
                        {
                            description: agv != null && agv != "" ? agv : 'no AGV name loaded',
                            class: "followme"
                        },
                        { externalGraphic: '/assets/img/marker.png', pointRadius: 25, graphicHeight: 25, graphicWidth: 25, graphicXOffset: -12, graphicYOffset: -25 }
                    );
                    feature.id = "mapAGV";
                    var span = document.getElementById("agvFollowTurret");
                    span.textContent = "Following AGV";
                    mapDetail.agv = feature;
                    vectorLayer.addFeatures(feature);
                    vectorLayer.redraw();
                    map.panTo(newloc);
                }
            }
            catch (e) {
                console.log(e);
            }

        }
        function renderMap(reset) {
            mapDetail.agv = null;
            var span = document.getElementById("agvFollowTurret");
            span.textContent = "";
            $("#map").html("");
            map = new OpenLayers.Map("map");
            map.addLayer(new OpenLayers.Layer.OSM());
            epsg4326 = new OpenLayers.Projection("EPSG:4326");
            projectTo = map.getProjectionObject();
            var lonLat = new OpenLayers.LonLat(103.7901, 1.3008).transform(epsg4326, projectTo);
            var zoom = 18;
            map.setCenter(lonLat, zoom);
            if (reset != undefined && reset == true) {
                mapUpdateHomeandPoints();
            }
        }
        function removelayer() {
            var layer = map.layers;
            console.log(layer);
            if (layer[1]) {
                //  map.removeLayer(layer[1]);
            }
        }
        function mapInit() {
            $.ajax({
                url: 'mapAPI/getHomePoint',
                type: 'POST',
                contentType: "application/json",
                datatype: 'json',
                beforeSend: function () {
                },
                success: function (result) {
                    if (result.isSuccessful) {
                        if (result.data.homepoints && result.data.homepoints.length > 0) {
                            mapDetail.homePoints = result.data.homepoints;
                        }
                    }
                    else {
                        console.log("map rendering failed");
                    }

                },
                error: function (result) {
                    console.log('ajax Error');
                },
                complete: function () {
                    console.log(mapDetail);
                    mapUpdateHomeandPoints();
                }

            });
        }
        function getHomePoint() {
            $.ajax({
                url: 'mapAPI/getHomePoint',
                type: 'POST',
                async: false,
                datatype: 'json',
                beforeSend: function () {

                },
                success: function (result) {
                    if (result.isSuccessful && result.data.homepoints.length > 0) {
                        HomePoints = result.data.homepoints;
                    }
                    else {
                        console.log('failed on Ajax ');
                    }
                },
                error: function (result) {
                    console.log('ajax Error');
                },
                complete: function () {
                    testmap();
                }

            });
        }
        function mapUpdateHomeandPoints() {
            vectorLayer = new OpenLayers.Layer.Vector("Overlay");
            mapPointLayer = new OpenLayers.Layer.Vector("Overlay");
            //generate homepoints
            if (mapDetail.homePoints != null && mapDetail.homePoints.length > 0) {
                for (i = 0; i < mapDetail.homePoints.length; i++) {
                    try {
                        var homelat = mapDetail.homePoints[i].Home_Lat != null && mapDetail.homePoints[i].Home_Lat != "" ? mapDetail.homePoints[i].Home_Lat.toString() : "1.300789";
                        var homelong = mapDetail.homePoints[i].Home_Long != null && mapDetail.homePoints[i].Home_Long != "" ? mapDetail.homePoints[i].Home_Long.toString() : "103.79008";

                        var Home = new OpenLayers.Feature.Vector(
                            new OpenLayers.Geometry.Point(parseFloat(homelong), parseFloat(homelat)).transform(epsg4326, projectTo),
                            //   { popuptext: mapDetail.homePoints[i].Name != null && mapDetail.homePoints[i] != "" ? mapDetail.homePoints[i].Name : "Unamed Home"},
                            {
                                description: mapDetail.homePoints[i].Name != null && mapDetail.homePoints[i] != "" ? mapDetail.homePoints[i].Name : "Unamed Home",
                                id: mapDetail.homePoints[i].Name != null && mapDetail.homePoints[i] != "" ? mapDetail.homePoints[i].Name : "Unamed Home"
                            },
                            { externalGraphic: '/assets/img/home.png', pointRadius: 25, graphicHeight: 25, graphicWidth: 25, graphicXOffset: -12, graphicYOffset: -25 }
                        );
                        vectorLayer.addFeatures(Home);
                    }
                    catch (error) {
                        console.log("Map error " + error);
                    }
                }
            }
            else {
                var feature = new OpenLayers.Feature.Vector(
                    new OpenLayers.Geometry.Point(103.79008, 1.3008).transform(epsg4326, projectTo),
                    { description: 'Could not load homepoints' },
                    { externalGraphic: '/assets/img/home.png', pointRadius: 25, graphicHeight: 25, graphicWidth: 21, graphicXOffset: -12, graphicYOffset: -25 }
                );
                vectorLayer.addFeatures(feature);
            }
            //generate Mission Goal points
            if (mapDetail.missionPoints != null && mapDetail.missionPoints.length > 0) {
                for (i = 0; i < mapDetail.missionPoints.length; i++) {
                    try {
                        var missionlat = mapDetail.missionPoints[i].Lat != null && mapDetail.missionPoints[i].Lat != "" ? mapDetail.missionPoints[i].Lat.toString() : "1.300789";
                        var missionlong = mapDetail.missionPoints[i].Long != null && mapDetail.missionPoints[i].Long != "" ? mapDetail.missionPoints[i].Long.toString() : "103.79008";

                        var Activities = new OpenLayers.Feature.Vector(
                            new OpenLayers.Geometry.Point(parseFloat(missionlong), parseFloat(missionlat)).transform(epsg4326, projectTo),
                            { description: mapDetail.missionPoints[i].Name != null && mapDetail.missionPoints[i] != "" ? mapDetail.missionPoints[i].Name : "Unamed Home" },
                            { externalGraphic: '/assets/img/goal.png', pointRadius: 25, graphicHeight: 25, graphicWidth: 21, graphicXOffset: -12, graphicYOffset: -25 }
                        );
                        mapPointLayer.addFeatures(Activities);
                    }
                    catch (error) {
                    }
                }
            }
            map.addLayer(mapPointLayer);
            map.addLayer(vectorLayer);

            //Add a selector control to the vectorLayer with popup functions
            var controls = {
                selector: new OpenLayers.Control.SelectFeature([vectorLayer, mapPointLayer], {
                    //hover: true,
                    //highlightOnly: true,
                    renterIntent: "temporary",
                    callbacks: {
                        over: createPopup,
                        out: destroyPopup,
                        click: focusme,
                        dblclick: followme,
                    },
                    onSelect: focusme,
                    //onUnselect: destroyPopup
                })
            };
            function followme(feature) {
                try {
                    if (feature.id.toLowerCase() == "mapagv") {
                        var span = document.getElementById("agvFollowTurret");
                        if (feature.attributes.class.toLowerCase() == "followme") {
                            feature.attributes.class = "dontfollowme";
                            span.textContent = "";
                        }
                        else {
                            feature.attributes.class = "followme";
                            span.textContent = "Following AGV";
                        }
                    }
                }
                catch (e) {
                }

            }
            function focusme(feature) {
                try {
                    var clickzoom = map.zoom < 16 ? 18 : map.zoom,
                        clicklong = feature.geometry.x,
                        clicklat = feature.geometry.y,
                        clicklonlat = new OpenLayers.LonLat(clicklong, clicklat);
                    map.panTo(clicklonlat);
                    map.zoomTo(clickzoom);
                }
                catch (e) {
                    console.log(e);
                }
            }
            function createPopup(feature) {
                try {
                    var pointer = document.getElementById("mapPointer");
                    pointer.innerHTML = "You're pointing to: " + feature.attributes.description + "<br/>(" + feature.geometry.x + ", " + feature.geometry.y + ")";
                    if (pointer.style.display == "none") {
                        $("span#mapPointer").fadeIn();
                    }
                }
                catch (e) {

                }

            }
            function destroyPopup(feature) {
                var pointer = document.getElementById("mapPointer");
                pointer.innerHTML = "";
                if (pointer.style.display != "none") {
                    pointer.style.display = "none";
                }

            }
            map.addControl(controls['selector']);
            controls['selector'].activate();
        }
        //---end of Map related

        $(document).ready(function () {
            renderMap();
            mapInit();
            $('#pointCloudImg').css("height", "350px");
            $('#pointCloudImg').css("width", "640px");

            $('#agv').on('change', function () {
                renderMap(true);
                if ($(this).val() == 'SELECT AGV') {
                    $('.move').attr('disabled', true);
                    $('#AGVmanCtrl').attr('disabled', true);
                    $('#shutOff').attr('disabled', true);
                    $('#slider_switch').attr('disabled', true);
                } else {
                    console.log(recAct1)
                    $('#AGVmanCtrl').attr('checked', false);
                    $('.move').attr('disabled', true);
                    $('#AGVmanCtrl').attr('disabled', false);

                }

            })
            $('#agv').on('click', function () {
                $('#slider_switch').attr('disabled', true);
                $('#shutOff').attr('disabled', true);
                $('#AGVmanCtrl').prop('checked', false);
                $('.move').attr('disabled', true);
                $('.status1').html("OFF");
                $('.status2').html("OFF");
                $('.colorCircle1').css({ 'color': 'red' });
                $('.colorCircle2').css({ 'color': 'red' });
                $('#pointCloudImg').attr("src", "/assets/img/img.html");
                $('#cameraImg').attr("src", "/assets/img/img.html");
                socket.on('imglah', data => {
                    console.log(data)
                })
            })
            var man = []
            $('#AGVmanCtrl').on('change', function () {
                //check if checkbox is checked
                if ($(this).is(':checked')) {
                    $('#shutOff').attr('disabled', false);
                    $('.move').attr('disabled', false); //enable input
                    $('.zoom').attr('disabled', false); //enable input
                    var agv_ID = $('#agv').val();
                    var status = 1;
                    var man = { agv_ID: agv_ID, status: status };
                    showload_start();
                    socket.emit('cam/link', agv_ID);

                    socket.on('cam/linkS', data => {
                        showload_stop();
                        if (data.Link_Cam != '' && data.Link_Cam != 'No Data') {
                            $('.status2').html("CONNECTED");
                            $('.colorCircle2').css({ 'color': 'green' });
                            $('#cameraImg').attr("src", data.Link_Cam + agv_ID);
                            // console.log(data.Link_Cam + agv_ID)

                            if (data.Link_PtCld != '' && data.Link_PtCld != 'No Data') {

                                $('.status1').html("CONNECTED");
                                $('.colorCircle1').css({ 'color': 'green' });
                                $('#pointCloudImg').attr("src", data.Link_PtCld + agv_ID);
                                // $('#pointCloudImg').attr("src", "http://efova.com/stream.html");
                                // console.log(data.Link_PtCld + agv_ID)

                            } else {

                                $('.status1').html("NOT AVAILABLE");
                                $('.colorCircle1').css({ 'color': 'red' });
                                $('#pointCloudImg').attr("src", "/assets/img/img.html");
                            }

                            socket.emit('sys/man', man);

                        } else {

                            $('.status2').html("NOT AVAILABLE");
                            $('.colorCircle2').css({ 'color': 'red' });
                            $('#cameraImg').attr("src", "/assets/img/img.html");
                            $('#pointCloudImg').attr("src", "/assets/img/img.html");

                            socket.emit('sys/man', man);

                            if (data.Link_PtCld != '' && data.Link_PtCld != 'No Data') {

                                $('.status1').html("CONNECTED");
                                $('.colorCircle1').css({ 'color': 'green' });
                                $('#pointCloudImg').attr("src", data.Link_PtCld + agv_ID);
                            } else {

                                $('.status1').html("NOT AVAILABLE");
                                $('.colorCircle1').css({ 'color': 'red' });
                                $('#pointCloudImg').attr("src", "/assets/img/img.html");
                            }
                        }
                    })

                }
                else {
                    $('#shutOff').attr('disabled', true);
                    $('.move').prop('disabled', true); //disable input
                    var agv_ID = $('#agv').val();
                    var status = 0
                    var man = { agv_ID: agv_ID, status: status }
                    renderMap(true);
                    $('.status1').html("DISCONNECT");
                    $('.status2').html("DISCONNECT");
                    $('.colorCircle1').css({ 'color': 'red' });
                    $('.colorCircle2').css({ 'color': 'red' });
                    $('#pointCloudImg').attr("src", "/assets/img/img.html");
                    $('#cameraImg').attr("src", "/assets/img/img.html");

                    socket.emit('sys/man', man);
                }

            });
            $('.move').on('mousedown', function () {
                var id = $(this).attr('id');
                var agv = $('#agv').val();
                var json = { agvMv: id, agv_ID: agv }
                socket.emit('sys/mv1', json)
                //console.log(json)
                timeoutId = setInterval(function () {
                    socket.emit('sys/mv', json);
                }, 10);
            }).on('mouseup mouseleave', function () {
                clearInterval(timeoutId);
            });
            $('.zoom').on('click', function () {
                var z = $(this).val();
                if (z == "1") {
                    $('#pointCloudImg').css("height", "400px");
                    $('#pointCloudImg').css("width", "640px");
                    $('#pointCloudImg').css("margin-left", "0px");
                    $('#pointCloudImg').css("margin-top", "0px");
                }
                if (z == "2") {
                    $('#pointCloudImg').css("height", "800px");
                    $('#pointCloudImg').css("width", "1280px");
                    $('#pointCloudImg').css("margin-left", "-320px");
                    $('#pointCloudImg').css("margin-top", "-200px");
                }
                if (z == "3") {
                    $('#pointCloudImg').css("height", "1200px");
                    $('#pointCloudImg').css("width", "1920px");
                    $('#pointCloudImg').css("margin-left", "-640px");
                    $('#pointCloudImg').css("margin-top", "-400px");
                }
            });

        })

        //-------MAP AND MARKER-------//
        socket.on("agVht", data => {
            if ($('#AGVmanCtrl').is(':checked')) {
                if ($('#agv').val() == data.agv_ID) {
                    moveAGV(data.loc.long, data.loc.lat, data.agv_ID);
                }
            }
        });
        $("#shutOff").on('click', function (event) {
            Swal.fire({
                title: "ARE YOU SURE WANT TO SHUT DOWN " + $('#agv').val(),
                text: "You won't be able to revert this!",
                type: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'SHUT DOWN ' + $('#agv').val()
            }).then((result) => {
                if (result.value) {
                    renderMap(true);
                    $('#shutOff').attr('disabled', true);
                    $('#AGVmanCtrl').prop('checked', false);
                    $('.move').attr('disabled', true);
                    $('.status1').html("OFF");
                    $('.status2').html("OFF");
                    $('.colorCircle1').css({ 'color': 'red' });
                    $('.colorCircle2').css({ 'color': 'red' });
                    $('#pointCloudImg').attr("src", "/assets/img/img.html");
                    $('#cameraImg').attr("src", "/assets/img/img.html");

                    socket.emit('getSdReq', { agv_id: $('#agv').val(), cmd: "shutdown" });
                    Swal.fire(
                        'SHUT DOWN COMMAND SENT!',
                        $('#agv').val() + " is shutting down",
                        'success'
                    )
                }
                else {
                    Swal.fire(
                        'SHUT DOWN COMMAND TERMINATED !',
                        $('#agv').val() + " is online",
                        'error'
                    )
                }
            })
        });
    </script>
