{{!-- <script src='https://kit.fontawesome.com/a076d05399.js'></script> --}}
<div class="container-fluid">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item active">
            <a class="nav-link active" id="mission-tab" data-toggle="tab" href="#mission" role="tab" aria-controls="mission" aria-selected="true" aria-expanded="true"><h6>USER LIST</h6></a>
        </li>

    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade active in" id="mission" role="tabpanel" aria-labelledby="mission-tab">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-md-4">
                            <!-- <div class="col-md-6 form-group"> -->

                            <label class="label">Filter by Name</label>
                            <!--<input type="text" id="searchBox" placeholder="Search for user" autocomplete="off" title="Search user by name" />
                            <input type="text" id="nthham" placeholder="Search for user111" autocomplete="off" title="Search user by name" />
                            <input type="text" id="nthham" placeholder="Search for user333" autocomplete="off" title="Search user by name" />-->
                            <form onsubmit="userSearch()" class="false-forms" autocomplete="off" id="formSearchUser">
                                <input type="text" autocomplete="off" class="form-control" id="searchBox" placeholder="Search for name.." title="Type in a name">
                            </form>

                            <!-- </div>-->

                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-success btn-fill form-control" data-toggle="modal" data-target="#modalUserA" id="uAdd"><span class="ti-plus"></span> Add New User</button>

                        </div>
                    </div>
                </div>
                <div class="content">
                    <input type="hidden" id="generateAuto" name="length" value="15">
                    <input type="hidden" id="row_password" type="text" size="40">&nbsp;
                    <!-- <input type="button" class="button" value="Generate" id="btnlah" tabindex="2">-->
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th width="5%">#</th>
                                <th width="10%">Username</th>
                                <th width="15%">Name</th>
                                <th width="10%">User Type</th>
                                <th width="15%">Date Created</th>
                                <th width="10%">Status</th>
                                <th width="25%">
                                    Action <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title="Please copy New Password in the popup after click on 'Reset'">
                                        <i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tableBodyUser">

                            {{#each user}}
                            <tr>
                                {{#filter_user this.loginid this.Type}}
                                <td>{{inc @index}}</td>
                                <td>{{this.Username}}</td>
                                <td>{{this.Name}}</td>
                                <td>{{this.Type}}</td>
                                <td>{{fmsTime this.TS}}</td>
                                {{#ifCond this.Type "ADMIN"}}
                                {{#ifCond this.Login_Status "NORMAL"}}
                                <td class="text-success"><h5>{{this.Login_Status}}</h5></td>
                                <td>
                                    <!--EditButton-->
                                    <button style="width:100px" class="eUsrBtn btn btn-fill btn-warning form-control" dir="{{this._id}}" data-toggle="modal" data-target="#modalUserE"><span class="ti-pencil"></span> Edit</button>
                                              <button style="width:100px" data-toggle="modal" data-target="#modalUserD" class="dUsrBtn btn btn-fill btn-danger form-control" dir="{{this._id}}"><span class="ti-trash"></span> Delete</button>
                                    <!--ResetButton-->
                                    <button style="width:100px" data-toggle="modal" data-target="#resetUserPassword" class="ResetPassButton btn btn-fill btn-basic form-control" dir="{{this._id}}"><span class="fa fa-lock"></span>Reset</button>

                                </td>
                                {{/ifCond}}
                                {{#ifCond this.Login_Status "BLOCKED"}}
                                <td class="text-danger"><h5>{{this.Login_Status}}</h5></td>
                                <td>
                                    <!--EditButton-->
                                    <button style="width:100px" class="eUsrBtn btn btn-fill btn-warning form-control" dir="{{this._id}}" data-toggle="modal" data-target="#modalUserE"><span class="ti-pencil"></span> Edit</button>
                                    <button style="width:100px" data-toggle="modal" data-target="#modalUserD" class="dUsrBtn btn btn-fill btn-danger form-control" dir="{{this._id}}"><span class="ti-trash"></span> Delete</button>
                                    <!--UnblockButton-->
                                    <button style="width:100px" class="UnblockUserBtn btn btn-fill btn-success form-control" dir="{{this._id}}"><span class="fa fa-minus-square"></span>Unblock</button>
                                    {{!-- <span class="fas fa-exclamation-circle" style="font-size:30px;color:red"></span> --}}

                                </td>
                                {{/ifCond}}
                                {{/ifCond}}
                                {{#ifCond this.Type "OPERATOR"}}
                                {{#ifCond this.Login_Status "NORMAL"}}
                                <td class="text-success"><h5>{{this.Login_Status}}</h5></td>
                                <td>
                                    <!--EditButton-->
                                    <button style="width:100px" class="eUsrBtn btn btn-fill btn-warning form-control" dir="{{this._id}}" ><span class="ti-pencil"></span> Edit</button>
                                    <!--DeleteButton-->
                                    <button style="width:100px" data-toggle="modal" data-target="#modalUserD" class="dUsrBtn btn btn-fill btn-danger form-control" dir="{{this._id}}"><span class="ti-trash"></span> Delete</button>
                                    <!--ResetButton-->
                                    <button style="width:100px" data-toggle="modal" data-target="#resetUserPassword" class="ResetPassButton btn btn-fill btn-basic form-control" dir="{{this._id}}"><span class="fa fa-lock"></span>Reset</button>
                                </td>
                                {{/ifCond}}
                                {{#ifCond this.Login_Status "BLOCKED"}}
                                <td class="text-danger"><h5>{{this.Login_Status}}</h5></td>
                                <td>
                                    <!--EditButton-->
                                    <button style="width:100px" class="eUsrBtn btn btn-fill btn-warning form-control" dir="{{this._id}}"><span class="ti-pencil"></span> Edit</button>
                                    <!--DeleteButton-->
                                    <button style="width:100px" data-toggle="modal" data-target="#modalUserD" class="dUsrBtn btn btn-fill btn-danger form-control" dir="{{this._id}}"><span class="ti-trash"></span> Delete</button>
                                    {{!-- <span class="fas fa-exclamation-circle" style="font-size:30px;color:red"></span> --}}
                                    <!--UnblockButton data-toggle="modal" data-target="#ModalunblockUser" -->
                                    <button style="width:100px" class="UnblockUserBtn btn btn-fill btn-success form-control" dir="{{this._id}}"><span class="fa fa-minus-square"></span>Unblock</button>

                                </td>
                                {{/ifCond}}
                                {{/ifCond}}
                                {{#ifCond this.Type "OBSERVER"}}
                                {{#ifCond this.Login_Status "NORMAL"}}
                                <td class="text-success"><h5>{{this.Login_Status}}</h5></td>
                                <td>
                                    <!--EditButton-->
                                    <button style="width:100px" class="eUsrBtn btn btn-fill btn-warning form-control" dir="{{this._id}}"><span class="ti-pencil"></span> Edit</button>
                                    <!--DeleteButton-->
                                    <button style="width:100px" data-toggle="modal" data-target="#modalUserD" class="dUsrBtn btn btn-fill btn-danger form-control" dir="{{this._id}}"><span class="ti-trash"></span> Delete</button>
                                    <!--ResetButton-->
                                    <button style="width:100px" data-toggle="modal" data-target="#resetUserPassword" class="ResetPassButton btn btn-fill btn-basic form-control" dir="{{this._id}}"><span class="fa fa-lock"></span>Reset</button>
                                </td>
                                {{/ifCond}}
                                {{#ifCond this.Login_Status "BLOCKED"}}
                                <td class="text-danger"><h5>{{this.Login_Status}}</h5></td>
                                <td>
                                    <!--EditButton-->
                                    <button style="width:100px" class="eUsrBtn btn btn-fill btn-warning form-control" dir="{{this._id}}"><span class="ti-pencil"></span> Edit</button>
                                    <!--DeleteButton-->
                                    <button style="width:100px" data-toggle="modal" data-target="#modalUserD" class="dUsrBtn btn btn-fill btn-danger form-control" dir="{{this._id}}"><span class="ti-trash"></span> Delete</button>
                                    <!--UnblockButton-->
                                    <button style="width:100px" class="UnblockUserBtn btn btn-fill btn-success form-control" dir="{{this._id}}"><span class="fa fa-minus-square"></span>Unblock</button>
                                </td>

                                {{/ifCond}}
                                {{/ifCond}}
                                {{/filter_user}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

</div></div>

{{!------------------------------------------------------------------------ USER SETTING MODAL -----------------------------------------------------------------------}}

<!-- MODAL ADD USER -->
<div class="modal fade" id="modalUserA" tabindex="-1" role="dialog" aria-labelledby="UserALabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="addmission" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success" id="UserALabel">Add New User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body missionform">
                <div class="form-group ">
                    <label for="missionName" class="col-form-label">Username:</label>
                    <input type="text" class="form-control" id="uA" placeholder="Username">
                    <p id="errUs" class="text-danger"></p>
                    <p id="errUs1" class="text-danger"></p>
                </div>
                <div class="form-group ">
                    <label for="missionName" class="col-form-label">Fullname:</label>
                    <input type="text" class="form-control form-input" id="fA" placeholder="User's Fullname">
                    <p id="errFN" class="text-danger"></p>
                </div>
                <div class="form-group ">
                    <label for="missionName" class="col-form-label">User Type:</label>
                    <select class="form-control" id="utA" placeholder="Select User Type">
                        {{!-- <option value="SELECT_USER_TYPE" selected disabled>Select User Type</option> --}}
                        {{#is_superadmin userid}}
                        <option value="ADMIN">Admin</option>
                        {{/is_superadmin}}
                        <option value="OBSERVER">Observer</option>
                        <option value="OPERATOR">Operator</option>
                    </select>
                    <p id="errRole" class="text-danger"></p>
                </div>
                <div class="form-group col-md-6" style="padding:0">
                    <label for="missionName" class="col-form-label">Password:</label>
                    <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title="Password must be at least 12 character long, and must contain at least 1 numeric, lowercase and upercase alphabet and 1 special character">
                        <i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                    </a>
                    <input type="password" class="form-control" id="pA" autocomplete="off" placeholder="Enter Password" required="required"
                           title="Password must be at least 12 character long, and must contain at least 1 numeric, lowercase and upercase alphabet and 1 special character">
                    {{!-- <span style="color: red;">Note : Password must be at least 12 character long, and must contain at least 1 numeric, lowercase and upercase alphabet and 1 special character</span> --}}
                    <p id="errPass1" class="text-danger"></p>
                    <p id="errPass2" class="text-danger"></p>
                    <p id="errPass3" class="text-danger"></p>
                </div>
                <div class="form-group col-md-6">
                    <label for="missionName" class="col-form-label">Confirm Password:</label>
                    <input type="password" class="form-control" autocomplete="off" id="p2A" placeholder="Reconfirm Password">
                    <p id="errPass" class="text-danger"></p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group col-lg-offset-9">
                    <button style="width: 100px;" type="button" class="cancelUser btn btn-danger btn-fill form-control" data-dismiss="modal">Cancel</button>
                    <button style="width: 100px;" id="uAbtn" type="button" class="btn btn-success btn-fill form-control">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MODAL ADD NEW USER END-->
<!--Modal unblockuser-->

<div class="modal fade" id="ModalunblockUser" tabindex="-1" role="dialog" aria-labelledby="unblockUserLbl" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="addmission" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success" id="unblockUserLbl">Unblock User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body  sosform">
                <p>Are you sure you want unblock this account?</p>
            </div>
            <div class="modal-footer">
                <div class="form-group col-lg-offset-9">

                    <button type="button" style="width:100px" class="btn btn-warning btn-fill form-control" data-dismiss="modal">Cancel</button>
                    <button id="UnblockUserBtn" style="width:100px" type="button" class="btn btn-success btn-fill form-control">Confirm</button>
                    <input type="hidden" id="hdnUnblockUserBtn">
                    <!--former id for above: ResetPassButton-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL EDIT USER -->
<div class="modal fade" id="modalUserE" tabindex="-1" role="dialog" aria-labelledby="UserELabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="addmission" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success" id="UserELabel">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body missionform">
                <div class="form-group ">
                    <label for="missionName" class="col-form-label">Username:</label>
                    <label class="col-form-label" id="uE"></label>
                    <p id="errUs" class="text-danger"></p>
                </div>
                <div class="form-group ">
                    <label for="missionName" class="col-form-label">Fullname:</label>
                    <input type="text" class="form-control form-input" id="eE" placeholder="User's Email">
                </div>
                <div class="form-group ">
                    <label for="missionName" class="col-form-label">User Type:</label>
                    <select class="form-control" id="utE">
                        <option selected disabled>Select User Type</option>
                        {{#is_superadmin userid}}
                        <option value="ADMIN">Admin</option>
                        {{/is_superadmin}}
                        <option value="OBSERVER">Observer</option>
                        <option value="OPERATOR">Operator</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group col-lg-offset-9">
                    <input type="hidden" id="eUsrId">
                    <button style="width: 100px;" type="button" class="btn btn-danger btn-fill form-control" data-dismiss="modal">Cancel</button>
                    <button style="width: 100px;" id="eUsrBtn" type="button" class="btn btn-success btn-fill form-control">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--MODAL DELETE USER-->
<div class="modal fade" id="modalUserD" tabindex="-1" role="dialog" aria-labelledby="UserDLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="deleteUser" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success" id="UserDLabel">Delete User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body missionform">
                <p>Are you sure you want to delete this User?</p>
            </div>

            <div class="modal-footer">
                <div class="form-group col-lg-offset-9  ">
                    <input type="hidden" id="dMsId">
                    <button type="button" style="width:100px" class="btn btn-warning btn-fill form-control" data-dismiss="modal">Cancel</button>
                    <button id="dUsrBtn" style="width:100px" type="button" class="btn btn-danger btn-fill form-control">Delete</button>
                    <input type="hidden" id="dUsrId">
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal DELETE USER End-->
{{!------------------------------------------------------------------------- USER SETTING MODAL END ----------------------------------------------------------------}}


<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="/assets/js/Shared_Utils.js"></script>
<script src="/assets/js/sweetalert2.all.min.js"></script>
<script src="/socket.io/socket.io.js"></script>


<script>
    var socket = io();


    //------unblock user-------------------------------
    $(window).on("beforeunload", function () {
        $("a,button,input").attr("disabled", true);
    })
 

    function callsweetAlert(Type, Title, Text) {
        console.log(Type.toLowerCase());
        console.log(Title);
        console.log(Text);

        Swal.fire({
            heightAuto: false,
            type: (Type.toLowerCase() == "success" || Type.toLowerCase() == "error") ? Type.toLowerCase() : "success",
            title: Title,
            text: (Text != "" && Text != "undefined" && Text != null) ? Text : 'An error Occured, please try again',
            customClass: {
                popup: 'swalpopup'
            }
        });
    }
    function checkIM8(text) {
        return /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{12,}$/.test(text);
    }

    function checkIfGotSpace(text) {
        return /\s/.test(text);
    }

    $(document).ready(() => {
        //-----------ADD NEW USER----------------//
        $(document).on('click', '#uAdd', function () {
            $('#errUs1').hide('');
            $('#errFN').hide('');
            $('#errUs').hide('');
            $('#errPass').hide('');
            $('#errPass1').hide('');
            $('#errPass2').hide('');
            $('#errPass3').hide('');
            $('#errRole').hide();
            $('#uA').val('');
            $('#fA').val('');
            $('#utA').val('');
            $('#pA').val('');
            $('#p2A').val('');
        })
        $('#uA,#fA,#utA,#pA,#p2A,#uAbtn').click(function (e) {
            $('#errUs1').html('');
            $('#errFN').html('');
            $('#errUs').html('');
            $('#errPass').html('');
            $('#errPass1').html('');
            $('#errRole').html('');

        })


        $('#uAbtn').click(() => {
            var username = $('#uA').val();
            var loading = `<i class="fa fa-spinner fa-spin"></i>Wait`;
            $('#uAbtn').html(loading);
            socket.emit('checkUN', username);
        })

        socket.on('checkUNS', data => {
            var username = $('#uA').val();
            var fullname = $('#fA').val();
            var utype = $('#utA').val();
            var pass = $('#pA').val();
            var pass2 = $('#p2A').val();
            if (data == 'true') {
                $('#errUs1').show();
                $('#errUs1').html("Username is already taken, please use a different userName");
                Utils.shakeElem('#uA, #errUs1');
                $('#uAbtn').html("Save");
                return;
            }
            else {
                $('#errUs1').show();
                if (!FMS_check.checkIM8(pass) || FMS_check.checkIfGotSpace(pass) || FMS_check.checkIfGotSpace(username) || !FMS_check.checkIfnotNull(username) || !FMS_check.checkIfnotNull(fullname) || utype == null || !FMS_check.checkIfnotNull(pass) || !FMS_check.checkIfnotNull(pass2)) {
                    if (!FMS_check.checkIM8(pass) || FMS_check.checkIfGotSpace(pass)) {
                        $('#errPass').show();
                        $('#uAbtn').html("Save");
                        var errorMsg = "The password failed to meet the requirement, please change or reenter.<br>>>Password must be at least 12 characters long<br>>>Password must contain at least One:<br>--Numeric character<br>--Uppercase Character<br>--Lowercase Character<br>--Special Character such as:'!@#$%^&*()-='<br>>>Password MUST not contain space or tab";
                        $('#errPass').html(errorMsg);
                        shakeElem('#errPass, input#pA');
                    }
                    if (username == null || username.length < 1 || FMS_check.checkIfGotSpace(username)) {
                        $('#errUs').show();
                        if (FMS_check.checkIfGotSpace(username)) {
                            $('#errUs').html("Username contains space");
                            Utils.shakeElem('#uA, #errUS');
                        }
                        else {
                            $('#errUs').html("this field cannot be blank");
                            Utils.shakeElem('#uA, #errUS');
                        }
                    }
                    if (fullname == null || fullname.length < 1) {
                        $('#errFN').show();
                        $('#errFN').html("this field cannot be blank");
                        Utils.shakeElem('#fA, #errFN');
                    }
                    if (utype == null || utype.length < 1) {
                        $('#errRole').show();
                        $('#errRole').html("Please select a user type");
                        Utils.shakeElem('#utA, #errRole');
                    }
                    if (pass == null || pass.length < 1) {
                        $('#errPass1').show();
                        $('#errPass1').html("This field cannot be blank");
                        Utils.shakeElem('#pA, #errPass1');
                    }
                    if (pass2 == null || pass2.length < 1) {
                        $('#errPass').show();
                        $('#errPass').html("This field cannot be blank");
                        Utils.shakeElem('#p2A, #errPass');
                    }
                }
                else {
                    $('#errPass').show();
                    if (pass != pass2) {
                        $('#uAbtn').html("Save");
                        $('#errPass').html("Password Mismatched, please re-enter");
                        Utils.shakeElem('#p2A, #errPass');
                        return;
                    }
                    else {
                        $('#errUs1').html("Username is available");
                        showload_start();
                        socket.emit('register', { Username: username, Type: utype, Name: fullname, Pass: pass, Pass2: pass2, TS: new Date() });
                    }
                }
            }
        })

        function shakeElem(elem) {
            try {
                $(elem).effect('shake');

            }
            catch (er) {

            }
        }
        //-------------------EDIT USER----------------------------//
        $(document).on('click', 'button.btn-warning.eUsrBtn', function () {
            var dir = $(this).attr('dir');
            var Modal = $("#modalUserE");
            //    showload_start();
            socket.emit('reqEUsr', { '_id': dir })
            socket.on('resEUsr', data => {
                //      showload_stop();
                $('#uE').text(data.Username);
                $('#eE').val(data.Name);
                $('#utE').val(data.Type);
                Modal.modal();
            })
            $('#eUsrId').val(dir);
        })

        $(document).on('click', '#eUsrBtn', function () {
            var Eusername = $('#uE').val();
            var validatePass2 = validatePassword2()

            if (validatePass2 == false) {
                console.log('error Edit UserName')
            } else {
                showload_start();
                socket.emit('updateUSR', { '_id': $('#eUsrId').val(), 'Username': $('#uE').val(), 'Name': $('#eE').val(), 'Type': $('#utE').val() });
            }
        })
        //------------------------RESET PASSWORD--------------------//

        function randomPassword(id) {
            var chars = "abcdefghijklmnopqrstuvwxyz!@#$%^&*()-+<>ABCDEFGHIJKLMNOP1234567890";
            var pass = "";
            for (var x = 0; x < id; x++) {
                var i = Math.floor(Math.random() * chars.length);
                pass += chars.charAt(i);
            }
            return pass;
        }
        var PassAuto = "";
        function generate() {
            var id = $('#generateAuto').val();
            var rdmpass = randomPassword(id);
            $('#row_password').val(rdmpass);
        }

        $(document).on('click', '.ResetPassButton', function () {
            var dir = $(this).attr('dir');
            var genPass = generate();
            $('#ResetPassButton').val(dir);
        })

        $(document).on('click', '#ResetPassBtn', function () {
            showload_start();
            socket.emit('resetPassword', { '_id': $('#ResetPassButton').val(), 'AutoGen': $('#row_password').val() });
        })

        //-------------------Unblock USER--------------------------//
        $("button.UnblockUserBtn").click(function (event) {
            var id = $(this).attr('dir');
            var Modal = $('#ModalunblockUser');
            Modal.prop('dir', id);

            $("#ModalunblockUser").modal('toggle');
        })
        $(document).on('click', '#UnblockUserBtn', function (event) {
            var Modal = $('#ModalunblockUser');
            var id = Modal.attr("dir");
            if (id == 'undefined' || id == null || id == "") {
                Modal.modal('hide');
                console.log("Missing ID parameter");
                callsweetAlert("eRror", "Error", "Sorry, an error occured, please try again");
                //  return;
            }
            else {
                showload_start();
                socket.emit('unblockUser', { '_id': id });
            }
        })


        //-------------------DELETE USER--------------------------//

        $(document).on('click', '.dUsrBtn', function () {

            var dir = $(this).attr('dir');
            //console.log(dir)
            $('#dUsrId').val(dir);
        })

        $(document).on('click', '#dUsrBtn', function () {
            showload_start();
            socket.emit('deleteUser', { '_id': $('#dUsrId').val() });

        })


    })//---------------END OF READY FUNCTION-------------------------//


    //----------------------SOCKET IO FUNCTION-----------------------------//

    socket.on('userASave', data => {
        showload_stop();
        $('#uAbtn').html("Save");
        add_new_user_msg_routine(data);

    })

    socket.on('updateUsrs', data => {
        showload_stop();
        update_user_routine(data);

    })

    socket.on('resetPasswordS', data => {
        showload_stop();
        reset_password_user_routine(data);

    })

    socket.on('deleteUsers', data => {
        showload_stop();
        delete_user_routine_msg(data);

    })

    socket.on('unblockUserS', data => {
        showload_stop();
        unblock_user_routine(data);
    })
    //--------------------ROUTINES FUNCTION-----------------------//

    //---------------CHECK VALIDATION OF EDIT USER-----------------//

    var validatePassword2 = () => {

        var InputFNe = $('#eE').val();
        var InputUTe = $('#utE').val();
        errorsE = [];

        ////CHECK FULLNAME CANNOT BE NULL/////
        if (InputFNe == "") {
            $('#errEFn1').show();
            $('#errEFn1').html("User fullname cannot be null");
            errorsE.push('err')
        } else {
            $('#errFN').hide();
        }

        ////CHECK USER TYPE CANNOT BE NULL/////
        if (InputUTe == null) {
            $('#errRoleE').show();
            $('#errRoleE').html("User Type cannot be null");
            errors.push('err')
        } else {
            $('#errRoleE').hide();
        }


        if (errorsE.length > 0) {
            // alert(errors.join("\n"));
            return false;
        };
        return true;

    }
    add_new_user_msg_routine = (data) => {
        if (data == 'errCantAdd') {
            Swal.fire({
                heightAuto: false,
                type: 'error',
                title: 'Error',
                text: 'Failed to add new user',
            })
            $('.close').click();

        }
        else {
            Swal.fire({
                heightAuto: false,
                type: 'success',
                title: 'Success',
                text: 'USER ID: ' + data + " successfully added",
            })
            $('.close').click();
            setTimeout(location.reload.bind(location), 100);
        }
    }

    update_user_routine = (data) => {

        if (data == 'err') {
            $('#errEUs1').html('User already exist. Please choose another.')
        }
        else {
            Swal.fire({
                heightAuto: false,
                type: 'success',
                title: 'Success',
                text: 'User: ' + data.Username + " successfully updated, refresh to update table",
                customClass: {
                    popup: 'swalpopup'
                }
            })
            $('.close').click();
            setTimeout(location.reload.bind(location), 100);
        }

    }

    unblock_user_routine = (data) => {
        if (data == 'error') {
            Swal.fire({
                heightAuto: false,
                type: 'error',
                title: 'Error',
                text: 'Unsuccessful Unblock, please try again',
                customClass: {
                    popup: 'swalpopup'
                }
            });
            $('.close').click();

        } else {

            Swal.fire({
                heightAuto: false,
                type: 'success',
                title: 'Success',
                text: 'User has been successfully unblocked, refresh to update table',
                customClass: {
                    popup: 'swalpopup'
                }
            });
            $('.close').click();

        }

    }

    reset_password_user_routine = (data) => {

        if (data == 'error') {
            Swal.fire({
                heightAuto: false,
                type: 'error',
                title: 'Error',
                text: 'Password reset not success. Please try again.',
                customClass: {
                    popup: 'swalpopup'
                }
            });
            $('.close').click();

        } else {
            Swal.fire({
                heightAuto: false,
                type: 'success',
                title: 'Success',
                text: 'Password reset successfully. New Password is  ' + data,
                customClass: {
                    popup: 'swalpopup'
                }
            });
            $('.close').click();

        }

    };

    delete_user_routine_msg = (data) => {
        Swal.fire({
            heightAuto: false,
            type: 'success',
            title: 'Success',
            text: 'USER ID: ' + data.Username + " successfully deleted",
        })
        $('.close').click();
        setTimeout(location.reload.bind(location), 100);
    }


    //------------------SELECT KEYWORD USER NAME TO FIND RECORD-------------------//
    $("#searchBox").on('keyup', function (e) {
        userSearch();
    })

    userSearch = () => {
        var searchbox, filter, table, tr, td, i, txtValue;
        searchbox = document.getElementById("searchBox");
        filter = searchbox.value.toUpperCase();
        table = document.getElementById("tableBodyUser");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];

            if (td) {

                txtValue = td.textContent || td.innerText;

                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
