<div class="container-fluid">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item active">
            <a class="nav-link active" id="diagnosis-tab" data-toggle="tab" href="#diagnosis" role="tab" aria-controls="diagnosis" aria-selected="true" aria-expanded="true"><h6>Hardware Status</h6></a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent_diagnostic">
        <div class="tab-pane fade active in" id="diagnosis" role="tabpanel" aria-labelledby="diagnosis-tab">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label class="label">AGV Selection</label>
                            <select class="form-control" id="agvCh">
                                <option selected disabled>Select an AGV</option>
                                {{#each agv_dt}}
                                <option value="{{this.agv_ID}}">{{this.agv_ID}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-md-3">
                            <br>
                            <button class="form-control btn btn-info btn-fill col-md-6 col-xs-12 reqInfoDiag" disabled="disabled">Request Information</button>
                        </div>
                        <div class="col-md-12">

                            <table class="table table-stripped text-center">
                                <thead>
                                <th>No</th>
                                <th>Date</th>
                                <th>AGV NAME</th>
                                <th>2D LIDAR Front</th>
                                <th>2D LIDAR Rear</th>
                                <th>Battery</th>
                                <th>Left Motor Driver</th>
                                <th>Right Motor Driver</th>
                                <th>Camera</th>
                                <th>3D LIDAR</th>
                                <th>Low Level</th>
                                <th>Encoder Left</th>
                                <th>Encoder Right</th>
                                <th>OBU</th>
                                <th>ESW</th>
                                <th>CPU%</th>
                                <th>RAM(Used / Total)</th>
                                </thead>
                                <tbody id="agvChoosed">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-7">

            </div><!--end row-->

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<script>

    var socket = io();
    $(document).ready(() => {


        $("#agvCh").change(function () {
            $('.reqInfoDiag').attr('disabled', false);
            $('#agvChoosed').empty();
        });


        $(".reqInfoDiag").click(function () {

            var end = $('#agvCh').val();
            var json = { cmd: '1', agv_ID: end };
            showload_start();
            socket.emit('sys/diag', json);

        })




    }) // End of document ready


    //--------------- SOCKET IO FUNCTIONS -----------------//
    socket.on('agVdiag', data => {
        //console.log(data.ldr.Twodf);
        showload_stop();
        res_diag_routine(data);
    });



    //----------------------- Routine Functions ---------------------------//


    res_diag_routine = (datas) => {
        if ($('#agvCh').val() == datas.agv_ID) {
            $('#agvChoosed').empty();
            var seq = 1;
  
            var dateFi = Utils.Datetime(datas.TS);

            if (datas.lidar.Twodf == "1") {
                var diag1 = '<td class="text-success">OK</td>}';
            } else {
                var diag1 = '<td class="text-danger">ERROR</td>}';
            }
            if (datas.lidar.Twodr == "1") {
                var diag2 = '<td class="text-success">OK</td>}';
            } else {
                var diag2 = '<td class="text-danger">ERROR</td>}';
            }
            if (datas.batt == "1") {
                var diag3 = '<td class="text-success">OK</td>}';
            } else if (datas.batt == "0") {
                var diag3 = '<td class="text-danger">ERROR</td>}';
            }
            else {
                var diag3 = '<td class="text-danger">LOW BATT</td>}';
            }
            if (datas.mot.l == "1") {
                var diag4 = '<td class="text-success">OK</td>}';
            } else {
                var diag4 = '<td class="text-danger">ERROR</td>}';
            }
            if (datas.mot.r == "1") {
                var diag5 = '<td class="text-success">OK</td>}';
            } else {
                var diag5 = '<td class="text-danger">ERROR</td>}';
            }
            if (datas.cam == "1") {
                var diag6 = '<td class="text-success">OK</td>}';
            } else {
                var diag6 = '<td class="text-danger">ERROR</td>}';
            }
            if (datas.lidar.Threed == "1") {
                var diag7 = '<td class="text-success">OK</td>}';
            } else {
                var diag7 = '<td class="text-danger">ERROR</td>}';
            }
            if (datas.llc == "1") {
                var diag9 = '<td class="text-success">OK</td>}';
            } else {
                var diag9 = '<td class="text-danger">ERROR</td>}';
            }
            if (datas.enc.l == "1") {
                var diag10 = '<td class="text-success">OK</td>}';
            } else {
                var diag10 = '<td class="text-danger">ERROR</td>}';
            }
            if (datas.enc.r == "1") {
                var diag11 = '<td class="text-success">OK</td>}';
            } else {
                var diag11 = '<td class="text-danger">ERROR</td>}';
            }
            if (datas.obu == "1") {
                var diag12 = '<td class="text-success">OK</td>}';
            } else {
                var diag12 = '<td class="text-danger">ERROR</td>}';
            }
            if (datas.esw == "1") {
                var diag13 = '<td class="text-success">OK</td>}';
            } else {
                var diag13 = '<td class="text-danger">ERROR</td>}';
            }
            var diag14 = '<td class="text-info">' + datas.cpu + '</td>}';
            var diag15 = '<td class="text-info">' + datas.ram + '</td>}';

            $('#agvChoosed').append(
                '<tr>' +
                '<td>' + seq++ + '</td>' +
                '<td>' + dateFi + '</td>' +
                '<td>' + datas.agv_ID + '</td>' +

                diag1 + diag2 + diag3 + diag4 + diag5 + diag6 + diag7 + diag9 + diag10 + diag11 + diag12 + diag13 + diag14 + diag15 +

                '<tr>'
            )
        }
    }



</script>






