﻿<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/marker.png">
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet" />

    <!--  Paper Dashboard core CSS    -->
    <link href="assets/css/paper-dashboard.css" rel="stylesheet" />


    <!--  Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/themify-icons.css" rel="stylesheet">
    <link href="assets/css/timeline.css" rel="stylesheet" />



    <script type="text/javascript">
        function fmsTime(el, Tz) {
            try {
                el = typeof el == 'object' ? moment(el) : moment(new Date(Date.parse(el)));
                moment.locale('sg');
                if (Tz) {
                    Tz = Tz.toString();
                }
                else {
                    Tz = 'Asia/Singapore'
                }
                return el.tz(Tz).format('LLLL').toString();
            }
            catch (e) {
                console.log('appjs time cnversion failed ' + e);
            }
        }

        function showload_start() {
            Swal.fire({
                title: 'Loading...',
                allowOutsideClick: false,
                showConfirmButton: false,
                background: "#ddddff00",
                backdrop: `
                    rgba(0,0,83,0.4)
                    url("/assets/img/agv.gif")
                    center
                    no-repeat
                  `,
                onClose: () => {
                    Swal.fire({
                        title: 'Loading 30s Timeout. Try Again',
                        allowOutsideClick: false
                    })
                },
                timer: 30000,
            });
        }

        function showload_stop() {
            try {
                Swal.close(); Swal.close();
            }
            catch (e) { }
        }

        function success_notification(dets) {
            Swal.fire({
                heightAuto: false,
                type: 'success',
                title: 'Success',
                text: dets,
                timer: 2000,
            }).then(() => {
                location.reload();
            });
        }

        function fail_notification(dets) {
            Swal.fire({
                heightAuto: false,
                type: 'error',
                title: 'Failed',
                text: dets,
            }).then(() => {
                location.reload();
            });
        }
        function warning_notification(dets) {
            Swal.fire({
                heightAuto: false,
                type: 'warning',
                title: 'Alert',
                text: dets,
            }).then(() => {
            });
        }
        function toast_notification(type, dets) {
            var Toast = Swal.mixin({
                toast: true,
                position: 'top',
                showConfirmButton: false,
                timer: 3000,
                customClass: {
                    popup: 'swalpopup'
                }
            });
            Toast.fire({
                type: type,
                title: dets,
            })

        }



    </script>



    <title>{{title}}</title>
    <style>
        #map {
            height: 350px;
            width: 100%;
        }

        .mmp {
            padding-bottom: 20px;
        }

        .swalpopup {
            font-size: 1.6rem !important;
        }
    </style>

    <style>
        .fullwidths {
            width: 100% !important;
            margin-left: 9px;
        }

        .form-control::-moz-placeholder {
            color: #999;
        }

        .form-control:-ms-input-placeholder {
            color: #999;
        }

        .form-control::-webkit-input-placeholder {
            color: #555;
        }

        .btn-circle.btn-lg {
            width: 50px;
            height: 50px;
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.33;
            border-radius: 25px;
        }

            .btn-circle.btn-lg.fbtnstyle {
                width: 100px;
                height: 100px;
                border: 2px solid #ccc;
                border-radius: 150px;
                box-shadow: 0 0 0 5pt #777;
                margin: 10px 10px;
            }

        .fbtngrp1 .btn-circle.btn-lg.fbtnstyle {
            margin: 0 60pt;
        }

        .back {
            background: #444 !important;
            opacity: 1 !important;
        }

        .front {
            background: #777 !important;
            opacity: 1 !important;
        }

        .center-this {
            text-align: center;
        }

        #joystick {
            height: 250px;
        }

        #joystick_R, #joystick_C {
            position: relative;
            margin: 80px;
            padding: 20px;
        }

        .btnstyle {
            border: 3px solid red;
        }

        .fbtngrp0 {
            margin-top: 10px;
            clear: both;
        }

        .motorstatus {
            width: 10px;
            height: 10px;
            background: green;
            border-radius: 50px;
            margin: 5px auto;
        }

        .push-bottom {
            margin-top: 200px;
        }

        #motorControl {
            clear: both;
            margin-top: 20px;
        }

        .custom-margin0 {
            margin-top: -90px;
        }


        .overflow {
            overflow: hidden;
        }

        .btn-act {
            width: 150px;
            border-radius: 3px;
        }

        .cartesian-btn {
            width: 100%;
            margin-bottom: 5px;
        }

        .cartesian-row {
            padding: 0 20px;
        }

            .cartesian-row .col-md-4 {
                padding: 5px;
            }

        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 30px;
        }

            .switch input {
                opacity: 0;
                width: 70;
                height: 70;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(30px);
            -ms-transform: translateX(30px);
            transform: translateX(30px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 70px;
        }

            .slider.round:before {
                border-radius: 50%;
            }

        .triangle-up {
            width: 10px;
            height: 10px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid white;
        }

        .triangle-down {
            width: 10px;
            height: 10px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid white;
        }

        .triangle-left {
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-right: 10px solid white;
            border-bottom: 10px solid transparent;
        }

        .triangle-right {
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-left: 10px solid white;
            border-bottom: 10px solid transparent;
        }

        #noti_Container {
            position: relative;
        }

        /* A CIRCLE LIKE BUTTON IN THE TOP MENU. */
        #noti_Button {
            width: 22px;
            height: 22px;
            top: -40px;
            line-height: 22px;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            background: #FFF;
            margin: -3px 10px 0 10px;
            cursor: pointer;
        }
        #noti_Bell {
            text-decoration: none;
           /*

           padding: 15px 26px;
           */ 
            position: relative;
            display: inline-block;
            border-radius: 2px;
        }
        #noti_Bell .badge {
            /*

           */
            position: absolute;
            top: -10px;
            right: -10px;
            /*

            padding: 10px 10px;
            */
            border-radius: 50%;
            background-color: red;
            color: white;
        }

        /* THE POPULAR RED NOTIFICATIONS COUNTER. */
        #noti_Counter {
            display: block;
            position: absolute;
            background: #E1141E;
            color: #FFF;
            font-size: 12px;
            font-weight: normal;
            padding: 1px 3px;
            margin: -8px 0 0 25px;
            border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            z-index: 1;
        }

        /* THE NOTIFICAIONS WINDOW. THIS REMAINS HIDDEN WHEN THE PAGE LOADS. */
        #notifications {
            display: none;
            width: 430px;
            position: absolute;
            top: 60px;
            left: -400px;
            background: #FFF;
            border: solid 1px rgba(100, 100, 100, .20);
            -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .20);
            z-index: 0;
        }

            /* AN ARROW LIKE STRUCTURE JUST OVER THE NOTIFICATIONS WINDOW */
            #notifications:before {
                content: '';
                display: block;
                width: 0;
                height: 0;
                color: transparent;
                border: 10px solid #CCC;
                border-color: transparent transparent #FFF;
                margin-top: -20px;
                margin-left: 10px;
            }

        h3 {
            display: block;
            color: #333;
            background: #FFF;
            font-weight: bold;
            font-size: 13px;
            padding: 8px;
            margin: 0;
            border-bottom: solid 1px rgba(100, 100, 100, .30);
        }

        .seeAll {
            background: #F6F7F8;
            padding: 8px;
            font-size: 12px;
            font-weight: bold;
            border-top: solid 1px rgba(100, 100, 100, .30);
            text-align: center;
        }

            .seeAll a {
                color: #3b5998;
            }

                .seeAll a:hover {
                    background: #F6F7F8;
                    color: #3b5998;
                    text-decoration: underline;
                }

        .buttonRes {
            padding: 15px 25px;
            font-size: 24px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: #4CAF50;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
        }

            .buttonRes:hover {
                background-color: #3e8e41;
            }

            .buttonRes:active {
                background-color: #3e8e41;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }


        .tooltip-test {
            clear: both;
            background: #ccc;
        }

        .my-handle {
            cursor: move;
            cursor: -webkit-grabbing;
        }

        #ddnoti {
            line-height: normal;
        }

        #flip {
            padding: 2px;
            text-align: center;
            background-color: grey;
        }

        #panel {
            padding: 10px;
            display: none;
        }

        #flip1 {
            padding: 2px;
            text-align: center;
            background-color: grey;
        }

        #panel1 {
            padding: 10px;
            display: none;
        }
    </style>
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <div class="wrapper">
        {{!-- MENU START --}}
        <div class="sidebar" data-background-color="white" data-active-color="danger">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="#" class="simple-text">
                        <img src="/assets/img/logo_govtech.gif" width="100%">
                    </a>
                </div>
                <div>
                    <center><h6 style="color: brown;"> Name : {{{name}}}</h6></center>
                    <center><h6 style="color: brown;">Role : {{{role}}}</h6></center>
                    <input id="UserRole" type="hidden" value="{{{role}}}">
                    <input id="IdUser" type="hidden" value="{{{userid}}}">
                    <input id="NameUsr" type="hidden" value="{{{name}}}">
                </div>

                <ul class="nav">
                    <li class="dashboard">
                        <a href="/dashboard">
                            <i class="ti-dashboard"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    {{#orArray role "OPERATOR,ADMIN"}}
                    <li class="operation">
                        <a href="/operation">
                            <i class="ti-signal"></i>
                            <p>Operation</p>
                        </a>
                    </li>
                    {{/orArray}}
                    {{#orArray role "OPERATOR,ADMIN"}}
                    <li class="mapControl">
                        <a href="/mapControl">
                            <i class="ti-map-alt"></i>
                            <p>Map & Teleop</p>
                        </a>
                    </li>
                    {{/orArray}}
                    {{#orArray role "ADMIN"}}
                    <li class="mission">
                        <a href="/mission">
                            <i class="ti-target"></i>
                            <p>Mission Edit</p>
                        </a>
                    </li>
                    {{/orArray}}
                    {{#orArray role "OPERATOR,ADMIN"}}
                    <li class="armControl">
                        <a href="/armControl">
                            <i class="ti-vector"></i>
                            <p>Arm Control</p>
                        </a>
                    </li>
                    {{/orArray}}
                    {{#orArray role "OPERATOR,ADMIN"}}
                    <li class="sos ">
                        <a href="/sos">
                            <i class="ti-bolt-alt"></i>
                            <p>SOS Abnormality</p>
                        </a>
                    </li>
                    {{/orArray}}
                    {{#orArray role "OPERATOR,ADMIN"}}
                    <li class="diagnostic">
                        <a href="/diagnostic">
                            <i class="ti-bar-chart-alt"></i>
                            <p>Diagnostic</p>
                        </a>
                    </li>
                    {{/orArray}}
                    {{#orArray role "ADMIN"}}
                    <li class="agvSetting">
                        <a href="/agvSetting">
                            <i class="ti-settings"></i>
                            <p>AGV Setting</p>
                        </a>
                    </li>
                    {{/orArray}}
                    {{#orArray role "ADMIN"}}
                    <li class="userSetting">
                        <a href="/userSetting">
                            <i class="ti-user"></i>
                            <p>User Setting</p>
                        </a>
                    </li>
                    {{/orArray}}
                    {{#orArray role "ADMIN"}}
                    <li class="utility">
                        <a href="/utility">
                            <i class="ti-agenda"></i>
                            <p>Utility</p>
                        </a>
                    </li>
                    {{/orArray}}
                    <li class="resetPassword">
                        <a href="" data-toggle="modal" data-target="#UserRestPass" id="UserResetPass" dir="{{{userid}}}">
                            <i class="fa fa-refresh fa-spin"></i>
                            <p><h6>Change New Password</h6></p>
                        </a>
                    </li>

                    <li style="background-color: orange;" class="logout">
                        <a href="" data-toggle="modal" data-target="#logOutUser">
                            <i class="ti-share-alt"></i>
                            <p><h6 style="color: black;">LOG OUT</h6></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {{!-- MENU END --}}
        <div class="main-panel">
            {{!-- HEADER START --}}
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                        <a class="navbar-brand" href="#">{{title}}</a>
                    </div>
                    <div id="noti-dropdown" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-bell" id="noti_Bell">

                                        <span class="badge" id="ctnoti">{{{noti_count}}}</span>
                                    </i>
                                    <p class="notification"></p>
                                    <p>Notifications</p>
                                    <b class="caret"></b>
                                </a>
                                <ul id="ddnoti" class="dropdown-menu" style="overflow-y:auto; max-width:700px; max-height:300px;">
                                    {{!-- {{#each notify}}
                                    <li><a href="#">{{this.Det}}<br>{{this.TS}}</a></li>
                                    {{/each}} --}}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            {{!-- HEADER END --}}

            <div class="content">
                {{{body}}}
            </div>
        </div>
    </div>
</body>







{{!-- ------------------------------------------------------------------------MAINLAYOUT---------------------------------------------------------------------------------}}
{{!-- Timeout Logout --}}
<div class="modal fade" id="TimeoutLogout" tabindex="-1" role="dialog" aria-labelledby="TimeoutLogoutLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="logOut" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success" id="TimeoutLogoutLabel">Hi There</h5>
            </div>

            <div class="modal-body">
                <p>You have been idle for quite some time,</p>
                <p>Press the logout button to log out now or you will be logged out in (<small id="TimeoutLogoutCountdown"></small>)</p>
                <p>If you wish to stay your session, please press cancel/dismiss this modal.</p>
            </div>
            <div class="modal-footer">
                <div class="form-group col-lg-offset-9  ">
                    <input type="hidden" id="dMsId">
                    <button type="button" style="width:100px" class="btn btn-warning btn-fill form-control" data-dismiss="modal">Cancel</button>
                    <button style="width:100px" type="button" onclick="window.location.replace('/login/logout')" class="btn btn-danger btn-fill form-control" id="btnCountdownLogout"></button>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- LOGOUT --}}
<div class="modal fade" id="logOutUser" tabindex="-1" role="dialog" aria-labelledby="logOutLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="logOut" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success" id="logOutLabel">Logout Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>Are you sure you want to logout?(You will be logging out other tabs as well)</p>
            </div>
            <div class="modal-footer">
                <div class="form-group col-lg-offset-9  ">
                    <input type="hidden" id="dMsId">
                    <button type="button" style="width:100px" class="btn btn-warning btn-fill form-control" data-dismiss="modal">Cancel</button>
                    <button style="width:100px" type="button" onclick="window.location.replace('/login')" class="btn btn-danger btn-fill form-control logoutBtn">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- RESET PASSWORD --}}
<div class="modal fade" id="resetUserPassword" tabindex="-1" role="dialog" aria-labelledby="resetUserPasswordLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="addmission" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success" id="resetUserPasswordLabel">Reset User Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body sosform">
                <p>Are you sure you want to reset this user's password?</p>
            </div>
            <div class="modal-footer">
                <div class="form-group col-lg-offset-9">
                    <button type="button" style="width:100px" class="btn btn-warning btn-fill form-control" data-dismiss="modal">Cancel</button>
                    <button id="ResetPassBtn" style="width:100px" type="button" class="btn btn-success btn-fill form-control">Confirm</button>
                    <input type="hidden" id="ResetPassButton">
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- RESET PASSWORD--}}
<div class="modal fade" id="UserRestPass" tabindex="-1" role="dialog" aria-labelledby="UserRestPassLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="addmission" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success" id="UserRestPassLabel">RESET PASSWORD</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        OLD PASSWORD : <input class="form-control" id="InputPassword" autocomplete="off" type="password" required="required">
                        <p id="errOldPassC" class="text-danger modal-error-message"></p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        NEW PASSWORD (Follow IM8 Policy)
                        <i class="fa fa-info-circle" title="IM8 passwords should contain MINIMUM 12 characters with AT LEAST 1 from EACH of the following range [0~9][a~z][A~Z]with special characters, spaces are not allowed" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>:
                        <input class="form-control" id="NewPass" autocomplete="off" type="password" required="required">
                        <p id="errNewPass" class="text-danger modal-error-message"></p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        CONFIRM PASSWORD : <input class="form-control" autocomplete="off" id="ConfirmPass" type="password" required="required">
                        <p id="errConfirmPass" class="text-danger modal-error-message"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="ResetID">
                    <center>
                        <button type="button" style="width:100px" class="btn btn-warning btn-fill form-control" data-dismiss="modal">Cancel</button>
                        <button id="NewResetPassBtn" style="width:100px" type="submit" class="btn btn-success btn-fill form-control">Save</button>
                        <input type="hidden" id="NewResetPassButton">
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- ---------------------------------------------------------------------MAINLAYOUT END----------------------------------------------------------------------------------}}

</html>
{{!-- js assets  --}}
<!--   Core JS Files   -->
<script src="assets/js/jquery.min.js" type="text/javascript"></script>
<!--  Charts Plugin -->
<script src="assets/js/chartist.min.js"></script>

<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script src="assets/js/paper-dashboard.js"></script>
<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="assets/js/demo.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/sweetalert2.all.min.js"></script>
<script src="assets/js/moment.js"></script>
<script src="assets/js/moment-with-locales.js"></script>
<script src="/assets/js/Shared_Utils.js"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap-checkbox-radio.js"></script>
<!--  Notifications Plugin    -->
<script src="assets/js/bootstrap-notify.js"></script>

<script>
    function setSession() {
        var id = $("#IdUser").val();
        var Session = 'fmsSession' + id;
        try {
            localStorage.setItem(Session, Session);
            localStorage.removeItem(Session);
            return true;
        }
        catch (e) {
            return false;
        }

    }

    $(document).ready(function () {
        //--set timeout for idle logout----------------------------

        var logoutID;
        var timeoutID;
        var sessionID;
        function setup() {
            document.addEventListener("mousemove", resetTimer, false);
            document.addEventListener("mousedown", resetTimer, false);
            document.addEventListener("keypress", resetTimer, false);
            document.addEventListener("DOMMouseScroll", resetTimer, false);
            document.addEventListener("mousewheel", resetTimer, false);
            document.addEventListener("touchmove", resetTimer, false);
            document.addEventListener("MSPointerMove", resetTimer, false);
            startTimer();
        }
        setup();
        updateSession();
        ModalClearonDismiss("#UserRestPass");
        function startTimer() {
            timeoutID = window.setTimeout(goInactive, 30 * MINUTES);
            // timeoutID = window.setTimeout(goInactive, 10000);
        }
        function resetTimer(e) {
            Session_ResetTimer();
            window.clearTimeout(timeoutID);
            goActive();
        }

        function updateSession() {
            window.clearTimeout(sessionID);
            socket.emit('UserUpdateSession', $('#IdUser').val());
            sessionID = window.setTimeout(updateSession, 8 * MINUTES);
        }
        function goInactive() {
            console.log('go inactive');
            var Modal = $("#TimeoutLogout");
            var timeout = 10;
            $('#TimeoutLogout').modal('toggle');
            logoutID = setInterval(() => {
                timeout--;
                if (timeout < 0 || timeout > 10) {
                    Logout();
                    window.location.replace('/login');
                    clearInterval(logoutID);
                }
                else {
                    $("#btnCountdownLogout").html("Logout in " + timeout);
                    $(".modal-body > p > small#TimeoutLogoutCountdown").html(timeout);
                }
            }, 1000)
        }

        $("#TimeoutLogout").on("hidden.bs.modal", function (e) {
            clearInterval(logoutID);
            resetTimer();
        })
        function goActive() {
            startTimer();
        }
        //--set timeout for idle logout----------------------------

        window.addEventListener('storage', function (event) {
            if (event.key == 'session_logout') {
                //actions for logout
                window.location.replace('/login');
            }
            else {
                if (event.key == 'session_Active') {
                    if (!document.hasFocus()) {
                        if ($("#TimeoutLogout").hasClass('in')) {
                            $("#TimeoutLogout").modal('hide');
                        }
                    }
                    window.clearTimeout(timeoutID);
                    goActive();
                }
            }
        }, false)
        socket.on('ConveySuccess', message => {
            console.log(" ");
            showload_stop();
            success_notification(message);
        })
        socket.on('ConveyError', message => {
            console.log("Request error occured");
            showload_stop();
            fail_notification(message);
        })

        //------------------------------------------------------------------------MAINLAYOUT----------------------------------------------------------------------------------------//

        //------------------------------------------ NOTIFICATION----------------------------//
        //------Refresh Notification-----//
        socket.on('refresh_noti', data => {
            $('#ddnoti').empty();
            $('#ctnoti').empty();
            $('#ctnoti').append(data.length >= 100 ? "99+" : data.length );

            if (data.length == 0) {
                $('#ddnoti').append('<li><a class="dropdown-item" href="#" solid grey;"><h6 class="text-basic" style="font-weight: bold;"><i class="fa fa-close fa-lg" style="position: relative; bottom: 1.3px;"></i> NO NEW NOTIFICATION</h6></a></li>');

            } else {
                for (x = 0; x < data.length; x++) {
                    //  var dateNow = Utils.Datetime(data[x].TS);
                    var dateNow = Utils.Datetime(data[x].TS);
                    if (data[x].Type == "sign_in") {
                        $('#ddnoti').append(
                            '<li><a dir=' + data[x]._id + ' class="dropdown-item" href="#" style="border-bottom:1px solid grey; line-height:1"><h6 class="text-primary" style="font-weight: bold;"><i class="fa fa-sign-in"></i> USER LOGIN</h6><p class="text-secondary">' + data[x].Det + '</p><p style="color: #999">Timestamp: <br><i>' + dateNow + '</i></p></a></li>'
                        )
                    } else if (data[x].Type == "sign_out") {
                        $('#ddnoti').append(
                            '<li><a dir=' + data[x]._id + ' class="dropdown-item" href="#" style="border-bottom:1px solid grey; line-height:1"><h6 class="text-primary" style="font-weight: bold;"><i class="fa fa-sign-out"></i> USER LOGOUT</h6><p class="text-secondary">' + data[x].Det + '</p><p style="color: #999">Timestamp: <br><i>' + dateNow + '</i></p></a></li>'
                        )
                    } else if (data[x].Type == "log_error") {
                        $('#ddnoti').append(
                            '<li><a dir=' + data[x]._id + ' class="dropdown-item" href="#" style="border-bottom:1px solid grey; line-height:1"><h6 class="text-danger" style="font-weight: bold;"><i class="fa fa-times-circle" style="font-size:17px"></i> LOGIN ERROR</h6><p class="text-secondary">' + data[x].Det + '</p><p style="color: #999">Timestamp: <br><i>' + dateNow + '</i></p></a></li>'
                        )
                    } else if (data[x].Type == "MS_START") {
                        $('#ddnoti').append(
                            '<li><a dir=' + data[x]._id + ' class="dropdown-item" href="#" style="border-bottom:1px solid grey; line-height:1"><h6 class="text-success" style="font-weight: bold;"><i class="fa fa-play"></i>' + data[x].AGV_ID + ' : MISSION STARTED</h6><p class="text-secondary">' + data[x].Det.replace(/,/g, "<br>") + '</p><p style="color: #999">Timestamp: <br><i>' + dateNow + '</i></p></a></li>'
                        )
                    } else if (data[x].Type == "MS_DONE") {
                        $('#ddnoti').append(
                            '<li><a dir=' + data[x]._id + ' class="dropdown-item" href="#" style="border-bottom:1px solid grey; line-height:1"><h6 class="text-success" style="font-weight: bold;"><i class="fa fa-check"></i>' + data[x].AGV_ID + ' : MISSION COMPLETED</h6><p class="text-secondary">' + data[x].Det.replace(/,/g, "<br>") + '</p><p style="color: #999">Timestamp: <br><i>' + dateNow + '</i></p></a></li>'
                        )
                    } else if (data[x].Type == "ESW") {
                        $('#ddnoti').append(
                            '<li><a dir=' + data[x]._id + ' class="dropdown-item" href="#" style="border-bottom:1px solid grey; line-height:1"><h6 class="text-success" style="font-weight: bold;"><i class="fa fa-toggle-on"></i>' + data[x].AGV_ID + ' : E-SWITCH</h6><p class="text-success">' + data[x].Det + '</p><p style="color: #999">Timestamp: <br><i>' + dateNow + '</i></p></a></li>'
                        )
                    } else if (data[x].Type == "SUSPEND") {
                        $('#ddnoti').append(
                            '<li><a dir=' + data[x]._id + ' class="dropdown-item" href="#" style="border-bottom:1px solid grey; line-height:1"><h6 class="text-warning" style="font-weight: bold;"><i class="fa fa-pause"></i>' + data[x].AGV_ID + ' : SUSPEND</h6><p class="text-warning">' + data[x].Det + '</p><p class="text-secondary">Location (Lat : ' + parseFloat(data[x].Lat).toPrecision(10) + ' Long : ' + parseFloat(data[x].Long).toPrecision(10) + ')<br></p><p style="color: #999">Timestamp: <br><i>' + dateNow + '</i></p></a></li>'
                        )
                    } else if (data[x].Type == "RESUME") {
                        $('#ddnoti').append(
                            '<li><a dir=' + data[x]._id + ' class="dropdown-item" href="#" style="border-bottom:1px solid grey; line-height:1"><h6 class="text-success" style="font-weight: bold;"><i class="fa fa-play"></i>' + data[x].AGV_ID + ' : RESUME</h6><p class="text-success">' + data[x].Det + '</p><p class="text-secondary">Location (Lat : ' + parseFloat(data[x].Lat).toPrecision(10) + ' Long : ' + parseFloat(data[x].Long).toPrecision(10) + ')<br></p><p style="color: #999">Timestamp: <br><i>' + dateNow + '</i></p></a></li>'
                        )
                    } else if (data[x].Type == "SOS") {
                        $('#ddnoti').append(
                            '<li><a dir=' + data[x]._id + ' class="dropdown-item" href="#" style="border-bottom:1px solid grey; line-height:1"><h6 class="text-danger" style="font-weight: bold;"><i class="fa fa-warning"></i>' + data[x].AGV_ID + ' : SOS</h6><p class="text-warning">' + data[x].Det.replace(/,/g, "<br>") + '</p><p class="text-secondary">Location (Lat : ' + parseFloat(data[x].Lat).toPrecision(10) + ' Long : ' + parseFloat(data[x].Long).toPrecision(10) + ')<br></p><p style="color: #999">Timestamp: <br><i>' + dateNow + '</i></p></a></li>'
                        )
                    }
                } // End of for loop
            }
        })

        $(document).on('click', '#remove_all_noti', function () {
            socket.emit('clear_noti', $('#IdUser').val());
        })

        // Amir: Click to hide notification function
        $(document).on('click', '.dropdown-item', function () {
            var json = { notid: $(this).attr('dir'), userid: $('#IdUser').val() };
            socket.emit('notiseen', json); // emit to app.js
        })

        // ANIMATEDLY DISPLAY THE NOTIFICATION COUNTER.
        $('#noti_Counter')
            .css({ opacity: 0 })
            .text('7')  // ADD DYNAMIC VALUE (YOU CAN EXTRACT DATA FROM DATABASE OR XML).
            .css({ top: '-10px' })
            .animate({ top: '-2px', opacity: 1 }, 500);

        $('#noti_Button').click(function () {
            // TOGGLE (SHOW OR HIDE) NOTIFICATION WINDOW.
            $('#notifications').fadeToggle('fast', 'linear', function () {
                if ($('#notifications').is(':hidden')) {
                    $('#noti_Button').css('background-color', '#2E467C');
                }
                // CHANGE BACKGROUND COLOR OF THE BUTTON.
                else $('#noti_Button').css('background-color', '#FFF');
            });
            $('#noti_Counter').fadeOut('slow');     // HIDE THE COUNTER.
            return false;
        });

        // HIDE NOTIFICATIONS WHEN CLICKED ANYWHERE ON THE PAGE.
        $(document).click(function () {
            $('#notifications').hide();

            // CHECK IF NOTIFICATION COUNTER IS HIDDEN.
            if ($('#noti_Counter').is(':hidden')) {
                // CHANGE BACKGROUND COLOR OF THE BUTTON.
                $('#noti_Button').css('background-color', '#2E467C');
            }
        });

        $('#notifications').click(function () {
            return false;       // DO NOTHING WHEN CONTAINER IS CLICKED.
        });

        $('.logoutBtn').click(function () {
            Logout();
            window.localStorage.clear();
        })

        socket.on('UserUpdatePasswordReturn', data => {
            if (data == 'done') {
                Swal.fire({
                    heightAuto: false,
                    type: 'success',
                    title: 'Success',
                    text: 'Password Update Successfully!',
                    customClass: {
                        popup: 'swalpopup'
                    }
                });
                $('.close').click();
            }
            else {
                if (data.toLowerCase() == "duplication") {
                    $("#NewResetPassBtn").html("Save");
                    $('#errNewPass').html("This password is used recently, please use a different new password!");
                    shakeElem('#NewPass,#errNewPass');
                }
                else {
                    Swal.fire({
                        heightAuto: false,
                        type: 'error',
                        title: 'error',
                        text: 'Password Update Failed!',
                        customClass: {
                            popup: 'swalpopup'
                        }
                    });
                    $('.close').click();
                }
            }
        })

        $(document).on('click', '#UserResetPass', () => {
            var dir = $('#IdUser').val();
            $('#ResetID').val(dir);
        })

        $('#NewPass,#ConfirmPass,#InputPassword,#NewResetPassBtn').on('click', function () {
            $('#errConfirmPass,#errNewPass,#errOldPassC').html('');
            $("#NewResetPassBtn").html("Save");
        })
        //to prevent Chrome's autofills from messing with our textboxes
        $("form.false-forms").on('submit', function (e) {
            return false;
        })
        $(document).on('click', '#NewResetPassBtn', () => {
            var oldPWD = $('#InputPassword').val();
            var dir = $('#IdUser').val();
            var NewPass = $('#ConfirmPass').val();
            var json = { ID: dir, NewPassword: NewPass };
            var hash = ({ IDPass: dir, NewPassUsr: oldPWD })
            var NPTxt = $('#NewPass').val();
            var CPTxt = $('#ConfirmPass').val();
            if (!FMS_check.checkIfnotNull(oldPWD)) {
                //check if old password is  blank
                $("#errOldPassC").html("This part cannot be blank!");
                $("#NewResetPassBtn").html("Save");
                shakeElem('#errOldPassC,#InputPassword');
            }
            else {
                var loading = `<i class="fa fa-spinner fa-spin"></i>Wait`;
                $("#NewResetPassBtn").html(loading);
                socket.emit('hashedPass', hash);
            }
        })
        socket.on('hashedPassS', dataPass => {
            if (dataPass == false) {
                $('#errOldPassC').html("Incorrect password!");
                $("#NewResetPassBtn").html("Save");
                shakeElem('#errOldPassC,#InputPassword');
            }
            else {
                var oldPWD = $('#InputPassword').val();
                var dir = $('#IdUser').val();
                var NPTxt = $('#NewPass').val();
                var CPTxt = $('#ConfirmPass').val();
                var json = { ID: dir, NewPassword: NPTxt, Reset: "No" };
                //password successfully checked
                $('#errOldPassC').html("Password validated");
                if (FMS_check.checkIM8(NPTxt) && !FMS_check.checkIfGotSpace(NPTxt) && CPTxt === NPTxt && NPTxt != oldPWD) {
                    //if the password fits the required standard
                    socket.emit('UserUpdatePassword', json);
                }
                else {
                    $("#NewResetPassBtn").html("Save");
                    // if the password does not fit the required standard
                    if (!FMS_check.checkIM8(NPTxt) || FMS_check.checkIfGotSpace(NPTxt)) {
                        $("#NewResetPassBtn").html("Save");
                        var errorMsg = "The password failed to meet the requirement, please change or reenter.<br>>>Password must be at least 12 characters long<br>>>Password must contain at least One:<br>--Numeric character<br>--Uppercase Character<br>--Lowercase Character<br>--Special Character such as:'!@#$%^&*()-='<br>>>Password MUST not contain space or tab";
                        $('#errNewPass').show();
                        $('#errNewPass').html(errorMsg);
                        shakeElem('#NewPass,#errNewPass');
                    }
                    if (CPTxt.length < 1) {
                        $('#errConfirmPass').show();
                        $('#errConfirmPass').html("This part cannot be blank");
                        shakeElem('#ConfirmPass,#errConfirmPass');
                    }
                    if (NPTxt === oldPWD) {
                        $('#NewresetPassBtn').html("Save");
                        $('#errNewPass').html("Password Cannot be same as the current password!");
                        shakeElem('#NewPass,#errNewPass');
                    }
                    else {
                        if (CPTxt != NPTxt) {
                            $('#errConfirmPass').show();
                            $('#errConfirmPass').html("Password mismatch.Please try insert again!");
                            shakeElem('#NewPass,#ConfirmPass');
                        }
                    }
                }
            }
        })

        $(window).on("beforeunload", function () {
            showload_start();
            $("a,button,input").attr("disabled", true);
            $("logoutBtn").attr("disabled", false);

        })
        //----------------------------------------------------------------------------------MAINLAYOUT END---------------------------------------------------------------------------//

        $('.myTip').tooltip()

    })
    // End of document ready
    function ModalClearonDismiss(modal) {
        try {
            $(modal).on("hidden.bs.modal", function (e) {
                $(modal).find("input, .modal-error-message").html("");
                $(modal).find("input, .modal-error-message").val("");
            })
        }
        catch (e) {
            console.log(e);
        }
    }
    function shakeElem(elem) {
        try {
            $(elem).effect('shake');

        }
        catch (er) {
        }
    }
    function Session_ResetTimer() {
        if (setSession()) {
            localStorage.setItem('session_Active', 'Active' + Math.random());
            return true;
        }
    }
    function Logout() {
        if (setSession()) {
            localStorage.setItem('session_logout', 'logout' + Math.random());
            return true;
        }

    }
    $('[data-dismiss=modal]').on('click', function (e) {
        var $t = $(this),
            target = $t[0].href || $t.data("target") || $t.parents('.modal') || $t.parents('.modal-dialog') || [];

        $(target)
            .find("input,textarea,select")
            .val('')
            .end()
            .find("input[type=checkbox], input[type=radio]")
            .prop("checked", "")
            .end()
            .find("#err")
            .html('')
            .end()
            .find("#errRoleE")
            .html('')
            .end()
            .find("#errEFn1")
            .html('')
            .end()
            .find("#errE")
            .html('')
            .end()
            .find("#errUs")
            .html('')
            .end()
            .find("#errFN")
            .html('')
            .end()
            .find("#errRole")
            .html('')
            .end()
            .find("#SOsTypeErr")
            .html('')
            .end()
            .find("#SOsResErr")
            .html('')
            .end()
            .find("#errNewPass")
            .html('')
            .end()
            .find("#errConfirmPass")
            .html('')
            .end()
            .find("#errNewPassUC")
            .html('')
            .end()
            .find("#errNewPassSC")
            .html('')
            .end()
            .find("#errOldPassC")
            .html('')
            .end()
            .find("#errPass1")
            .html('')
            .end()
            .find("#errPass2")
            .html('')
            .end()
            .find("#errPass3")
            .html('')
            .end()
            .find("#errPass")
            .html('')
            .end();
    })
</script>