<div class="container-fluid">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item active">
      <a class="nav-link active" id="sos-tab" data-toggle="tab" href="#CreateSos" role="tab" aria-controls="mission" aria-selected="true" aria-expanded="true"><h6>CREATE SOS</h6></a>
    </li>
    <li>
      <a class="nav-link active" id="mission-tab" data-toggle="tab" href="#TriggerSos" role="tab" aria-controls="mission" aria-selected="true" aria-expanded="true"><h6>Manual SOS Triggers and SOS Records</h6></a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade active in" id="CreateSos" role="tabpanel" aria-labelledby="sos-tab">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="col-md-12"></div>
            <div class="col-md-12">
              <form class="form-inline">
                <div class="row">
                  <div class="col-md-2 form-group">
                    <p>
                      <label class="label">AGV :</label>
                    </p>                                             
                    <select class="form-control fullwidths" id="AgvSos">
                      <option value="" disabled selected>SELECT AGV</option>
                      {{#each agv}}
                        <option value="{{this.agv_ID}}">{{this.agv_ID}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-md-3 form-group">
                    <p>
                      <label class="label">SOS TYPE :</label>
                    </p>                                                  
                    <select class="form-control fullwidths" id="SosTypeCrt">
                      <option value="" disabled selected>SELECT TYPE</option>
                      {{#each sos_type}}
                        <option value="{{this.Type}}">{{this.Type}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-md-3 form-group">
                    <p>
                      <label class="label">RESPONSES :</label>
                    </p>
                    <select class="form-control fullwidths" id="SosRes">
                      <option value="" selected disabled>SELECT RESPONSES</option>
                      {{#each sos_res}}
                        <option value="{{this.Response}}">{{this.Response}}</option>
                      {{/each}}
                    </select>
                  </div> 
                  <div class="col-md-2 form-group">
                    <br/><p></p>
                    <button type="button" class="btn btn-warning btn-fill form-control fullwidths " id="sos_on">Create SOS</button>
                  </div>
                  <div class="col-md-2 form-group"></div>
                </div>                                      
              </form>&nbsp;
              <table class="table table-stripped">
                <thead>
                  <tr>
                    <th width = "10%" scope="col">No</th>
                    <th width = "16%" scope="col">AGV NAME</th>
                    <th width = "16%" scope="col">SOS</th>
                    <th width = "15%" scope="col">RESPONSE</th>            
                    <th width = "15%" scope="col">CREATED AT</th>
                  </tr>
                </thead>
                <tbody id="tableBodySOS">
                  {{#each sos_dt}}
                    <tr>
                      <td width = "10%" scope="col"> {{inc @index}}</td>
                      <td width = "16%" scope="col">{{this.agv_ID}}</td>
                      <td width = "16%" scope="col">{{this.Name}}</td>
                      <td width = "16%" scope="col">{{this.Res}}</td>
                      <td width = "16%" scope="col">{{fmsTime this.TS}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="TriggerSos" role="tabpanel" aria-labelledby="mission-tab">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="col-md-12"></div>
            <div class="col-md-12">
              <form class="form-inline">
                <div class="row">
                  <div class="col-md-2 form-group">
                    <p>
                      <label class="label">AGV :</label>
                    </p>                                                
                    <select class="form-control fullwidths" id="AgvSosTrig">
                      <option value="" selected disabled>SELECT AGV</option>
                      {{#each agv}}
                        <option value="{{this.agv_ID}}">{{this.agv_ID}}</option>
                      {{/each}}
                    </select>
                  </div>                                                                                    
                  <div class="col-md-3 form-group">
                    <p>
                      <label class="label">RESPONSES :</label>
                    </p>                  
                    <input  id="Override_id" hidden="" value="{{override_id}}">                                  
                    <select class="form-control fullwidths" id="SosResV">
                      <option value="" selected disabled>SELECT RESPONSES</option>
                      {{#each sos_res}}
                        <option value="{{this._id}}">{{this.Response}}</option>
                      {{/each}}
                    </select>
                  </div> 
                  <div class="col-md-2 form-group"></div>
                </div>
                <div class="row">
                  <div class="col-md-10 form-group">
                    <p>   
                      <label class="label">REMARKS :</label>
                    </p>
                    <input type="text" class="form-control fullwidths" id="SosRemark" required="required">
                  </div> 
                  <div class="col-md-2 form-group">
                    <br/>
                    <p></p>
                  <button type="button" class="btn btn-success btn-fill col-md-12 form-control fullwidths" id="sosTriggerButton">Trigger</button>                                                      
                </div>
                </div>
              </form> &nbsp;
              <table class="table table-stripped">
                <thead>
                  <tr>
                    <th width = "5%" scope="col">No</th>
                    <th width = "5%" scope="col">AGV Name</th>
                    <th width = "15%" scope="col">Coordinate</th>
                    <th width = "20%" scope="col">SOS Type</th>
                    <th width = "20%" scope="col">SOS Response</th>
                    <th width = "15%" scope="col">Remark</th>
                    <th width = "10%" scope="col">Operator Name</th>             
                    <th width = "10%" scope="col">Time</th>
                  </tr>
                </thead>
                <tbody id="tableBody">
                  {{#each rec}}
                    <tr>
                      <td width = "5%" scope="col"> {{inc @index}}</td>
                      <td width = "5%" scope="col">{{this.agv_ID}}</td>
                      <td width = "15%" scope="col">Latitude:{{this.Lat}},<br/>Longitude:{{this.Long}}</td>
                      <td width = "20%" scope="col">{{this.SosType}}</td>
                      <td width = "20%" scope="col">{{this.SosRes}}</td>
                      <td width = "15%" scope="col">{{this.Remark}}</td>
                      <td width = "10%" scope="col">{{this.user_ID}}</td>
                      <td width = "10%" scope="col">{{fmsTime this.TS}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>              
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="/assets/js/sweetalert2.all.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  const Toast = Swal.mixin({
    toast: true,
    position: 'top-end',
    showConfirmButton: false,
    timer: 3000,
    customClass: {
      popup: 'swalpopup'
    }
  })
  var socket = io();
  $(document).ready(function() {
    //------------------ SOCKET IO Functions ------------------//

    socket.on('addSosMsg', data => {
      add_sos_msg_routine(data);
    })

    socket.on('trigSosMsg', data => {
      trig_sos_msg_routine(data);
    })

    //----------------------FOR TAB PANE REFRESH-------------------//

    $('#myTab a').click(function(e) {
      e.preventDefault();
      $(this).tab('show');
      // console.log($(this).tab('show'))
    });

    $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
      var id = $(e.target).attr("href").substr(1);
      window.location.hash = id;
    });

    // on load of the page: switch to the currently selected tab
    var hash = window.location.hash;
    $('#myTab a[href="' + hash + '"]').tab('show');

    //when create SOS button is click
    $(document).on('click','#sos_on',function() {
      var AGV = document.getElementById("AgvSos").value
      var SosType = document.getElementById("SosTypeCrt").value
      var Res = document.getElementById("SosRes").value;
      var json = {agv_ID:AGV,Name:SosType,Res:Res}
      console.log(json)
      showload_start();
      socket.emit('addSos',json) 
    })

    //on change trigger sos response
    $(document).on('change','#SosResV',function() {
      var Res = $('#SosResV').val();
        if(Res == 'GoCharge'){
          $('#sosTriggerButton').prop("disabled",true);
          Toast.fire({
            type: 'info',
            title: 'GoCharge is only for AGV' , //message
          })
          $('.close').click();
        }
        else{
          $('#sosTriggerButton').prop("disabled",false);
        }
    })

    //when create SOS trigger button is click
    $(document).on('click','#sosTriggerButton',function() {
      var AGV = $('#AgvSosTrig').val();
      // var Res_Val = $('#SosResV').val();
      var Res_Val = $('#Override_id').val();
      
      var Res = $("#SosResV option:selected").html();;
      var Remarks = $('#SosRemark').val();
      var UserName = $('#NameUsr').val();
      var json = {agv_ID:AGV,Res:Res,Remarks:Remarks,Operator:UserName,SOSID:Res_Val}
      var jsonarr = {agv_ID:AGV,sos_ID:Res_Val,res:Res}
      console.log(jsonarr)
      showload_start();
      socket.emit('sosTrigger',json) 
      socket.emit('sos/trig', jsonarr)
    })
  })

  //------------------- Routine Functions ---------------------//
  add_sos_msg_routine = (data) => {
    showload_stop();
    if(data == 'err'){
      fail_notification('SOS Type already existed!');
    }
    else if (data =='nullAgv'){
      fail_notification('AGV Name cannot be null!');
    }
    else if (data =='nullName'){
      fail_notification('SOS Type cannot be null!');
    }
    else if(data == 'nullRes'){
      fail_notification('SOS Respond cannot be null!');
    }
    else {
      success_notification('Sos successfully saved');
      $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
        var id = $(e.target).attr("href").substr(1);
        window.location.hash = id;
      });

      // on load of the page: switch to the currently selected tab
      var hash = window.location.hash;
      $('#myTab a[href="' + hash + '"]').tab('show');
    }
  }

  trig_sos_msg_routine = (data) => {
    if(data == 'err') {
      fail_notification('SOS Trigger failed!');
    }
    else{
      success_notification('Trigger SOS Successfully!');
      $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
        var id = $(e.target).attr("href").substr(1);
        window.location.hash = id;
      });

      // on load of the page: switch to the currently selected tab
      var hash = window.location.hash;
      $('#myTab a[href="' + hash + '"]').tab('show');
      setTimeout(location.reload.bind(location), 1000);
    }
  }

  update_table_sos = (data) => {
    var dtable = "";
    for(x=0; x<data.length; x++){
      dtable = dtable +
      '<tr>' +
      '<td width = "5%" scope="col">'+x+'</td>'+
      '<td width = "5%" scope="col">'+data[x].agv_ID+'</td>'+
      '<td width = "15%" scope="col">Latitude:'+data[x].Lat+',<br/>Longitude:'+data[x].Long+'</td>'+
      '<td width = "20%" scope="col">'+data[x].SosType+'</td>'+
      '<td width = "20%" scope="col">'+data[x].SosRes+'</td>'+
      '<td width = "15%" scope="col">'+data[x].Remark+'</td>'+
      '<td width = "10%" scope="col">'+data[x].user_ID+'</td>'+
      '<td width = "10%" scope="col">'+Utils.Datetime(data[x].TS)+'</td>'+
      '</tr>';
    }
    $("#tableBody").empty();
    $("#tableBody").append(dtable);
  }
</script>