{{!-- <script src='https://kit.fontawesome.com/a076d05399.js'></script> --}}
<div class="container-fluid">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item active">
                      <a class="nav-link active" id="mission-tab" data-toggle="tab" href="#mission" role="tab" aria-controls="mission" aria-selected="true" aria-expanded="true"><h6>USER LIST</h6></a>
                    </li>
                   
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active in" id="mission" role="tabpanel" aria-labelledby="mission-tab">
                        <div class="card">
                            <div class="content">
                              <div class="row">
                                 <div class="col-md-4">
                                   <!-- <div class="col-md-6 form-group"> -->
                                                                                
                                        <label class="label">Filter by Fullname</label>
                                        <input type="text"  class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search for fullname.." title="Type in a name">
                                    
                                 <!-- </div>-->

                                    </div> 
                                <div class="col-md-4"></div>
                                <div class="col-md-3">
                                    <button type="button"  class="btn btn-success btn-fill form-control" data-toggle="modal" data-target="#modalUserA" id="uAdd"><span class="ti-plus"></span> Add New User</button>
                             
                                </div>
                              </div>
                            </div>
                            <div class="content">
                              <input type="hidden" id="generateAuto" name="length" value="10">
                              <input type="hidden" id="row_password" type="text" size="40">&nbsp;
                             <!-- <input type="button" class="button" value="Generate" id="btnlah" tabindex="2">-->
                                <table class="table table-stripped">
                                    <thead>
                                      <tr>
                                          <th width="5%">#</th>
                                          <th width="10%">Username</th>
                                          <th width="15%">Name</th>
                                          <th width="10%">User Type</th>
                                          <th width="15%">Date Created</th>
                                          <th width="10%">Status</th>
                                          <th width="25%">Action <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title="Please copy New Password in the popup after click on 'Reset'">
                                                            <i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                                                            </a>
                                          </th>
                                      </tr>
                                    </thead>
                                    <tbody id="tableBodyUser">
                                       
                                      {{#each user}}
                                        <tr>
                                          <td>{{inc @index}}</td>
                                          <td>{{this.Username}}</td>
                                          <td>{{this.Name}}</td>
                                          <td>{{this.Type}}</td>
                                           <td>{{this.TS}}</td>
                                          {{#ifCond this.Login_Status "NORMAL"}}
                                               <td class="text-success"><h5>{{this.Login_Status}}</h5></td>
                                               <td>
                                                 <button style="width:100px" class="eUsrBtn btn btn-fill btn-warning form-control" dir="{{this._id}}" data-toggle="modal" data-target="#modalUserE"><span class="ti-pencil"></span> Edit</button>
                                                 <button style="width:100px"  data-toggle="modal" data-target="#modalUserD" class="dUsrBtn btn btn-fill btn-danger form-control" dir="{{this._id}}"><span class="ti-trash"></span> Delete</button>
                                                 <button style="width:100px"  data-toggle="modal" data-target="#resetUserPassword" class="ResetPassButton btn btn-fill btn-basic form-control" dir="{{this._id}}"><span class="fa fa-lock"></span>Reset</button>
                                          
                                              </td>
                                            {{/ifCond}}
                                           {{#ifCond this.Login_Status "BLOCKED"}}
                                               <td class="text-danger"><h5>{{this.Login_Status}}</h5></td>
                                               <td>
                                               <button style="width:100px" class="eUsrBtn btn btn-fill btn-warning form-control" dir="{{this._id}}" data-toggle="modal" data-target="#modalUserE"><span class="ti-pencil"></span> Edit</button>
                                               <button style="width:100px"  data-toggle="modal" data-target="#modalUserD" class="dUsrBtn btn btn-fill btn-danger form-control" dir="{{this._id}}"><span class="ti-trash"></span> Delete</button>
                                               <button style="width:100px"  data-toggle="modal" data-target="#resetUserPassword" class="ResetPassButton btn btn-fill btn-basic form-control" dir="{{this._id}}"><span class="fa fa-lock"></span>Reset</button>
                                               {{!-- <span class="fas fa-exclamation-circle" style="font-size:30px;color:red"></span> --}}
                                               
                                               </td>
                                            
                                            {{/ifCond}}
                                         
                                          </tr>

                                       
                                      {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                  
                  </div>
              
            </div>
            <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="/assets/js/sweetalert2.all.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

<script>
    var socket = io();





      $(document).ready(() => {



        $('#uAbtn').click(() => {
          var username = $('#uA').val();
          var fullname = $('#fA').val();
          var utype = $('#utA').val();
          var pass = $('#pA').val();
          var pass2 = $('#p2A').val();
         
         socket.emit('checkUN',username);

       var validatePass1 = validatePassword1()
       //console.log(validatePassword())
        
        if(validatePass1 == false){
          console.log('error reset password')
        } else{
          socket.emit('register',{Username:username,Type:utype,Name:fullname,Pass:pass,Pass2:pass2,TS:new Date()});
          console.log('Successfully')
        }
         
         
        })


var validatePassword1 = function() {
    var InputPass = $('#pA').val();
    var InputPassL = $('#pA').val().length;
    var ConfirmInputPass = $('#p2A').val();
    var InputFN = $('#fA').val();
    var InputUN = $('#uA').val();
     errors = [];
        




////CHECK USERNAME HAD ALREADY EXIST///// 
socket.on('checkUNS',data =>{
  console.log(data)
 if (data == 'true' )  {
        $('#errUs1').show();
        $('#errUs1').html("Username had already exist");
         errors.push('err')
    }else{
        $('#errUs1').hide();  
    }

})


////CHECK FULLNAME CANNOT BE NULL/////  
    if (InputFN =="" )  {
        $('#errFN').show();
        $('#errFN').html("User fullname cannot be null");
         errors.push('err')
    }else{
        $('#errFN').hide();  
    }

////CHECK USERNAME CANNOT BE NULL/////  
    if (InputUN =="" )  {
        $('#errUs').show();
        $('#errUs').html("Username cannot be null");
         errors.push('err')
    }else{
        $('#errUs').hide();  
    }

////NEW PASSWORD MUST LENGTH BETWEEN 6-12/////  
    if (InputPassL > 12 || InputPassL < 6 )  {
        $('#errPass1').show();
        $('#errPass1').html("Your password must be length of 6-12 characters");
        errors.push('err')
    }else{
       $('#errPass1').hide();  
    }

////CONFIRM PASSWORD MUST LENGTH BETWEEN 6-12/////
    if(InputPass != ConfirmInputPass){
       $('#errPass').show();
       $('#errPass').html("Your password mismatch.Please try insert again!");
       errors.push('err')
    }else{
       $('#errPass').hide();
    }
////NEW PASSWORD MUST HAVE AT LEAST ONE UPPER CASE///////////
    if(!/[A-Z]/.test(InputPass)){
         $('#errPass2').show();
        $('#errPass2').html("Your password must have at least One Upper Case");
         errors.push('err')
    }else{
         $('#errPass2').hide();
    }
////NEW PASSWORD MUST HAVE AT LEAST ONE SPECIAL CASE///////////
    if(!/[_\-!\"$%^#!~@;,.:]/.test(InputPass)){
         $('#errPass3').show();
        $('#errPass3').html("Your password must have at least One Special Character etc : ( $#%^&* )");
         errors.push('err')
    }else{
         $('#errPass3').hide();
    }
 
    if (errors.length > 0) {
       // alert(errors.join("\n"));
        return false;
    }
    return true;
}

//----------------------ADD USER SAVE-------------------------------//
        socket.on('userASave', data => {
          if(data == 'errCantAdd'){
            Swal.fire({
                  heightAuto:false,
                  type: 'error',
                  title: 'Error',
                  text: 'Failed to add new user',
                })
                $('.close').click();
                
           }
            else {
                Swal.fire({
                  heightAuto:false,
                  type: 'success',
                  title: 'Success',
                  text: 'USER ID: ' + data + " successfully added",
                })
                $('.close').click();
                 setTimeout(location.reload.bind(location), 100);
             //   $("#myTabContent").load(location.href + " #myTabContent .tab-pane, script");
           }
    })



        socket.on('updateUsrs',data => {
           if(data == 'err') {
             $('#errE').html('User already exist. Please choose another.')
           }  else {
                Swal.fire({
                  heightAuto:false,
                  type: 'success',
                  title: 'Success',
                  text: 'User: ' + data.Username + " successfully updated",
                   customClass: {
            popup: 'swalpopup'
          }
                })
                $('.close').click();
                  setTimeout(location.reload.bind(location), 100);
              //  $("#myTabContent").load(location.href + " #myTabContent .tab-pane, script");
           }
         })

        
         $(document).on('click','#eUsrBtn',function() {
          socket.emit('updateUSR',{'_id':$('#eUsrId').val(),'Username':$('#uE').val(),'Name':$('#eE').val(),'Type':$('#utE').val()});
          //alert("helo");
        })

          $(document).on('click','.eUsrBtn',function()  {
           var dir = $(this).attr('dir');
           socket.emit('reqEUsr',{'_id':dir})
           socket.on('resEUsr',data => {
             $('#uE').val(data.Username);
             $('#eE').val(data.Name);
             $('#utE').val(data.Type);
             $('#pE').val(data.Pass);
             $('#p2E').val(data.Pass);
           })
           $('#eUsrId').val(dir);
         })



//------------------------RESET PASSWORD--------------------//

function randomPassword(id) {
    var chars = "abcdefghijklmnopqrstuvwxyz!@#$%^&*()-+<>ABCDEFGHIJKLMNOP1234567890";
    var pass = "";
    for (var x = 0; x < id; x++) {
        var i = Math.floor(Math.random() * chars.length);
        pass += chars.charAt(i);
    }
    return pass;
}
var PassAuto = "";
function generate() {
    var id = $('#generateAuto').val();
    var rdmpass = randomPassword(id);
    $('#row_password').val(rdmpass);
}

 //$(document).on('click','#btnlah',function() {
          
    //    })

$(document).on('click','.ResetPassButton',function()  {
           
           var dir = $(this).attr('dir');
           console.log(dir)
           
           var genPass = generate()
           //var rdmpass1 = $('#row_password').val();
           $('#ResetPassButton').val(dir);
         })
      
 $(document).on('click','#ResetPassBtn',function() {
          socket.emit('resetPassword',{'_id':$('#ResetPassButton').val(),'AutoGen':$('#row_password').val()});
        })

socket.on('resetPasswordS', data =>{
if(data == 'error'){
Swal.fire({
          heightAuto:false,
          type: 'error',
          title: 'Error',
          text: 'Password reset not success. Please try again.',
            customClass: {
            popup: 'swalpopup'
            }
  });
   $('.close').click();
    // setTimeout(location.reload.bind(location), 100);
   //$("#myTabContent").load(location.href + " #myTabContent .tab-pane, script");

 
}else{

  Swal.fire({
          heightAuto:false,
          type: 'success',
          title: 'Success',
          text: 'Password reset successfully. New Password is  '+ data,
            customClass: {
            popup: 'swalpopup'
            }
  });
   $('.close').click();
     //setTimeout(location.reload.bind(location), 100);
   //$("#myTabContent").load(location.href + " #myTabContent .tab-pane, script");


}

})

//-------------------DELETE USER--------------------------//

$(document).on('click','.dUsrBtn',function()  {
           
           var dir = $(this).attr('dir');
           //console.log(dir)
           $('#dUsrId').val(dir);
         })

 $(document).on('click','#dUsrBtn',function() {
          
          socket.emit('deleteUser',{'_id':$('#dUsrId').val()});
        })

//-------------DELETE USER MESSAGE----------------------//
         socket.on('deleteUsers',data => {
             Swal.fire({
                  heightAuto:false,
                  type: 'success',
                  title: 'Success',
                  text: 'USER ID: ' + data.Username + " successfully deleted",
                })
                $('.close').click();
                 setTimeout(location.reload.bind(location), 100);
              //  $("#myTabContent").load(location.href + " #myTabContent .tab-pane, script");
         })



  
      })


      function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("tableBodyUser");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];

    if (td) {

      txtValue = td.textContent || td.innerText;

          if (txtValue.toUpperCase().indexOf(filter) > -1)
          {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
    }       
  }
}
</script>

 