<div class="container-fluid">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item active">
            <a class="nav-link active" id="mission-tab" data-toggle="tab" href="#mission" role="tab" aria-controls="mission" aria-selected="true" aria-expanded="true"><h6>AGV LIST</h6></a>
        </li>

    </ul>
    <div class="tab-content" id="myTabContent_agvlist">
        <div class="tab-pane fade active in" id="mission" role="tabpanel" aria-labelledby="mission-tab">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-md-5">

                        </div>
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-success btn-fill form-control" data-toggle="modal" data-target="#exampleModal" id="addAGV"><span class="ti-plus"></span>Add New AGV</button>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <table class="table table-stripped" id="table">
                        <thead>
                            <tr>
                                <th width="5%">No</th>
                                <th width="35%">AGV Name</th>
                                <th width="25%">Date added</th>
                                <th width="25%">Action</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">

                            {{#each agv}}
                            <tr>
                                <td width='5%' class="inc"> {{inc @index}}</td>
                                <td width='25%'>{{this.agv_ID}}</td>
                                <td width='25%'>{{fmsTime this.TS}}</td>
                                <td><button style="width:100px" class="eAgvBtn btn btn-fill btn-warning form-control" dir="{{this._id}}" data-toggle="modal" data-target="#exampleModal2"><span class="ti-pencil"></span> Edit</button> <button style="width:100px" data-toggle="modal" data-target="#exampleModal3" class="dAgvBtn btn btn-fill btn-danger form-control" dir="{{this._id}}"><span class="ti-trash"></span> Delete</button></td>
                            </tr>
                            {{else}}
                            <tr><td colspan="4"><center><h5>NO DATA ENTRY</h5></center></td></tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</div></div>

{{!----------------------------------------------------------------------- AGV SETTING  PAGE------------------------------------------------------------------------}}
<!-- MODAL ADD NEW AGV -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="addmission" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success" id="exampleModalLabel">Add New AGV</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body missionform">
                <div class="form-group">
                    <label for="missionName" class="col-form-label">AGV ID:</label>
                    <input type="text" class="form-control" id="nAgv" placeholder="Enter AGV ID">
                    <div id="err" class="text-danger"></div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="form-group col-lg-offset-9  ">
                    <button type="button" style="width:100px" class="btn btn-danger btn-fill form-control" data-dismiss="modal">Cancel</button>
                    <button id="nAgvBtn" style="width:100px" type="button" class="btn btn-success btn-fill  form-control">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL EDIT AGV -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="addmission" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success" id="exampleModalLabel">Edit AGV</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body missionform">
                <div class="form-group">
                    <label for="missionName" class="col-form-label">AGV ID:</label>
                    <input type="text" class="form-control" id="eAgv" placeholder="Enter AGV ID">
                    <div id="errE" class="text-danger"></div>
                    <input type="hidden" id="eAgvId">
                </div>
            </div>

            <div class="modal-footer">
                <div class="form-group col-lg-offset-9  ">
                    <button type="button" style="width:100px" class="btn btn-danger btn-fill form-control" data-dismiss="modal">Cancel</button>
                    <button style="width:100px" id="eAgvBtn" type="button" class="btn btn-success btn-fill form-control">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL DELETE AGV -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="addmission" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success" id="exampleModalLabel">Delete AGV</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body missionform">
                <p>Are you sure you want to delete this AGV?</p>
            </div>

            <div class="modal-footer">
                <div class="form-group col-lg-offset-9  ">
                    <button type="button" style="width:100px" class="btn btn-warning btn-fill form-control" data-dismiss="modal">Cancel</button>
                    <button id="dAgvBtn" style="width:100px" type="button" class="btn btn-danger btn-fill form-control">Delete</button>
                    <input type="hidden" id="dAgvId">
                </div>
            </div>
        </div>
    </div>
</div>

{{!----------------------------------------------------------------------- AGV SETTING END -------------------------------------------------------------------------}}

<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="/assets/js/sweetalert2.all.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>

    var socket = io();
    var agvCurrent = [];

    $(document).ready(() => {
        //var jsonns = {"cmd": "pick1","j1": "273.49 163.35 65.14 359.13 260.16 185.65","fv1": "-5388 -5388","p1": "0.2834 0.0 0.08 0 0 90,0.0 -0.1572 0.0 0 0 0,0.0 0.0 -0.1408 0 0 0,0.0 0.0 0.0 0 0 0","fv2": "6250 6250","j2": "232.24 200.18 125.30 360.22 281.63 54.82","p2": "0.0 0.268 0.0 0 0 0,0.1278 0.0 0.0 0 0 0,0.0 0.179 0.0 10 0 0,0.0 0.0 -0.145 0 0 0","fv3": "-5394 -5394","j3": "167.25 198.22 120.15 361.88 280.52 -11.98","fv4": "5400 5400","j4": "269.19 84.68 39.73 359.89 239.92 354.67"};

        //--------------- SOCKET IO FUNCTIONS -----------------//

        socket.on('CVsaveAGV', data => {
            save_agv_routine(data);
        })

        socket.on('updateAGVs', data => {
            update_agv_routine(data);
        })

        socket.on('deleteAGVs', data => {
            delete_agv_routine(data);
        })

        socket.on('resEAgv', data => {
            showload_stop();
            agvCurrent = data;
        })

        socket.on('resEAgv', data => {
            showload_stop();
            $('#eAgv').val(data);
        })


        $('#nAgvBtn').click(() => {
            var json = { 'Name': $('#nAgv').val(), 'TS': new Date() };
            showload_start();
            socket.emit('VCsaveAGV', json);
        })

        $(document).on('click', '.eAgvBtn', function () {
            var dir = $(this).attr('dir');
            showload_start();
            socket.emit('reqEAgv', { '_id': dir })
            $('#eAgvId').val(dir);

        })

        $(document).on('click', '.dAgvBtn', function () {
            var dir = $(this).attr('dir');
            $('#dAgvId').val(dir);
        })

        $(document).on('click', '#eAgvBtn', function () {
            showload_start();
            socket.emit('updateAGV', { '_id': $('#eAgvId').val(), 'agv_ID': $('#eAgv').val(), 'current_agvID': agvCurrent });
        })


        $(document).on('click', '#dAgvBtn', function () {
            showload_start();
            socket.emit('deleteAGV', { '_id': $('#dAgvId').val() });
        })

    })


    //-------------------- Routine Functions ----------------------//

    save_agv_routine = (data) => {
        showload_stop();
        if (!data.response) {
            $('#nAgv').val("");
            $('#err').html("<span class='txt-danger'>" + data.data + "</span>");
        }
        else {
            success_notification('AGV ID: ' + data.data + " successfully added");
            $("#myTabContent_agvlist").load(location.href + " #myTabContent_agvlist .tab-pane, script");
        }

    }

    update_agv_routine = (data) => {

        if (data == 'err') {
            $('#errE').html('AGV ID already exist. Please choose another.')
        } else {
            success_notification('AGV ID: ' + data.agv_ID + " successfully updated");
            $("#myTabContent_agvlist").load(location.href + " #myTabContent_agvlist .tab-pane, script");
        }

    }

    delete_agv_routine = (data) => {
        success_notification('AGV ID: ' + data.agv_ID + " successfully deleted");
        $("#myTabContent_agvlist").load(location.href + " #myTabContent_agvlist .tab-pane, script");

    }



</script>