.form-control::-moz-placeholder {
    color: #999;
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.form-control::-webkit-input-placeholder {
    color:#555;
}

.fullwidths {
    width: 100% !important;
}

/* #addmission .modal-body {
    overflow: hidden !important;
} */
