<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-7">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="label">1. AGV : </label>
                            <select class="form-control fullwidths" id="armControlAgv">
                                <option value="SELECT_AGV" disabled selected>SELECT AGV</option>
                                {{#each agv}}
                                <option value="{{this.agv_ID}}">{{this.agv_ID}}</option>
                                {{/each}}
                            </select><br>
                            <label class="label">
                                2. START CONTROL : </lable>
                                <label class="switch">
                                    <input id="manCtrl" type="checkbox" disabled="disabled">
                                    <span class="slider round"></span>
                                </label>
                                <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title="Please choose agv first before start control">
                                    <i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                                </a>
                        </div>
                        <div align="center" class="col-md-6">
                            <p>Connection status:  <i class="fa fa-circle colorCircle1" style="font-size:16px;color:red"></i> <span class="status1">OFF</span></p>
                            <iframe id="cameraImg" src="/assets/img/img.html" frameborder="0" scrolling="no" width="100%" height="350px"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link active" id="mission-tab" data-toggle="tab" href="#mission" role="tab" aria-controls="mission" aria-selected="true" aria-expanded="true">
                        <h6>MANUAL CONTROL</h6>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" id="mission-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="true" aria-expanded="true">
                        <h6>AUTOMATIC CONTROL</h6>
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active in" id="mission" role="tabpanel" aria-labelledby="mission-tab">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="header">
                                                <h4 class="title">
                                                    Cartesian
                                                    <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title="For Arm Cartesian">
                                                        <i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div class="content">
                                                <div class="row cartesian-row">
                                                    <div class="col-md-4">
                                                        <button class="btn btn-info btn-fill cartesian-btn form-control btn-default" id="xP" disabled="disabled">x+</button>
                                                        <button class="btn btn-info btn-fill cartesian-btn  form-control btn-default" id="xN" disabled="disabled">x-</button>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-info btn-fill cartesian-btn  form-control btn-default" id="yP" disabled="disabled">y+</button>
                                                        <button class="btn btn-info btn-fill cartesian-btn  form-control btn-default" id="yN" disabled="disabled">y-</button>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-info btn-fill cartesian-btn  form-control btn-default" id="zP" disabled="disabled">z+</button>
                                                        <button class="btn btn-info btn-fill cartesian-btn  form-control btn-default" id="zN" disabled="disabled">z-</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card ">
                                            <div class="header">
                                                <h4 class="title">
                                                    Rotation
                                                    <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title="For Arm Rotation">
                                                        <i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div class="content">
                                                <div class="row cartesian-row">
                                                    <div class="col-md-4">
                                                        <button class="btn btn-info btn-fill cartesian-btn form-control btn-default" id="roP" disabled="disabled">ro+</button>
                                                        <button class="btn btn-info btn-fill cartesian-btn form-control btn-default" id="roN" disabled="disabled">ro-</button>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-info btn-fill cartesian-btn form-control btn-default" id="ptP" disabled="disabled">pt+</button>
                                                        <button class="btn btn-info btn-fill cartesian-btn form-control btn-default" id="ptN" disabled="disabled">pt-</button>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-info btn-fill cartesian-btn form-control btn-default" id="yaP" disabled="disabled">ya+</button>
                                                        <button class="btn btn-info btn-fill cartesian-btn form-control btn-default" id="yaN" disabled="disabled">ya-</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <br>
                                        <ul class="list-inline center-this">
                                            <button class="btn btn-success btn-fill btn-act btn-default" id="fP" disabled="disabled">
                                                <img src="/assets/img/arm/grip.png" width="100%;"><br>GRIP
                                            </button>
                                            <button class="btn btn-success btn-fill btn-act btn-default" id="fN" disabled="disabled">
                                                <img src="/assets/img/arm/release.png" width="100%;"><br>RELEASE
                                            </button>
                                            <li></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">
                                Preset :
                                <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title="Preset 1 : Home, Preset 2 : Ready, Preset 3 : Home Kinnova , Preset 4 : Attack, Preset 5 : Standby">
                                    <i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                                </a>
                            </h4>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="col-md-12">
                                        <ul class="list-inline center-this fbtngrp0">
                                            {{#ifCond p1 "404"}}
                                            <li>
                                                <button type="button" id="preset1" class="btn btn-circle btn-lg fbtnstyle" disabled="disabled">Preset 1</button>
                                                <h6>N/a</h6>
                                            </li>
                                            {{else}}
                                            <li>
                                                <button type="button" id="preset1" class="btn btn-default btn-circle btn-lg fbtnstyle" disabled="disabled">Preset 1</button>
                                                <h6>{{p1}}</h6>
                                            </li>
                                            {{/ifCond}}
                                            {{#ifCond p2 "404"}}
                                            <li>
                                                <button type="button" id="preset2" class="btn btn-circle btn-lg fbtnstyle" disabled="disabled">Preset 2</button>
                                                <h6>N/a</h6>
                                            </li>
                                            {{else}}
                                            <li>
                                                <button type="button" id="preset2" class="btn btn-default btn-circle btn-lg fbtnstyle" disabled="disabled">Preset 2</button>
                                                <h6>{{p2}}</h6>
                                            </li>

                                            {{/ifCond}}
                                            {{#ifCond p3 "404"}}
                                            <li>
                                                <button type="button" id="preset3" class="btn btn-circle btn-lg fbtnstyle" disabled="disabled">Preset 3</button>
                                                <h6>N/a</h6>
                                            </li>
                                            {{else}}
                                            <li>
                                                <button type="button" id="preset3" class="btn btn-default btn-circle btn-lg fbtnstyle" disabled="disabled">Preset 3</button>
                                                <h6>{{p3}}</h6>
                                            </li>

                                            {{/ifCond}}
                                            {{#ifCond p4 "404"}}
                                            <li>
                                                <button type="button" id="preset4" class="btn btn-circle btn-lg fbtnstyle" disabled="disabled">Preset 4</button>
                                                <h6>N/a</h6>
                                            </li>
                                            {{else}}
                                            <li>
                                                <button type="button" id="preset4" class="btn btn-default btn-circle btn-lg fbtnstyle" disabled="disabled">Preset 4</button>
                                                <h6>{{p4}}</h6>
                                            </li>

                                            {{/ifCond}}
                                            {{#ifCond p5 "404"}}
                                            <li>
                                                <button type="button" id="preset5" class="btn btn-circle btn-lg fbtnstyle" disabled="disabled">Preset 5</button>
                                                <h6>N/a</h6>
                                            </li>
                                            {{else}}
                                            <li>
                                                <button type="button" id="preset5" class="btn btn-default btn-circle btn-lg fbtnstyle" disabled="disabled">Preset 5</button>
                                                <h6>{{p5}}</h6>
                                            </li>

                                            {{/ifCond}}

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-5">
            <div class="card">
                <div class="header"><h4 class="title">Arm Diagram</h4></div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="/assets/img/arm/kinova-nav.png" class="img-responsive" alt="arm-img0" id="arm-img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h4 class="title">
                        Arm Input
                        <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title="Display all arm location value">
                            <i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                        </a>
                    </h4>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-stripe">
                                <thead>
                                <th width="250">Input</th>
                                <center><th>Value</th></center>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>X</td>
                                        <td><input id="x" value="0" style="border:none"></td>
                                    </tr>
                                    <tr>
                                        <td>Y</td>
                                        <td><input id="y" value="0" style="border:none"></td>
                                    </tr>
                                    <tr>
                                        <td>Z</td>
                                        <td><input id="z" value="0" style="border:none"></td>
                                    </tr>
                                    <tr>
                                        <td>Roll</td>
                                        <td><input id="roll" value="0" style="border:none"></td>
                                    </tr>
                                    <tr>
                                        <td>Pitch</td>
                                        <td><input id="pitch" value="0" style="border:none"></td>
                                    </tr>
                                    <tr>
                                        <td>Yaw</td>
                                        <td><input id="yaw" value="0" style="border:none"></td>
                                    </tr>
                                    <tr>
                                        <td>Finger 1</td>
                                        <td><input id="fv1" value="0" style="border:none"></td>
                                    </tr>
                                    <tr>
                                        <td>Finger 2</td>
                                        <td><input id="fv2" value="0" style="border:none"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
</script>
<script src="socket.io/socket.io.js"></script>

<script>
    var socket = io();
    var timeoutId = 0;
    var jsonArmAndAgv = {}

    $(document).ready(function () {
        socket.on('armLoc', data => {
            arm_loc_routine(data);
        })

        socket.on('fingerLoc', data => {
            finger_loc_routine(data)
        })

        $('#manCtrl').on('click', function () {
            var armValueData = $('#armControlAgv').val();
            socket.emit('ATArmReq', armValueData)
            //check if checkbox is checked
            if ($(this).is(':checked')) {
                console.log("clicked");
                $('.btn-default').attr('disabled', false); //enable input
                var agv = $('#armControlAgv').val();
                var pre = { name: 'presetStart', AGV: agv };
                socket.emit('sys/arm/mv', pre);

                var agv_ID = $('#armControlAgv').val();
                var status = 1;
                var man = { agv_ID: agv_ID, status: status };
                showload_start();
                socket.emit('Armcam/link', agv_ID);

                socket.on('Armcam/linkS', data => {
                    showload_stop();
                    if (data.Link_Cam != '' && data.Link_Cam != 'No Data') {
                        $('.status1').html("CONNECTED");
                        $('.colorCircle1').css({ 'color': 'green' });
                        $('#cameraImg').attr("src", data.Link_Cam + agv_ID);
                        socket.emit('sys/man', man);
                    } else {
                        $('.status1').html("NOT AVAILABLE");
                        $('.colorCircle1').css({ 'color': 'red' });
                        $('#cameraImg').attr("src", "/assets/img/img.html");
                    }
                })

            }
            else {
                console.log("Unclicked");
                $('.btn-default').prop('disabled', true); //disable input
                var agv = $('#armControlAgv').val();
                var pre = { name: 'presetHome', AGV: agv };
                socket.emit('sys/arm/mv', pre);
                $('.status1').html("NOT AVAILABLE");
                $('.colorCircle1').css({ 'color': 'red' });
                $('#cameraImg').attr("src", "/assets/img/img.html");
            }
        });

        $('.btn-fill').on('click', function () {
            var id = $(this).attr('id');
            var agvArm = $('#armControlAgv').val();
            jsonArmAndAgv = ({ agv: agvArm, valueArmID: id })
            socket.emit('sys/arm/mv1', id)
            socket.emit('sys/arm', jsonArmAndAgv);
        });

        $('#armControlAgv').on('change', function () {
            $('.status1').html("NOT AVAILABLE");
            $('.colorCircle1').css({ 'color': 'red' });
            $('#cameraImg').attr("src", "/assets/img/img.html");
            $('#manCtrl').prop("checked", false);
            $('.btn-default').attr('disabled', true);
            var armVal = $(this).val()
            if (armVal == 'SELECT AGV') {
                $('#manCtrl').attr('disabled', true);
                $('#manCtrl').attr('disabled', true);

            } else {
                // $('#manCtrl').prop('checked',false);
                $('#manCtrl').attr('disabled', false);
                $('.btn-default').attr('disabled', true);
            }
        })

        $(document).on('click', '#preset1', () => {
            var agv = $('#armControlAgv').val();
            var pre = { name: 'preset1', AGV: agv };
            socket.emit('sys/arm/mv', pre);
            socket.emit('sys/arm/mv1', 'Preset 1 for ' + agv);
        })

        $(document).on('click', '#preset2', () => {
            var agv = $('#armControlAgv').val();
            var pre = { name: 'preset2', AGV: agv };
            socket.emit('sys/arm/mv', pre);
            socket.emit('sys/arm/mv1', 'Preset 2 for ' + agv);
        })

        $(document).on('click', '#preset3', () => {
            var agv = $('#armControlAgv').val();
            var pre = { name: 'preset3', AGV: agv };
            socket.emit('sys/arm/mv', pre);
            socket.emit('sys/arm/mv1', 'Preset 3 for ' + agv);
        })

        $(document).on('click', '#preset4', () => {
            var agv = $('#armControlAgv').val();
            var pre = { name: 'preset4', AGV: agv };
            socket.emit('sys/arm/mv', pre);
            socket.emit('sys/arm/mv1', 'Preset 4 for ' + agv);
        })

        $(document).on('click', '#preset5', () => {
            var agv = $('#armControlAgv').val();
            var pre = { name: 'preset5', AGV: agv };
            socket.emit('sys/arm/mv', pre);
            socket.emit('sys/arm/mv1', 'Preset 5 for ' + agv);
        })

    }) // End of document ready

    //--------------- ROUTINE FUNCTIONS ---------------//

    arm_loc_routine = (data) => {
        $('#x').val(data.x);
        $('#y').val(data.y);
        $('#z').val(data.z);
        $('#roll').val(data.rx);
        $('#pitch').val(data.ry);
        $('#yaw').val(data.rz);
    }

    finger_loc_routine = (data) => {
        $('#fv1').val(data.fv1);
        $('#fv2').val(data.fv2);
    }

</script>