<style>
    .red {
        background-color: #ff9999 !important;
    }

    .blue {
        background-color: #00c2c7 !important;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">
                                    AGV LIST :
                                    <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover"
                                       title="Choose AGV to show all available schedule">
                                        <i class="fa fa-info-circle"
                                           style="font-size:20px;color:rgba(255, 211, 154, 0.891)">
                                        </i>
                                    </a>
                                </h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <form class="form-inline">
                                        <div class="col-lg-6 form-group" style="width:100%" ;>
                                            <select class="form-control" style="border:1px solid grey; width:100%;"
                                                    id="agv_dropdown">
                                                <option disabled selected>SELECT AGV</option>
                                                {{#each agv}}
                                                <option value="{{this.agv_ID}}">{{this.agv_ID}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="header">
                                <h4 class="title">
                                    Schedule List:
                                    <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover"
                                       title="Choose One Schedule to execute missions to AGV. Then, click 'Start Schedule' to proceed">
                                        <i class="fa fa-info-circle"
                                           style="font-size:20px; color:rgba(255, 211, 154, 0.891)">
                                        </i>
                                    </a>
                                </h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <form class="form-inline">
                                        <div class="col-lg-6 form-group" style="width:100%;">
                                            <select class="form-control" style="border:1px solid grey; width:100%;"
                                                    id="sched_dropdown" disabled="disabled">
                                                <option disabled selected>SELECT SCHEDULE</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="content">
                                <div class="row" style="margin-top:7px">
                                    <div align="right" class="col-md-4 col-xs-8" style="width:100%">
                                        <button id="startSched" type="button" style="width:100%;margin-bottom:5px;"
                                                class="btn btn-success btn-fill form-control startSched"
                                                disabled="disabled">
                                            START SCHEDULE
                                        </button>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div class="card">
                            <div class="header">
                                <h4 class="title">
                                    AGV Control:
                                    <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover"
                                       title="Option to Suspend, Resume and Shutdown the AGV">
                                        <i class="fa fa-info-circle"
                                           style="font-size:20px;color:rgba(255, 211, 154, 0.891)">
                                        </i>
                                    </a>
                                </h4>
                            </div>
                            <div class="content">
                                <div class="row" style="margin-top:7px;">
                                    <div align="right" class="col-md-4 col-xs-8" style="width:100%">
                                        <button id="resumeSched" type="button" style="width:100%;margin-bottom:5px;"
                                                class="btn btn-info btn-fill form-control resumeSched" disabled="disabled">
                                            RESUME
                                        </button>
                                        <button id="suspendSched" type="button" style="width:100%;margin-bottom:5px;"
                                                class="btn btn-warning btn-fill form-control suspendSched"
                                                disabled="disabled">
                                            SUSPEND
                                        </button>
                                        <h4 align="left" id="mystate">STATE: </h4>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">
                                    Maps : <a class="myTip" href="#" data-toggle="tooltip"
                                              data-trigger="hover" title="Show Selected AGV">
                                        <i class="fa fa-info-circle"
                                           style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                                    </a>
                                    <span class="pull-right" id="agvFollowTurret"></span>
                                </h4>
                            </div>
                            <div class="content">
                                <div id="map"></div>
                                <span id="mapPointer"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">
                                    List of Schedule's Mission :
                                    <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover"
                                       title="Grey Indicator Row : Mission queue to run. Blue Indicator Row : Running mission. Red Indicator Row : Completed run the mission">
                                        <i class="fa fa-info-circle"
                                           style="font-size:20px;color:rgba(255, 211, 154, 0.891)">
                                        </i>
                                    </a>
                                </h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <form class="form-inline">
                                        <div class="col-lg-12">
                                            <div class="col-md-6 form-group">
                                            </div>
                                            <table class="table table-stripped">
                                                <thead>
                                                <th>No</th>
                                                <th>Mission Name</th>
                                                <th>AGV</th>
                                                <th>Map</th>
                                                <th>Date Created</th>
                                                <th>Delete</th>
                                                </thead>
                                                <tbody id="tableBody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="header">
                    <h4 class="title">
                        Activities :
                        <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover"
                           title="For user references to monitor running activities.">
                            <i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)">
                            </i>
                        </a>
                    </h4>
                </div>
                <div class="content">
                    <ul class="timeline" id="activitiestimeline" hidden="hidden">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


</div></div>

{{!-- ----------------------------------------------------------------------OPERATION MODAL PUT HERE------------------------------------------------------------------------------}}
{{!-MISSION DELETE--}}
<div class="modal fade" id="ModalDelMis" tabindex="-1" role="dialog" aria-labelledby="modaldeleteMis" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="deleteSOS" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success" id="modaldeleteArmValLabel">Delete Mission in Schedule</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="col-md-12 sosform">
                    <p>Are you sure you want to delete this Mission?</p>
                </div><!--End col-md-5-->

                <div class="form-group col-lg-offset-9  ">
                    <button type="button" style="width:100px" class="btn btn-warning btn-fill form-control" data-dismiss="modal">Cancel</button>
                    <button id="ButDelMis" style="width:100px" type="button" class="btn btn-danger btn-fill form-control">Delete</button>
                    <input type="hidden" id="inputDelMisID">
                </div>
            </div>

            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

{{!-- ----------------------------------------------------------------------OPERATION MODAL END HERE---------------------------------------------------------------------------}}

<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.11/lib/OpenLayers.js"></script>
<script src="/assets/js/sweetalert2.all.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

    //------------------- Initialize Variables ---------------------//

    var socket = io();
    var arrayTemp = [];
    var usedSchedules = []; usedSchedules.push("agent");
    var cmd = [];
    var jsonar = [];
    var counter = 0;
    var emitdis = {};
    var img2 = $('<img>');
    img2.attr('src', "assets/img/marker.png");
    img2.attr("height", "52");
    img2.attr("width", "52");
    //agv indicator logic
    var nextstop = "no";
    var dynamicIMG = 1;
    var dynamicTS = 1;
    var dynamicStat = 1;
    var dynamicAct = 1;
    var misRecInitiator = 0;
    var actWatcher = "";
    var agvWatcher = "";
    //chart & map variables
    var map;
    var epsg4326;
    var projectTo;
    var vectorLayer;
    var mapAGVLayer;
    var mapPointLayer;
    var chartV;
    var chartS;
    var chartT;
    var timelineDoor = 0;
    var updateInd = 0;
    var healthFlag = 0;
    var AGV_NAME;
    var localStor_agvID = [];
    var localStor_ssid = [];
    var localStor_msid = [];
    var localStor_currentView = "";
    var currentView;
    var misStartColl = [];
    var actColl = [];
    var misStartCont;
    var actCont;
    var MSiD;
    var SCHEDiD;
    var mapDetail = {
        homePoints: {},
        missionPoints: {},
        agv: null,
    }

    //---------Map related--------//
    function moveAGV(long, lat, agv) {
        try {
            var span = document.getElementById("agvFollowTurret");
            var createlong = long == null || long == "" || !parseFloat(long) ? 103.7901 : parseFloat(long),
                createlat = lat == null || lat == "" || !parseFloat(lat) ? 1.301 : parseFloat(lat);
            var newloc = new OpenLayers.LonLat(parseFloat(createlong), parseFloat(createlat)).transform(epsg4326, projectTo);
            epsg4326 = new OpenLayers.Projection("EPSG:4326");
            projectTo = map.getProjectionObject();
            if (mapDetail.agv != null && mapDetail.agv.geometry != null) {
                var Lonmax = 103.7901 + 0.001,
                    Lonmin = 103.7901 - 0.001,
                    Latmax = 1.3008 + 0.0002,
                    Latmin = 1.3008 - 0.0002,
                    generateLon = (Math.random() * (Lonmax - Lonmin) + Lonmin).toFixed(4),
                    generateLat = (Math.random() * (Latmax - Latmin) + Latmin).toFixed(4);
                //if (long == null || long == "" || !parseFloat(long) || lat == null || lat == "" || !parseFloat(lat)) {
                //    span.textContent = "AGV location not retrieved, agv will be showing back in default point";
                //}
                mapDetail.agv.geometry.x = newloc.lon;
                mapDetail.agv.geometry.y = newloc.lat;
                if (mapDetail.agv.attributes.class != null && mapDetail.agv.attributes.class.toLowerCase() == "followme") {
                    map.panTo(newloc);
                }
                vectorLayer.redraw();
            }
            else {
                var createlong = long == null || long == "" || !parseFloat(long) ? 103.7901 : parseFloat(long),
                    createlat = lat == null || lat == "" || !parseFloat(lat) ? 1.301 : parseFloat(lat);
                var feature = new OpenLayers.Feature.Vector(
                    new OpenLayers.Geometry.Point(createlong, createlat).transform(epsg4326, projectTo),
                    {
                        description: agv != null && agv != "" ? agv : 'no AGV name loaded',
                        class: "followme"
                    },
                    { externalGraphic: '/assets/img/marker.png', pointRadius: 25, graphicHeight: 25, graphicWidth: 25, graphicXOffset: -12, graphicYOffset: -25 }
                );

                feature.id = "mapAGV";
                span.textContent = "Following AGV";
                mapDetail.agv = feature;
                vectorLayer.addFeatures(feature);
                vectorLayer.redraw();
                map.panTo(newloc);
            }
        }
        catch (e) {
        }

    }

    function mapInit(schedid) {
        $.ajax({
            url: 'mapAPI/getHomePoint',
            type: 'POST',
            contentType: "application/json",
            //async: false,
            data: JSON.stringify({
                isGetMissionPoint: schedid != null && schedid != "" && schedid != undefined ? true : false,
                sched_id: schedid != null && schedid != "" && schedid != undefined ? schedid : "",
            }),
            datatype: 'json',
            beforeSend: function () {
            },
            success: function (result) {
                if (result.isSuccessful) {
                    if (result.data.homepoints && result.data.homepoints.length > 0) {
                        mapDetail.homePoints = result.data.homepoints;
                    }
                    if (result.data.missionpoints && result.data.missionpoints.length > 0) {
                        mapDetail.missionPoints = result.data.missionpoints;
                    }
                }
                else {
                    console.log("map rendering failed");
                }

            },
            error: function (result) {
                console.log('ajax Error');
            },
            complete: function () {
                mapUpdateHomeandPoints();
            }

        });
    }
    function renderMap(reset) {
        mapDetail.agv = null;
        var span = document.getElementById("agvFollowTurret");
        span.textContent = "";
        $("#map").html("");
        map = new OpenLayers.Map("map");
        map.addLayer(new OpenLayers.Layer.OSM());
        epsg4326 = new OpenLayers.Projection("EPSG:4326");
        projectTo = map.getProjectionObject();
        var lonLat = new OpenLayers.LonLat(103.7901, 1.3008).transform(epsg4326, projectTo);
        var zoom = 18;
        map.setCenter(lonLat, zoom);
        if (reset != undefined && reset == true) {
            mapUpdateHomeandPoints();
        }
    }
    function mapUpdateHomeandPoints() {
        vectorLayer = new OpenLayers.Layer.Vector("Overlay");
        mapPointLayer = new OpenLayers.Layer.Vector("Overlay");
        //generate homepoints
        if (mapDetail.homePoints != null && mapDetail.homePoints.length > 0) {
            for (i = 0; i < mapDetail.homePoints.length; i++) {
                try {
                    var homelat = mapDetail.homePoints[i].Home_Lat != null && mapDetail.homePoints[i].Home_Lat != "" ? mapDetail.homePoints[i].Home_Lat.toString() : "1.300789";
                    var homelong = mapDetail.homePoints[i].Home_Long != null && mapDetail.homePoints[i].Home_Long != "" ? mapDetail.homePoints[i].Home_Long.toString() : "103.79008";

                    var Home = new OpenLayers.Feature.Vector(
                        new OpenLayers.Geometry.Point(parseFloat(homelong), parseFloat(homelat)).transform(epsg4326, projectTo),
                        //   { popuptext: mapDetail.homePoints[i].Name != null && mapDetail.homePoints[i] != "" ? mapDetail.homePoints[i].Name : "Unamed Home"},
                        {
                            description: mapDetail.homePoints[i].Name != null && mapDetail.homePoints[i] != "" ? mapDetail.homePoints[i].Name : "Unamed Home",
                            id: mapDetail.homePoints[i].Name != null && mapDetail.homePoints[i] != "" ? mapDetail.homePoints[i].Name : "Unamed Home"
                        },
                        { externalGraphic: '/assets/img/home.png', pointRadius: 25, graphicHeight: 25, graphicWidth: 25, graphicXOffset: -12, graphicYOffset: -25 }
                    );
                    vectorLayer.addFeatures(Home);
                }
                catch (error) {
                    console.log("Map error " + error);
                }
            }
        }
        else {
            var feature = new OpenLayers.Feature.Vector(
                new OpenLayers.Geometry.Point(103.79008, 1.3008).transform(epsg4326, projectTo),
                { description: 'Could not load homepoints' },
                { externalGraphic: '/assets/img/home.png', pointRadius: 25, graphicHeight: 25, graphicWidth: 21, graphicXOffset: -12, graphicYOffset: -25 }
            );
            vectorLayer.addFeatures(feature);
        }
        //generate Mission Goal points
        if (mapDetail.missionPoints != null && mapDetail.missionPoints.length > 0) {
            for (i = 0; i < mapDetail.missionPoints.length; i++) {
                try {
                    var missionlat = mapDetail.missionPoints[i].Lat != null && mapDetail.missionPoints[i].Lat != "" ? mapDetail.missionPoints[i].Lat.toString() : "1.300789";
                    var missionlong = mapDetail.missionPoints[i].Long != null && mapDetail.missionPoints[i].Long != "" ? mapDetail.missionPoints[i].Long.toString() : "103.79008";
                    console.log("LAT " + missionlat);
                    console.log("LONG " + missionlong);
                    var Activities = new OpenLayers.Feature.Vector(
                        new OpenLayers.Geometry.Point(parseFloat(missionlong), parseFloat(missionlat)).transform(epsg4326, projectTo),
                        { description: mapDetail.missionPoints[i].Name != null && mapDetail.missionPoints[i] != "" ? mapDetail.missionPoints[i].Name : "Unamed Goal" },
                        { externalGraphic: '/assets/img/goal.png', pointRadius: 25, graphicHeight: 25, graphicWidth: 25, graphicXOffset: -12, graphicYOffset: -25 }
                    );
                    Activities.id =  mapDetail.missionPoints[i].Name != null && mapDetail.missionPoints[i] != "" ? mapDetail.missionPoints[i].Name : "Unamed Goal";
                    mapPointLayer.addFeatures(Activities);
                }
                catch (error) {
                }
            }
        }
        map.addLayer(mapPointLayer);
        map.addLayer(vectorLayer);

        //Add a selector control to the vectorLayer with popup functions
        var controls = {
            selector: new OpenLayers.Control.SelectFeature([vectorLayer, mapPointLayer], {
                //hover: true,
                //highlightOnly: true,
                renterIntent: "temporary",
                callbacks: {
                    over: createPopup,
                    out: destroyPopup,
                    click: focusme,
                    dblclick: followme,
                },
                onSelect: focusme,
                //onUnselect: destroyPopup
            })
        };
        function followme(feature) {
            try {
                if (feature.id.toLowerCase() == "mapagv") {
                    var span = document.getElementById("agvFollowTurret");
                    if (feature.attributes.class.toLowerCase() == "followme") {
                        feature.attributes.class = "dontfollowme";
                        span.textContent = "";
                    }
                    else {
                        feature.attributes.class = "followme";
                        span.textContent = "Following AGV";
                    }
                }
            }
            catch (e) {
            }

        }
        function focusme(feature) {
            try {
                var clickzoom = map.zoom < 16 ? 18 : map.zoom,
                    clicklong = feature.geometry.x,
                    clicklat = feature.geometry.y,
                    clicklonlat = new OpenLayers.LonLat(clicklong, clicklat);
                map.panTo(clicklonlat);
                map.zoomTo(clickzoom);
            }
            catch (e) {
                console.log(e);
            }
        }
        function createPopup(feature) {
            try {
                var pointer = document.getElementById("mapPointer");
                pointer.innerHTML = "You're pointing to: " + feature.attributes.description + "<br/>(" + feature.geometry.x + ", " + feature.geometry.y + ")";
                if (pointer.style.display == "none") {
                    $("span#mapPointer").fadeIn();
                }
            }
            catch (e) {

            }

        }
        function destroyPopup(feature) {
            var pointer = document.getElementById("mapPointer");
            pointer.innerHTML = "";
            if (pointer.style.display != "none") {
                pointer.style.display = "none";
            }

        }
        map.addControl(controls['selector']);
        controls['selector'].activate();
    }
    //-------end of map related------//

    //--------------------- SOCKET IO FUNCTIONS ----------------------//
    socket.on("agVht", data => {
        graph_table_routine(data);
        agv_ht_routine(data);
    });
    socket.on('resmsAgv', data => {
        res_ms_agv_routine(data);
        showload_stop();
    });
    socket.on('resmsdt', data => {
        res_ms_dt_routine(data);
        showload_stop();
    });
    socket.on('reqActList', data => {
        req_act_list_routine(data);
    });
    socket.on('NXTACTRES', data => {
        //console.log(data);
        req_act_list_routine(data);
    });
    socket.on('getmsactS', datas => {
        emitdis = datas;
    
    });

    //tray
    socket.on("trayCont", TRdata => {
        if (TRdata.agv_ID != null && TRdata.agv_ID != undefined && TRdata.agv_ID == $("#agv_dropdown").val()) {
            $('.Tray_1').css('background-color', parseInt(TRdata.tray.t1) == 1 ? '#FF6464' : '#D4D5D4');
            $('.Tray_2').css('background-color', parseInt(TRdata.tray.t2) == 1 ? '#FF6464' : '#D4D5D4');
            $('.Tray_3').css('background-color', parseInt(TRdata.tray.t3) == 1 ? '#FF6464' : '#D4D5D4');
            $('.Tray_4').css('background-color', parseInt(TRdata.tray.t4) == 1 ? '#FF6464' : '#D4D5D4');
        }
    });
    //ms_dt_rec
    socket.on('received', data => {
        showload_stop();
        if (data != "null") {
            drawIndicator({ type: "db", content: data })
        }
    })

    //nextMission
    socket.on('NXTMISRES', data => {
        var lastMSID;
        var nowMSID;
        for (var i = 0; i < localStor_agvID.length; i++) {
            if (localStor_agvID[i] == data.agv_ID) {
                lastMSID = localStor_msid[i];
                localStor_msid[i] = data.ms_ID;
                nowMSID = data.ms_ID;
            }
        }
        rowPainter(nowMSID, lastMSID);
        localStorage.removeItem("msID");
        localStorage.setItem('msID', JSON.stringify(localStor_msid));
        socket.emit('getmsactSt', data)
    })

    //----------------------Window onload-------------------------//
    $(window).on('load', function () {
        $('.resumeSched').attr('disabled', true);
        $('.suspendSched').attr('disabled', true);
        var agvID = JSON.parse(window.localStorage.getItem('agvID'));
        var ssid = JSON.parse(window.localStorage.getItem('ssID'));
        var msid = JSON.parse(window.localStorage.getItem('msID'));
        currentView = localStorage.getItem('currentView');
        var agvSSID;
        //console.log(currentView);
        if (ssid) {
            for (var i = 0; i < ssid.length; i++) {
                if (agvID[i] == currentView) {
                    agvSSID = ssid[i];
                    break;
                }
                else {
                    agvSSID = "";
                    continue;
                }
                localStor_agvID.push(agvID[i]);
                localStor_ssid.push(ssid[i]);
                localStor_msid.push(msid[i]);
            }
        }
        //  console.log(JSON.parse(window.localStorage.getItem('msID')));
        //  console.log("arrayOutput2" + ssid);
        socket.emit('misStat', { agvID: currentView, ssID: agvSSID });
    })
    //---------------------- Document Ready ----------------------//

    $(document).ready(() => {
        renderMap();
        mapInit();

        $(document).on('click', '#startSched', () => {
            $('.startSched').attr('disabled', true);
            startSched();
        });

        //-------------------------AGV DROPDOWN------------------------//
        $('#agv_dropdown').on('change', function () {
            $('.resumeSched').attr('disabled', true);
            $('.suspendSched').attr('disabled', true);
            nextstop = "no";
            dynamicIMG = 1;
            dynamicTS = 1;
            dynamicStat = 1;
            dynamicAct = 1;
            healthFlag = 0;
            // Reset Table Chart
            mapDetail.missionPoints = null;
            renderMap(true);
            //reset_graph_table();
            $('#activitiestimeline').empty();
            agvDropFill($(this).val());
            var agvID = JSON.parse(window.localStorage.getItem('agvID'));
            var ssid = JSON.parse(window.localStorage.getItem('ssID'));
            localStorage.setItem('currentView', $(this).val());
            var agvSSID;
            if (ssid) {
                for (var i = 0; i < ssid.length; i++) {
                    if (agvID[i] == $(this).val()) {
                        agvSSID = ssid[i];
                        break;
                    }
                    else {
                        agvSSID = "";
                        continue;
                    }
                }
            }
            showload_start();
            socket.emit('misStat', { agvID: $(this).val(), ssID: agvSSID });
        });

        $('#sched_dropdown').on('change', function () {
            showload_start();
            SchedDropFill($(this).val())

        });

        //suspend
        $(".suspendSched").on('click', function (event) {
            var agv_id = $('#agv_dropdown').val();
            event.stopPropagation();
            event.stopImmediatePropagation();
            var doAct = "suspend";
            suspendResume(agv_id, doAct);
        });

        //resume
        $(".resumeSched").on('click', function (event) {
            var agv_id = $('#agv_dropdown').val();
            event.stopPropagation();
            event.stopImmediatePropagation();
            var doAct = "resume";
            suspendResume(agv_id, doAct);
        });

        $(document).on('click', 'button.delete', function () {
            var IDMs_dir = $(this).attr('dir');
            $('#inputDelMisID').val(IDMs_dir);
            $('#ModalDelMis').modal('show');
        });


        $(document).on('click', '#ButDelMis', function () {
            var IDMs_dir = $('#inputDelMisID').val();
            $('#' + IDMs_dir).remove();
            if (emitdis.ms_ID == IDMs_dir) {
                emitdis.ms_ID = "";
            }
            deleteMis(IDMs_dir);
            $('#ModalDelMis').modal('hide');

        });

    }) // End of document ready


    //----------------------- JQuery Functions ---------------------------//

    function agvDropFill(value) {
        jsonarr = [];
        $('#sched_dropdown').empty();
        $('#tableBody').empty();
        $('#activitiestimeline').empty();

        if (value == 'SELECT AGV') {
            $('.startSched').attr('disabled', true);
        }
        else {
            $('.startSched').attr('disabled', true);
            $('#sched_dropdown').attr('disabled', false);
            $('#sched_dropdown').append('<option  selected disabled>SELECT SCHEDULE</option>');
            $('.timeline').attr('hidden', true);
        }
        var AGV_ID = $('#agv_dropdown').val();
        var json = { AGV_ID: AGV_ID };
        socket.emit('reqmsAgv', json);
    }

    function SchedDropFill(value) {
        jsonarr = [];
        $('#tableBody').empty();
        $('#activitiestimeline').empty();
        if (value == 'SELECT SCHEDULE' || value == "") {
            $('.btn').attr('disabled', true);
        } else {
            $('.timeline').attr('hidden', false);
            var SCHED_ID = value;
            var json = { SCHED_ID: SCHED_ID }
            renderMap();
            mapInit(SCHED_ID);
            socket.emit('reqmsdt', json)
        }
    }

    function startSched() {
        console.log("before sent to AGV");
        console.log(emitdis);
        if (emitdis == "" || emitdis.ms_ID == "" || emitdis.ms_ID == null) {
            Swal.fire({
                type: 'error',
                title: 'No mission was sent to AGV',
            })
            $('.startSched').attr('disabled', false);
        }
        else {
            var agv = $('#agv_dropdown').val();
            var launchId = new Date().valueOf();
            socket.emit('saveSSID', { ssid: launchId, schedid: emitdis.sched_ID });
            emitdis.ss_id = launchId;
            $('button#del' + emitdis.ms_ID).attr('disabled', true);
            socket.emit('getmsactSt', emitdis);
            var examLocDoor = 0;
            //    console.log(localStor_agvID.length);
            for (var i = 0; i < localStor_agvID.length; i++) {
                if (agv == localStor_agvID[i]) {
                    localStor_ssid[i] = launchId;
                    localStor_msid[i] = emitdis.ms_ID;
                    examLocDoor = 1;
                }
            }
            if (examLocDoor == 0) {
                localStor_agvID.push(agv);
                localStor_ssid.push(launchId);
                localStor_msid.push(emitdis.ms_ID);
                examLocDoor = 1;
            }
            localStorage.setItem('agvID', JSON.stringify(localStor_agvID));
            localStorage.setItem('ssID', JSON.stringify(localStor_ssid));
            localStorage.setItem('msID', JSON.stringify(localStor_msid));
            Swal.fire({
                type: 'success',
                title: 'Mission successfully send command to agv',
            })
        }
    }
    //-----------------------LOGIC IS IN PROGRESS-------------------------//
    function newLogic(docData) {
        socket.emit('new', docData);
    }
    //-----------------------INDICATOR FUNCTION---------------------------//
    function drawIndicator(data) {
        if (data.type == "db") {
            timelineDoor = 0;
            agvDB_indicator(data.content);
        }
        else if (data.type == "live") {
            agvLive_indicator(data.content);
        }
    }

    function agvDB_indicator(data) {
        // console.log(data.mission[0].name[0]._id);
        $('#activitiestimeline').empty();
        //$("#sched_dropdown option[value=" + data.schedule[0]._id + "]").attr("selected", true);
        $('#agv_dropdown').val(data.agv_id);
        $('#sched_dropdown').attr('disabled', false);
        $('#sched_dropdown').val(data.schedule[0]._id);
        SchedDropFill(data.schedule[0]._id);
        var moveCalc = 0;
        for (var i = 0; i < data.mission[0].status.length; i++) {
            if (data.mission[0].status[i] == "move") {
                moveCalc++;
            }
        }
        var circle = moveCalc;
        var checkExist = setInterval(function () {
            if (timelineDoor == 1) {
                $('tr#' + data.mission[0].name[0]._id).addClass("blue");
                $('button#del' + data.mission[0].name[0]._id).attr('disabled', true);
                for (var i = 0; i < data.mission[0].status.length; i++) {
                    if (circle == moveCalc) {
                        if (data.mission[0].status[data.mission[0].status.length - 1] == "move") {
                            // console.log(circle);
                            $("#t" + circle).html('<i class="ti-time" style="color:black">&nbsp; ' + "ONGOING" + '</i>');
                            circle--;
                            actWatcher = "move";
                            agvWatcher = data.agv_id;
                        }
                        else if (data.mission[0].status[data.mission[0].status.length - 1] == "pick1") {
                            $("#t" + circle).html('<i class="ti-time" style="color:black">&nbsp; ' + "picking 1" + '</i>');
                            circle--;
                            actWatcher = "pick1";
                            agvWatcher = data.agv_id;
                        }
                        else if (data.mission[0].status[data.mission[0].status.length - 1] == "pick2") {
                            $("#t" + circle).html('<i class="ti-time" style="color:black">&nbsp; ' + "picking 2" + '</i>');
                            circle--;
                            actWatcher = "pick2";
                            agvWatcher = data.agv_id;
                        }
                        else if (data.mission[0].status[data.mission[0].status.length - 1] == "pick3") {
                            $("#t" + circle).html('<i class="ti-time" style="color:black">&nbsp; ' + "picking 3" + '</i>');
                            circle--;
                            actWatcher = "pick3";
                            agvWatcher = data.agv_id;
                        }
                        else if (data.mission[0].status[data.mission[0].status.length - 1] == "pick4") {
                            $("#t" + circle).html('<i class="ti-time" style="color:black">&nbsp; ' + "picking 4" + '</i>');
                            circle--;
                            actWatcher = "pick4";
                            agvWatcher = data.agv_id;
                        }
                        else if (data.mission[0].status[data.mission[0].status.length - 1] == "drop1") {
                            $("#t" + circle).html('<i class="ti-time" style="color:black">&nbsp; ' + "dropping 1" + '</i>');
                            circle--;
                            actWatcher = "drop1";
                            agvWatcher = data.agv_id;
                        }
                        else if (data.mission[0].status[data.mission[0].status.length - 1] == "drop2") {
                            $("#t" + circle).html('<i class="ti-time" style="color:black">&nbsp; ' + "dropping 2" + '</i>');
                            circle--;
                            actWatcher = "drop2";
                            agvWatcher = data.agv_id;
                        }
                        else if (data.mission[0].status[data.mission[0].status.length - 1] == "drop3") {
                            $("#t" + circle).html('<i class="ti-time" style="color:black">&nbsp; ' + "dropping 3" + '</i>');
                            circle--;
                            actWatcher = "drop3";
                            agvWatcher = data.agv_id;
                        }
                        else if (data.mission[0].status[data.mission[0].status.length - 1] == "drop4") {
                            $("#t" + circle).html('<i class="ti-time" style="color:black">&nbsp; ' + "dropping 4" + '</i>');
                            circle--;
                            actWatcher = "drop4";
                            agvWatcher = data.agv_id;
                        }
                        else if (data.mission[0].status[data.mission[0].status.length - 1] == "wait") {
                            $("#t" + circle).html('<i class="ti-time" style="color:black">&nbsp; ' + " waiting" + '</i>');
                            circle--;
                            actWatcher = "wait";
                            agvWatcher = data.agv_id;
                        }
                        else if (data.mission[0].status[data.mission[0].status.length - 1] == "gohome") {
                            $("#t" + circle).html('<i class="ti-time" style="color:black">&nbsp; ' + "going home" + '</i>');
                            circle--;
                            actWatcher = "gohome";
                            agvWatcher = data.agv_id;
                        }
                    }
                    else {
                        $("#t" + circle).html('<i class="ti-time" style="color:black">&nbsp; ' + Utils.Datetime(data.mission[0].ts[i]) + '</i>');
                        circle--;
                    }
                }
                $('#Tb' + moveCalc).addClass('.agvMarker' + moveCalc);
                img2.appendTo('.agvMarker' + moveCalc);
                clearInterval(checkExist);
                timelineDoor = 0;
                //update var
                nextstop = "yes";
                dynamicIMG = moveCalc;
                if (actWatcher == "move") {
                    dynamicStat = moveCalc;
                }
                else {
                    dynamicStat = moveCalc + 1;
                }
                dynamicTS = moveCalc;
                $('.startSched').attr('disabled', true);
            }
        }, 100)
    }

    function agvLive_indicator(data) {
        if (data.ms.ms_ID != "") {
            MSiD = data.ms.ms_ID;
            SCHEDiD = data.ms.sched_ID;
        }
        var insDate = Utils.Datetime(data.TS);
        if (data.agv_ID == $("#agv_dropdown").val()) {
            if ((data.ms.act == "move") && (nextstop == "no")) {
                // console.log(nextstop);
                nextstop = "yes";
                $('#Tb' + dynamicIMG).addClass('.agvMarker' + dynamicIMG);
                img2.appendTo('.agvMarker' + dynamicIMG);
                $("#t" + dynamicStat).html('<i class="ti-time" style="color:black">&nbsp; ' + "ONGOING" + '</i>');
                $('tr#' + MSiD).addClass("blue");
                $('button#del' + data.ms.ms_ID).attr('disabled', true);
            }
            else if ((data.ms.act == "move") && (nextstop == "yes")) {
                //console.log(nextstop);
                //console.log(dynamicStat)
                nextstop = "yes";
                $("#t" + dynamicTS).html('<i class="ti-time" style="color:black">&nbsp; ' + insDate + '</i>');
                $('#Tb' + dynamicIMG).addClass("red");
                dynamicIMG++;
                dynamicTS++;
                $('#Tb' + dynamicIMG).addClass('.agvMarker' + dynamicIMG);
                img2.appendTo('.agvMarker' + dynamicIMG);
                $("#t" + dynamicStat).html('<i class="ti-time" style="color:black">&nbsp; ' + "ONGOING" + '</i>');
            }
            else if (data.ms.act == "pick1") {
                nextstop = "yes";
                $("#t" + dynamicStat).html('<i class="ti-time" style="color:black">&nbsp; ' + "PICKING 1" + '</i>');
                dynamicStat++;
            }
            else if (data.ms.act == "pick2") {
                nextstop = "yes";
                $("#t" + dynamicStat).html('<i class="ti-time" style="color:black">&nbsp; ' + "PICKING 2" + '</i>');
                dynamicStat++;
            }
            else if (data.ms.act == "pick3") {
                nextstop = "yes";
                $("#t" + dynamicStat).html('<i class="ti-time" style="color:black">&nbsp; ' + "PICKING 3" + '</i>');
                dynamicStat++;
            }
            else if (data.ms.act == "pick4") {
                nextstop = "yes";
                $("#t" + dynamicStat).html('<i class="ti-time" style="color:black">&nbsp; ' + "PICKING 4" + '</i>');
                dynamicStat++;
            }
            else if (data.ms.act == "drop1") {
                nextstop = "yes";
                $("#t" + dynamicStat).html('<i class="ti-time" style="color:black">&nbsp; ' + "DROPPING 1" + '</i>');
                dynamicStat++;
            }
            else if (data.ms.act == "drop2") {
                nextstop = "yes";
                $("#t" + dynamicStat).html('<i class="ti-time" style="color:black">&nbsp; ' + "DROPPING 2" + '</i>');
                dynamicStat++;
            }
            else if (data.ms.act == "drop3") {
                nextstop = "yes";
                $("#t" + dynamicStat).html('<i class="ti-time" style="color:black">&nbsp; ' + "DROPPING 3" + '</i>');
                dynamicStat++;
            }
            else if (data.ms.act == "drop4") {
                nextstop = "yes";
                $("#t" + dynamicStat).html('<i class="ti-time" style="color:black">&nbsp; ' + "DROPPING 4" + '</i>');
                dynamicStat++;
            }
            else if (data.ms.act == "gohome") {
                nextstop = "yes";
                $("#t" + dynamicStat).html('<i class="ti-time" style="color:black">&nbsp; ' + "GOING HOME" + '</i>');
                dynamicStat++;
            }
            else if (data.ms.act == "wait") {
                nextstop = "yes";
                $("#t" + dynamicStat).html('<i class="ti-time" style="color:black">&nbsp; ' + "waiting" + '</i>');
                dynamicStat++;
            }
            else if (data.ms.act == "done") {
                $('#Tb' + dynamicIMG).html('');
                $('#Tb' + dynamicIMG).addClass("red");
                nextstop = "no";
                $("#t" + dynamicTS).html('<i class="ti-time" style="color:black">&nbsp; ' + insDate + '</i>');
                dynamicIMG = 1;
                dynamicStat = 1;
                dynamicTS = 1;
                $('tr#' + MSiD).removeClass("blue");
                $('tr#' + MSiD).addClass("red");
                $('button#del' + MSiD).attr('disabled', true);

                json = { MSiD: MSiD, SCHEDiD: SCHEDiD };

                show_noti_mis_done(json);

            }
        }
    }

    //-------------SHOW NOTIFICATION MISSION COMPLETE------------------//

    function show_noti_mis_done(json) {
        socket.emit('noti_done', { ms_id: json.MSiD, sched_id: json.SCHEDiD });
    }

    //-------------------------DELETE MISSION--------------------------//
    function deleteMis(matchID) {
        var catcher;
        for (var i = 0; i < localStor_agvID.length; i++) {
            if (localStor_agvID[i] == $('#agv_dropdown').val()) {
                catcher = localStor_ssid[i];
            }
        }
        socket.emit('delMis', { delMis: matchID, ssid: catcher });
    }

    //-------------------SCHEDULAR NEXT MISSION--------------------//
    function schedular(msID, agvID) {
        //$('.startSched').attr('disabled', true);
        var getSSid;
        for (var i = 0; i < localStor_agvID.length; i++) {
            if (localStor_agvID[i] == agvID) {
                getSSid = localStor_ssid[i];
            }
        }
        //socket.emit('nxtMis',{SSID:getSSid,ms_ID:msID,agvID:agvID})
    }

    //------------------- Chart Functions ---------------------//
    function graph_table_routine(data) {
        var idx = $("#agv_dropdown").val();
        if (data.agv_ID == idx) {
            moveAGV(data.loc.long, data.loc.lat, data.agv_ID);
        }
    }

    //--------------------Suspend Resume----------------------//
    function suspendResume(agv_ID, doAct) {
        if (healthFlag == 1) {
            if (doAct == "suspend") {
                $('.startSched').attr('disabled', true);
                $('.resumeSched').attr('disabled', false);
                $('.suspendSched').attr('disabled', true);
                socket.emit('reqSus', { agv_ID: agv_ID, cmd: "1" });
            }
            else if (doAct == "resume") {
                $('.startSched').attr('disabled', true);
                $('.resumeSched').attr('disabled', true);
                $('.suspendSched').attr('disabled', false);
                socket.emit('reqSus', { agv_ID: agv_ID, cmd: "0" })
            }
        }
    }

    function rowPainter(match1, match2) {
        //$('#'+match2).addClass("red");
        //$('#'+match1).addClass("blue");
    }

    //----------------------- Routine Functions --------------------------//

    res_ms_agv_routine = (data) => {
        var appendDoor = 0;
        // console.log(data.SCHED_NAME)
        //if (usedSchedules.indexOf(data.SCHED_NAME) == -1) {
        for (var i = 0; i < usedSchedules.length; i++) {
            if (data.SCHED_NAME == usedSchedules[i]) {
                appendDoor = 0;
            }
            else if (data.SCHED_NAME != usedSchedules[i]) {
                appendDoor = 1;

            }
        }
        if (appendDoor == 1) {
            $('#sched_dropdown').append('<option value="' + data.SCHED_ID + '">' + data.SCHED_NAME + '</option>');
            usedSchedules.push(data.SCHED_NAME);
        }
        //}
    }

    res_ms_dt_routine = (data) => {
        $('#tableBody').empty();
        $('#activitiestimeline').empty();
        jsonar = [];
        var no = 1;
        var calc = 1;
        var calc = 1;
        var door = 0;
        var loopCalc = 0;

        var data2 = data.sort(function (a, b) {
            return (a.sequ) - (b.sequ);
        });

        $.each(data2, function (i, datas) {
            $('#tableBody').append('<tr id="' + datas.ms_ID + '"><td>' + no++ + '</td><td>' + datas.Name + '</td><td>' + datas.agv_ID + '</td><td>' + datas.MAP_ID + '</td><td>' + Utils.Datetime(datas.TS) + '</td><td>' + '<button data-toggle="model" type="button" class="btn btn-danger delete" dir="' + datas.ms_ID + '"  id="del' + datas.ms_ID + '">DELETE</button>' + '</td><tr>')
            var json = { agv_ID: datas.agv_ID, ms_ID: datas.ms_ID };
            jsonar.push(json);
        })
        console.log("Followme");
        console.log(jsonar);
        socket.emit('getmsact', jsonar);
    }

    req_act_list_routine = (data) => {
        $('#activitiestimeline').empty();
        var seq = 0;
        var i = 0;
        $.each(data, function (i, datas) {
            arrayTemp.push(datas);
            var arm = '';
            if (data[i].arm.cmd == undefined) {
                arm = data[i].arm;
            }
            else {
                arm = data[i].arm.cmd;
            }
            var myImage = new Image();
            myImage.src = '/assets/img/marker.png';
            $('#activitiestimeline').append(
                '<p> <li class="timeline-inverted" id="ActivityList' + seq++ + '">' +
                '<div class="timeline-badge" id="Tb' + seq + '">' + '<div class="agvMarker' + seq + '"></div>' + '</div>' +
                '<div class="timeline-panel" style="background-color:#fffbf0;">' +

                '<div class="timeline-heading">' +
                '<div class="row">' +
                '<div class="col-xs-12 col-md-12" >' +
                '<h5 class="timeline-title">Location: ' + data[i].pt + '</h5>' +
                '</div>' +
                '<div class="col-xs-6 col-md-8"><br>' +
                '<p><small class="text-muted" id="t' + seq + '"></small></p>' +
                '</div>' +
                '<div class="col-xs-6 col-md-12">' +
                '<p class="clearfix"><small><i>CURRENT ACTION : ' + arm + '</i></small></p>' +
                '</div>' +
                '<div class="col-xs-6 col-md-5"><br>' +
                '<table border="border" style="width:200px;border-radius:60px">' +
                '<caption>Tray Details :</caption>' +
                '<thead>' +
                '<tr>' +
                '<th width="100" class="Tray_1" height="50" style="background-color:#D4D5D4;" id="Tray_1"><center>T1</center></th>' +
                '<th width="100" class="Tray_2" height="50" style="background-color:#D4D5D4;" id="Tray_2"><center>T2</center></th>' +
                '<th width="100" class="Tray_3" height="50" style="background-color:#D4D5D4;" id="Tray_3"><center>T3</center></th>' +
                '<th width="100" class="Tray_4" height="50" style="background-color:#D4D5D4;" id="Tray_4"><center>T4</center></th>' +
                '</tr>' +
                '</thead>' +
                '</table>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</li></p>'
            )
        }, 10000);
        timelineDoor = 1;
        $('.startSched').attr('disabled', false);
    }

    agv_ht_routine = (htData) => {
        // console.log('log for state' + htData.state);
        AGV_NAME = htData.agv_ID;
        // Suspend Resume
        if (AGV_NAME == $('#agv_dropdown').val()) {
            $('#mystate').html("STATE: " + htData.state);
            if ((htData.SR == "1") && ($('#agv_dropdown').val() == AGV_NAME)) {
                $('.startSched').attr('disabled', true);
                $('.resumeSched').attr('disabled', false);
                $('.suspendSched').attr('disabled', true);
                healthFlag = 1;
            }
            else if ((htData.SR == "0") && ($('#agv_dropdown').val() == AGV_NAME)) {
                //$('.startSched').attr('disabled', true);
                $('.resumeSched').attr('disabled', true);
                $('.suspendSched').attr('disabled', false);
                healthFlag = 1;
            }
        }

        //ms_dt_rec db insertion engine//
        //console.log(htData);
        if ((htData.ms.act != "") && (htData.ms.act != actWatcher) || (htData.agv_ID != agvWatcher)) {
            misRecInitiator = 1;
            actWatcher = htData.ms.act;
            agvWatcher = htData.agv_ID;
            updateInd = 1;
        }
        else {
            misRecInitiator = 0;
        }
        //ms_dt_rec initiator
        if (misRecInitiator == 1) {
            misRecInitiator = 0;
            var Bag = { health: htData, stat: actWatcher };
            socket.emit('misRec', Bag);
        }

        if ((htData.ms.act != "") && (updateInd == 1)) {
            //console.log(htData.agv_ID);
            drawIndicator({ type: "live", content: htData });
            //newLogic(htData);
            updateInd = 0;
        }

        if (htData.ms.act == "done") {
            nextstop = "no";
            dynamicIMG = 1;
            dynamicTS = 1;
            dynamicStat = 1;
            dynamicAct = 1;
            //healthFlag=0;
            schedular(htData.ms.ms_ID, htData.agv_ID);
        }

    }


</script>