<style>
    #scrolltable {
        margin-top: 10px;
        height: 100%;
        overflow: auto;
    }

        #scrolltable table {
            border-collapse: collapse;
        }

        #scrolltable th div {
            position: absolute;
            margin-top: -20px;
        }

    #scrolltable1 {
        margin-top: 10px;
        height: 400px;
        overflow: auto;
    }

        #scrolltable1 table {
            border-collapse: collapse;
        }

        #scrolltable1 th div {
            position: absolute;
            margin-top: -20px;
        }
</style>

<!--<input value="{{{user}}}" hidden="hidden" id="userRole">-->
<div class="container-fluid">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item active">
            <a class="nav-link active" id="mission-tab" data-toggle="tab" href="#mission" role="tab" aria-controls="mission" aria-selected="true" aria-expanded="true"><h6>Mission Profiles</h6></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="schedule-tab" data-toggle="tab" href="#schedule" role="tab" aria-controls="schedule" aria-selected="false"><h6>Schedule Profile</h6></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false"><h6>Schedule History</h6></a>
        </li> -->
    </ul>
    <div class="tab-content" id="myTabContent">
        <!-- MISSION PROFILE MODAL -->
        <div class="tab-pane fade active in" id="mission" role="tabpanel" aria-labelledby="mission-tab">
            <div class="card">
                <div class="content">
                    <div class="row">

                        <div class="col-md-4">
                            <!-- <div class="col-md-6 form-group"> -->
                            <!-- <label class="label">Filter by Mission Name</label>
                                 <input type="text"  class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search for mission name.." title="Type in a name"> -->
                            <form class="false-forms">


                                <label class="label">Filter by Mission Name</label>
                                <input type="text" class="form-control" id="myInputMissionName" onkeyup="myFunctionMissionName()" placeholder="Search for mission name.." title="Type in a name">

                            </form>


                        </div>
                        <div class="col-md-4"></div>

                        <div class="col-md-3">
                            <button type="button" class="btn btn-success btn-fill form-control" data-toggle="modal" data-target="#addMissionModal"><span class="ti-plus"></span> Add New Mission</button>
                        </div>

                    </div>

                    <br />



                    <!--<span style="color: #D3D3D3">*Click on the Repeat Counts box to edit for repeating the mission</span>-->
                </div>
                <div class="content" id="scrolltable">
                    <table class="table table-stripped">
                        <thead>
                            <tr>

                                <th width="10%" scope="col">No</th>
                                <th width="15%" scope="col">Mission Name</th>
                                <th width="10%" scope="col">AGV</th>
                                <th width="10%" scope="col">Area</th>
                                <th width="20%" scope="col">Date Created</th>
                                <th width="20%" scope="col">Action</th>


                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            {{#each data }}
                            <tr>
                                <td width='5%' class="inc"> {{inc @index}}</td>
                                <td>{{this.ms_Name}}</td>
                                <td>{{this.agv}}</td>
                                <td>{{this.area}}</td>
                                <td>{{fmsTime this.TS}}</td>
                                <td>
                                    <button dir="{{this.ms_id}}" type="button" class="editMs btn btn-warning btn-fill  form-control" data-toggle="modal" data-target="#editMissionModal" style="width:150px"><span class="ti-pencil"></span>EDIT </button>
                                    <button type="button" dir="{{this.ms_id}}" class="deleteMs btn btn-danger btn-fill form-control" data-toggle="modal" data-target="#modalDeleteMission" style="width:150px"><span class="ti-trash"></span>DELETE</button>
                                </td>
                            </tr>
                            {{/each }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- SCHEDULE MODAL -->

        <div class="tab-pane sched fade" id="schedule" role="tabpanel" aria-labelledby="mission-tab">
            <div class="card">
                <div class="content">
                    <div class="row">

                        <div class="col-md-4">
                            <!-- <div class="col-md-6 form-group"> -->
                            <!-- <label class="label">Filter by Schedule Name</label>
                                 <input type="text"  class="form-control" id="myInput1" onkeyup="myFunction1()" placeholder="Search for schedule name.." title="Type in a name"> -->
                            <label class="label">Filter by Schedule Name</label>
                            <input type="text" class="form-control" id="myInputSchedName" onkeyup="myFunctionSchedName()" placeholder="Search for schedule name.." title="Type in a name">

                            <!-- </div>-->

                        </div>
                        <div class="col-md-4"></div>

                        <div class="col-md-3">
                            <button type="button" class="btn btn-success btn-fill form-control" data-toggle="modal" data-target="#addScheduleModal"><span class="ti-plus"></span> Add Mission To Schedule</button>
                        </div>

                    </div>

                    <br />



                    <!--<span style="color: #D3D3D3">*Click on the Repeat Counts box to edit for repeating the mission</span>-->
                </div>
                <div class="content" id="scrolltable">
                    <table class="table table-stripped">
                        <thead>
                            <tr>

                                <th width="10%" scope="col">No</th>
                                <th width="15%" scope="col">Schedule Name</th>
                                <th width="20%" scope="col">Date Created</th>
                                <th width="20%" scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody id="tableBodySched">
                            {{#each datasched}}
                            <tr>
                                <td>{{inc @index}}</td>
                                <td>{{this.Name}}</td>
                                <td>{{fmsTime this.TS}}</td>
                                <td>
                                    <button dir="{{this._id}}" type="button" class="editSchedMS btn btn-warning btn-fill form-control" data-toggle="modal" data-target="#editScheduleModal" style="width:150px"><span class="ti-pencil"></span>EDIT </button>
                                    <button type="button" dir="{{this._id}}" class="deleteSched btn btn-danger btn-fill form-control" data-toggle="modal" data-target="#delScheduleModal" style="width:150px"><span class="ti-trash"></span>DELETE</button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
            <div class="card">
                <div class="content">
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th scope="col">Mission Name</th>
                                <th scope="col">Mission Start</th>
                                <th scope="col">Mission End</th>
                                <th scope="col">Operator</th>
                            <tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Power Survey</td>
                                <td>08:00:00, 08/05/2019</td>
                                <td>09:00:00, 08/05/2019</td>
                                <td>Micheal</td>
                            </tr>
                            <tr>
                                <td>Checkup</td>
                                <td>08:00:00, 08/06/2019</td>
                                <td>09:00:00, 08/06/2019</td>
                                <td>Aiman</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="/assets/js/sweetalert2.all.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
{{!-- <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script> --}}
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


{{!-- SCHEDULE & MISSION SETTING START --}}



  </div></div>

<!-- MODAL ADD MISSION -->
<div class="modal fade" id="addMissionModal" tabindex="-1" role="dialog" aria-labelledby="addMissionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="addmission" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="addMissionModalLabel">Add Mission</h5>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <form>
                            <h4>1. Mission Detail <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title="Please fill all the required field. Then click 'Save Mission' button to continue"><i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i></a></h4>

                            <hr />
                            <div class="form-group col-md-12">
                                <label for="missionName">Mission Name: </label>
                                <input type="text" class="form-control" id="NmName" required="required">
                                <input id="msId" type="hidden">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="agv">AGV:</label>
                                <select class="form-control" id="NmAgv" required="required">
                                    <!--  <option disabled selected> Select AGV</option>-->
                                    {{#each agv}}
                                    <option value="{{this.agv_ID}}">{{this.agv_ID}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="maps" class="col-form-label">Maps:</label>
                                <select class="form-control" id="NmArea" required="required">
                                    <!-- <option value="" disabled selected>Select Area</option>-->
                                    {{#each map}}
                                    <option value="{{this._id}}">{{this.Name}}</option>
                                    {{/each}}
                                </select>
                            </div>

                            <center>
                                <div class="form-group">
                                    <button type="button" class="btn btn-success btn-fill" id="addNewMission">Create Mission</button>
                                </div>
                            </center>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <h4>2. Activity Detail <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title="Choose the Point and Action from the dropdown option. Then, click 'Add Activity' to add into list"><i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i></a></h4>
                        <hr />
                        <form>
                            <div class="form-group col-md-12">
                                <label for="point" class="col-form-label">Point:</label>
                                <select class="form-control" id="Nmpoint"></select>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="activity" class="col-form-label">Action:</label>
                                <select class="form-control" id="Nmactivity"></select>
                            </div>
                        </form>

                        <center>
                            <div class="form-group">
                                <button type="button" class="btn btn-success btn-fill" id="NmaddAct">Add Activity</button>
                                <!-- <input id="Seq010" hidden>-->
                            </div>
                        </center>
                    </div>
                    <br /><br />
                    <div class="form-group col-md-12">
                        <h4 align="center">
                            3. List of Activity Added
                            <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title="The list are draggable and sortable.You can remove from the list by click on 'Remove' button. Then click 'Save' button to save all activity">
                                <i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                            </a>
                        </h4>
                        <hr />

                        <table id="divider_table" class="table table-responsive">
                            <thead>
                            <th width="25%">Seq</th>
                            <th width="25%">Point</th>
                            <th width="25%">Action</th>
                            <th width="25%">Detail</th>
                            </thead>
                            <tbody id="dynamic"></tbody>
                        </table>
                        <br><br><br>
                        <div class="text-center">
                            <button type="button" class="btn btn-danger btn-fill form-control" style="width:100px;" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-success btn-fill form-control" style="width:100px;" id="Save_Mission">Save</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div></div> -->
<!---------MODAL EDIT MISSION-------->
<div class="modal fade" id="editMissionModal" tabindex="-1" role="dialog" aria-labelledby="editMissionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="addmission" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="editMissionModalLabel">Edit Mission</h5>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <form>
                            <h4>
                                1. Mission Detail <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title="Please fill all the required field. Then click 'Save Mission' button to continue">
                                    <i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                                </a>
                            </h4>
                            <hr>
                            <div class="form-group col-md-12">
                                <label for="missionName">Mission Name:</label>
                                <input type="text" class="form-control" id="EmsName" required="required">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="agv">AGV:</label>
                                <input type="text" class="form-control" id="EmsAgv" disabled="disabled">
                                <!--<select class="form-control" id="EmsAgv" >

                                </select>-->
                            </div>
                            <div class="form-group col-md-6">
                                <label for="maps" class="col-form-label">Maps:</label>
                                <input type="text" class="form-control" id="EmsArea" disabled="disabled">
                                <!-- <select class="form-control" id="EmsArea" disabled="disabled">

                                 </select>-->
                            </div>

                            <center>
                                <div class="form-group">
                                    <!-- <button type="button" class="btn btn-success btn-fill" id="editmMission">Save Updated Mission Name</button> -->
                                </div>
                            </center>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            2. Activity Detail <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title="Choose the Point and Action from the dropdown option. Then, click 'Add Activity' to add into list">
                                <i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                            </a>
                        </h4>
                        <hr />

                        <form>
                            <div class="form-group" class="form-group col-md-12">
                                <label for="point" class="col-form-label">Point:</label>
                                <select class="form-control" id="EdtMsPt">
                                    <!-- {{#each mapPt}}
                                      <option value="{{this._id}}">{{this.Name}}</option>
                                      {{/each}}-->
                                </select>
                            </div>

                            iv

                            <div class="form-group">
                                <la
                                <label for="activity" class="col-form-label">Action:</label>


                                <select class="form-control" id="EdtMsArm">
                                    <!-- {{#each armName}}
                                      <option value="{{this._id}}">{{this.Name}}</option>
                                      {{/each}}
                                      -->
</select>
                                </select>
                            </div>
                        </form>





                        <center>
                            <div class="form-group">
                                <button type="button" class="btn btn-success btn-fill" id="NaddPoint">Add Activity</button>
                            </div>
                        </center>
                    </div>
                    <br />
                    <br />
                    <div class="form-group col-md-12">

                        <h4 align="center">
                            3. List of Activity Added <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title="The list are draggable and sortable.You can remove/delete from the list by click on 'Remove' button. Then click 'Save' button to save all activity">
                                <i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                            </a>
                        </h4>
                        <hr />
                        <table id="divider_table" class="table table-responsive">
                            <thead>
                            <th width="25%">Seq</th>
                            <th width="25%">Point</th>
                            <th width="25%">Action</th>
                            <th width="25%">Detail</th>
                            </thead>
                            <tbody id="Emdynamic"></tbody>
                        </table>
                        <br><br><br>

                        <!--<ul class="list listgroup">
                          <li class="divider" class="list-group-item"></li>
                        </ul>-->
                        <div class="text-center">
                            <button type="button" class="btn btn-danger btn-fill form-control" style="width:100px;" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-success btn-fill form-control" style="width:100px;" id="EMSave_Mission">Save</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> </div> -->
<!-----------MODAL ADD SCHEDULE------------>
<div class="modal fade" id="addScheduleModal" tabindex="-1" role="dialog" aria-labelledby="addScheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="addSchedule" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="addScheduleModalLabel">Create New Schedule</h5>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <form>
                            <h4>
                                1. Schedule Detail <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title="The list are draggable and sortable.You can remove/delete from the list by click on 'Remove' button. Then click 'Save' button to save all activity">
                                    <i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                                </a>
                            </h4>
                            <hr />
                            <div class="form-group col-md-12">
                                <label for="name_schedule">Schedule Name:</label>
                                <input type="text" class="form-control" id="name_schedule" required="required">
                                <input type="hidden" id="schedId1">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="operator_schedule">Operator:</label>
                                <select class="form-control" id="operator_schedule" required="required">
                                    {{#each user}}
                                    {{#ifCond this.Type "OPERATOR" }}
                                    <option value="{{this._id}}">{{this.Name}}</option>
                                    {{/ifCond}}
                                    {{/each}}
                                </select>
                            </div>

                        </form>
                        <center>
                            <div class="form-group">
                                <button id="addNewSchedule" type="button" class="btn btn-success btn-fill">Create Schedule</button>
                            </div>
                        </center>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            2. Add Mission Detail <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title="The list are draggable and sortable.You can remove/delete from the list by click on 'Remove' button. Then click 'Save' button to save all activity">
                                <i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                            </a>
                        </h4>
                        <hr />
                        <form>
                            <div class="form-group col-md-12 ">
                                <label for="agv_schedule" class="col-form-label">Select Mission By AGV:</label>
                                <select class="form-control" id="agv_schedule" disabled="disabled">
                                    <option disabled selected>Select AGV</option>
                                    {{#each agv}}
                                    <option value="{{this._id}}">{{this.agv_ID}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="mission_schedule" class="col-form-label">Mission:</label>
                                <select class="form-control" id="mission_schedule" disabled="disabled">
                                    <!--  {{#each ms}}
                                            <option value="{{this._id}}">{{this.Name}}</option>
                                      {{/each}}-->
                                </select>
                            </div>

                            </

                        </form>

                        <center>
                            >

                            <div
                            <div class="form-group">
                                <button type="button" class="btn btn-success btn-fill" id="addScheduleMission" disabled="disabled">Add Mission</button>
                            </div>
                        </center>
                    </div>
                    <br />
                    <br />
                    <div class="form-group col-md-12">
                        <h4 align="center">
                            3. List of Mission Added
                            <a class="myTip" href="#" data-toggle="tooltip" data-trigger="hover" title="The list are draggable and sortable.You can remove/delete from the list by click on 'Remove' button. Then click 'Save' button to save all activity">
                                <i class="fa fa-info-circle" style="font-size:20px;color:rgba(255, 211, 154, 0.891)"></i>
                            </a>
                        </h4>
                        <hr />
                        <table class="divider_table_schedule"></table>
                        <div>

                            <table id="divider_table" class="table table-responsive">
                                <thead>
                                <th width="33%">Seq</th>
                                <th width="33%">Mission</th>
                                </thead>
                                <tbody id="misSchedTable"></tbody>
                            </table>

                        </div>
                        <br><br><br>
                        <div class="text-center">
                            <button type="button" class="btn btn-danger btn-fill form-control" style="width:100px;" data-dismiss="modal" onclick="location.reload();">Cancel</button>
                            <button type="button" class="btn btn-success btn-fill form-control" style="width:100px;" id="Save_Schedule">Save</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div></div> -->
<!-----------MODAL EDIT SCHEDULE------------>
<div class="modal fade" id="editScheduleModal" tabindex="-1" role="dialog" aria-labelledby="editScheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="editSchedule" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="editScheduleModalLabel">Edit Schedule</h5>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <form>
                            <h4>Schedule Detail</h4>
                            <hr />
                            <div class="form-group col-md-12">
                                <label for="Ename_schedule">Schedule Name:</label>
                                <input type="text" class="form-control" id="edit_NmSched" required="required">
                                <input type="hidden" id="schedId">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="Eoperator_schedule">Operator:</label>
                                <select class="form-control" id="edit_OpSched" required="required"></select>
                            </div>

                        </form>
                        <center>
                            <div class="form-group">
                                <!-- <button id="SaveEditSchedule" type="button" class="btn btn-success btn-fill">Save Schedule</button> -->
                            </div>
                        </center>
                    </div>


                    <div class="col-md-6">
                        <h4>Add Mission</h4>
                        <hr />
                        <form>
                            <div class="form-group col-md-12 ">
                                <label for="agv_schedule" class="col-form-label">Select Mission By AGV:</label>
                                <input type="text" class="form-control" id="edit_agv_schedule" disabled="disabled">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="Emission_schedule" class="col-form-label">Mission:</label>
                                <select class="form-control" id="edit_NmMission">
                                    <!--                         {{#each ms}}
                                                          <option value="{{this._id}}">{{this.Name}}</option>
                                                            {{/each}} -->
                                </select>
                            </div>
                        </form>



                        <center>
                            <div c
                            <div class="form-group">
                                <button type="button" class="btn btn-success btn-fill" id="addScheduleMissionEDIT">Add Mission</button>
                            </div>
                        </center>
                    </div>
                    <br />
                    <br />
                    <div class="form-group col-md-12">
                        <h4 align="center">List of Activity Added</h4>
                        <hr />
                        <table id="divider_table" class="table table-responsive">
                            <thead>
                            <th width="33%">Seq</th>
                            <th width="33%">Mission</th>
                            </thead>
                            <tbody id="SchedDynamic"></tbody>
                        </table>
                        <br><br><br>
                        <div class="text-center">
                            <button type="button" class="btn btn-danger btn-fill form-control" style="width:100px;" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-success btn-fill form-control" style="width:100px;" id="Save_ScheduleEM">
                                Save
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div></div> -->
<!------------------MODAL DELETE SCHEDULE--------------->
<div class="modal fade" id="delScheduleModal" tabindex="-1" role="dialog" aria-labelledby="delScheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="delScheduleModalLabel">Delete Schedule</h5>
            </div>

            <div class="modal-body">
                <input type="hidden" id="dScId">
                <p>Are you sure you want to delete this schedule?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-fill" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger btn-fill" id="scDbtn">Confirm Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- </div></div> -->
<!--MODAL DELETE MISSION-->
<div class="modal fade" id="modalDeleteMission" tabindex="-1" role="dialog" aria-labelledby="modalDeleteMissionLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="deletemission" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success" id="modalDeleteMissionLabel">Delete Mission</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="col-md-12 missionform">
                    <p>Are you sure you want to delete this mission?</p>
                </div><!--End col-md-5-->
                <div class="form-group col-lg-offset-9  ">
                    <input type="hidden" id="dMsId">
                    <button type="button" style="width:100px" class="btn btn-warning btn-fill form-control" data-dismiss="modal">Cancel</button>
                    <button id="msDbtn" style="width:100px" type="button" class="btn btn-danger btn-fill form-control">Delete</button>
                    <input type="hidden" id="dMsId">
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

{{!-- SCHEDULE & MISSION SETTING END --}}


<script type="text/javascript">

    var socket = io();
    $(document).ready(function () {

        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        //////////////////////////////////////////////////////////////MISSION TAB START//////////////////////////////////////////////////////////////
        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


        //============================================================ADD NEW MISSION ROUTINES (MISSION PROFILE)====================================>>

        var addAct = [];
        var AMseq = 0;
        var AMsort = 0;
        var AMnewarr = [];
        var tempAM = [];

        //-------------------Setup Parameters--------------------------------------//
        function AMstartup() {
            addAct = [];
            AMseq = 0;
            AMsort = 0;
            AMnewarr = [];
            tempAM = [];
        }

        //-------------------+ ADD NEW MISSION--------------------------------------//
        $('#Nmpoint').attr('disabled', true);
        $('#Nmactivity').attr('disabled', true);
        $('#NmaddAct').attr('disabled', true);
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 1500,
            customClass: {
                popup: 'swalpopup'
            }
        })

        //----------------SAVE MISSION BUTTON---------------------------------------//
        $(document).on('click', '#addNewMission', function () {
            var NmName = $('#NmName').val();
            var NmAgv = $('#NmAgv').val();
            var NmArea = $('#NmArea').val();
            var addNewMission = $('#addNewMission').val();
            var json = {
                'Name': NmName,
                'agv_ID': NmAgv,
                'MAP_ID': NmArea,
                'status': 'recorded'
            }
            showload_start();
            socket.emit('addMission', json);
            AMstartup();
        })

        //-------------SAVE MISSION BUTTON MODAL POPUP------------------------------//
        socket.on('addMissionS', data => {
            if (data == 'err') {
                toast_notification('error', 'Mission Name already existed!');
            }
            else {
                toast_notification('success', 'Mission: ' + data.msName + " successfully saved");
                $('#Nmpoint').attr('disabled', false);
                $('#Nmactivity').attr('disabled', false);
                $('#NmaddAct').attr('disabled', false);
                $('#NmName').attr('disabled', true);
                $('#NmAgv').attr('disabled', true);
                $('#NmArea').attr('disabled', true);
                $('#addNewMission').attr('disabled', true);
                $('#msId').val(data.msId);
                $.each(data.Map, function (i, mapdatas) {
                    $('#Nmpoint').append('<option value="' + mapdatas._id + '">' +
                        mapdatas.Name + '</option>')
                })
                $.each(data.Arm, function (i, armdata) {
                    $('#Nmactivity').append('<option id="t' + armdata.Name +
                        '" value="' + armdata._id + '">' + armdata.Name + '</option>')
                })
            }
        })

        //----------------------ADD ACTIVITY MODAL POPUP----------------------------//

        function AMdraw(data) {
            console.log(data);
            $('#dynamic').html("");
            var m = 0;
            $.each(data, function (i, datas) {
                $('#dynamic').append(
                    '<tr class="my-handle">' +
                    '<td class="index">' + m.toString() + '</td><td>' + datas.pt_name +
                    '</td><td>' + datas.arm_name + '</td><td><button value="' +
                    datas.Seq + '" class="btn btn-danger actDel">Delete</button></td>'
                    + '<tr>'
                )
                m++;
            });
        }

        $(document).on('click', '#NmaddAct', function () {
            var PT_ID = $('#Nmpoint').val();
            var ARM_ID = $('#Nmactivity').val();
            var MAP_ID = $('#NmArea').val();
            var MS_ID = $('#msId').val();
            var arm_name = $("#Nmactivity option:selected").text();
            var pt_name = $("#Nmpoint option:selected").text();

            var json = {
                MS_ID: MS_ID,
                ms_name: $("#NmName option:selected").text(),
                MAP_ID: MAP_ID,
                Map_Name: $("#NmArea option:selected").text(),
                PT_ID: PT_ID,
                pt_name: pt_name,
                ARM_ID: ARM_ID,
                arm_name: arm_name,
                Seq: AMseq,
                Exe: "0",
                status: "recorded"
            };

            addAct.push(json);
            $('#dynamic').append(
                '<tr class="my-handle">' +
                '<td class="index">' + AMseq + '</td><td>' + pt_name +
                '</td><td>' + arm_name + '</td><td><button value="' +
                AMseq + '" class="btn btn-danger actDel">Delete</button></td>'
                + '<tr>'
            );
            AMUpdateorder();
            AMseq++;

        })

        //----------------------DRAGABLE ACTIVITY-----------------------------------//

        function AMUpdateorder() {
            AMsort = 0;
            AMnewarr = [];
            AMresetNums();
            console.log(AMnewarr);
            console.log("Ori_Array:", addAct);
            tempAM = rearrangeArray(addAct, AMnewarr);
            console.log("Sorted_Array:", tempAM);
            AMdraw(tempAM);
        }

        Sortable.create(dynamic, {
            handle: '.my-handle',
            animation: 150,
            onUpdate: function () {
                AMUpdateorder();
            }
        });

        var AMresetNums = function () {
            $('#dynamic tr td button').each(function (AMsort) {
                var n = parseInt($(this).val())
                AMnewarr.push(n);
            });
        }

        //-------------REMOVE ADDED ACTIVITY ----------------------------------------//
        $(document).on('click', '.actDel', function (e) {
            var dir = $(this).val();
            var idx = addAct.findIndex(arr => arr.Seq == dir);
            addAct.splice(idx, 1);
            $(this).closest('tr').remove();
            AMUpdateorder();
        })


        //-------------------SAVE ALL -----------------------------------------------//
        $(document).on('click', '#Save_Mission', function () {
            if (tempAM.length > 0) {
                addAct = reassignseq(tempAM);
            }
            if (addAct.length < 1) {
                warning_notification('Please fill in all fields before proceeding.');
            }
            else {
                console.log(addAct);
                $("#addMissionModal").modal('hide');
                showload_start();
                socket.emit('addMissionAct', addAct);
            }
        })

        //-----------------SAVE ALL MODAL POPUP--------------------------------------//

        socket.on('addMissionActS', data => {
            if (data == 'error')
                fail_notification("Mission Add Failed");
            else
                success_notification('Mission Activities successfully added to ' + $('#NmName').val());
        })

        //========================================================== EDIT MISSION ROUTINES (MISSION PROFILE)==========================================>>

        //-------------------------------MODAL POPUP ONLOAD------------------------------//
        var addNewAct = [];
        var tempEM = [];
        var EMseq = 0;
        var EMsort = 0;
        var EMnewarr = [];
        var EMupt = [];
        var Old_msName = [];

        function EMstartup() {
            addNewAct = [];
            tempEM = [];
            EMseq = 0;
            EMsort = 0;
            EMnewarr = [];
            EMupt = [];
        }

        function EMdraw(data) {
            console.log("Cdata", data);
            $('#Emdynamic').html("");
            var m = 0
            $.each(data, function (i, datas) {
                $('#Emdynamic').append(
                    '<tr class="my-handle">' +
                    '<td class="index">' + m.toString() + '</td><td>' + datas.pt_name +
                    '</td><td>' + datas.arm_name + '</td><td><button value="' +
                    datas.Seq + '" class="btn btn-danger actDelEM">Delete</button></td>'
                    + '<tr>'
                )
                m++;
            });
        }

        $(document).on('click', '.editMs', function () {
            $('#Emdynamic').empty();
            var dir = $(this).attr('dir');
            socket.emit('msreq', { ms_id: dir })
            EMstartup();
        })

        socket.on('msres', data => {
            $('#Emdynamic').empty();
            console.log(data);
            addNewAct = data.ACTS;
            EMdraw(addNewAct);
            EMupt = Array.from(addNewAct, x => x.ACT_ID);
            EMseq = addNewAct.length;

            Old_msName = data.MISS.Name;
            $('#EmsName').val(data.MISS.Name);
            $('#EmsName').attr('name', data.MISS._id);

            $('#EmsAgv').val(data.AGVS.agv_ID);

            $('#EmsArea').val(data.MAPS.Name);
            $('#EmsArea').attr('name', data.MAPS._id);

            $('#EdtMsPt').empty();
            $.each(data.PNTS, function (i, datas) {
                $('#EdtMsPt').append('<option value="' + datas._id + '">' + datas.Name + '</option>')
            })

            $('#EdtMsArm').empty();
            $.each(data.ARMS, function (i, datas) {
                $('#EdtMsArm').append('<option value="' + datas._id + '">' + datas.Name + '</option>')
            })

        })

        //------------------SAVE EDIT MISSION (MISSION DETAILS)--------------------------//
        // $(document).on('click','#editmMission',function() {
        //   var EmsName = $('#EmsName').val();
        //   var editmMission = $('#editmMission').val();
        //   var MS_ID = $('#EmsName').attr("name");

        //   var json = {
        //     'MS_ID':MS_ID,
        //     'Name':EmsName,
        //     'status': 'recorded'
        //   }
        //   socket.emit('ReqEditMission',json);
        // })
        function saveeditmission() {
            var EmsName = $('#EmsName').val();
            var editmMission = $('#editmMission').val();
            var MS_ID = $('#EmsName').attr("name");

            var json = {
                'MS_ID': MS_ID,
                'Name': EmsName,
                'status': 'recorded'
            }
            showload_start();
            if (Old_msName == EmsName)
                saveallmission();
            else
                socket.emit('ReqEditMission', json);
        }

        //---------------SAVE EDIT MISSION (MISSION DETAILS) MESSAGE--------------------//
        socket.on('ResEditMissionS', data => {
            if (data == "error")
                toast_notification('error', 'Mission Name Already Registered, Please Change');
            else {
                $("#editMissionModal").modal('hide');
                saveallmission();
            }
        })

        //--------------ADD NEW ACTIVITY TO EDIT MISSION IN APPEND TABLE-----------------//
        $(document).on('click', '#NaddPoint', function () {
            var PT_ID = $('#EdtMsPt').val();
            var ARM_ID = $('#EdtMsArm').val();
            var MAP_ID = $('#EmsArea').attr("name");
            var MS_ID = $('#EmsName').attr("name");
            var arm_name = $("#EdtMsArm option:selected").text();
            var pt_name = $("#EdtMsPt option:selected").text();

            var json = {
                Seq: EMseq,
                ACT_ID: "NEW",
                MS_ID: MS_ID,
                ms_name: $("#EmsName option:selected").text(),
                MAP_ID: MAP_ID,
                Map_Name: $("#EmsArea option:selected").text(),
                PT_ID: PT_ID,
                pt_name: pt_name,
                ARM_ID: ARM_ID,
                arm_name: arm_name,
                Exe: "0",
                status: "recorded"
            };


            addNewAct.push(json);
            $('#Emdynamic').append(
                '<tr class="my-handle">' +
                '<td class="index">' + EMseq + '</td><td>' + pt_name +
                '</td><td>' + arm_name + '</td><td><button value="' +
                EMseq + '" class="btn btn-danger actDelEM">Delete</button></td>'
                + '<tr>'
            );
            EMUpdateorder();
            EMseq++;

        })

        function EMUpdateorder() {
            EMsort = 0;
            EMnewarr = [];
            EMresetNums();
            console.log('old:', addNewAct);
            console.log(EMnewarr);
            tempEM = rearrangeArray(addNewAct, EMnewarr);
            console.log('new:', tempEM);
            EMdraw(tempEM);
        }
        Sortable.create(Emdynamic, {
            handle: '.my-handle',
            animation: 150,
            onUpdate: function (event, ui) {
                EMUpdateorder();
            }

        });

        var EMresetNums = function () {
            $('#Emdynamic tr td button').each(function (EMsort) {
                var n = parseInt($(this).val())
                EMnewarr.push(n);
            });
        }

        //-------------REMOVE ADDED ACTIVITY --------------------------------------------//
        $(document).on('click', '.actDelEM', function (e) {
            console.log('how many issiohns?' + $('#editMissionModal').find('.actDelEM').length);
            if ($('#editMissionModal').find('.actDelEM').length <= 1) {
                warning_notification('Requires at least 1 mission point for mission!');

            }
            else {
                var dir = $(this).val();
                var idx = addNewAct.findIndex(arr => arr.Seq == dir);
                addNewAct.splice(idx, 1);
                $(this).closest('tr').remove();
                EMUpdateorder();
            }
        })


        //-------------------SAVE ALL ---------------------------------------------------//
        $(document).on('click', '#EMSave_Mission', function () {
            saveeditmission();
        })

        function saveallmission() {
            if (tempEM.length > 0) {
                addNewAct = reassignseq(tempEM);
            } else {
                EMupt = [];
            }
            var uptact =
            {
                OLDACT: EMupt,
                NEWACT: addNewAct
            };
            console.log(uptact);
            socket.emit('EMsaving', uptact);
        }

        //-----------------SAVE ALL MODAL POPUP-----------------------------------------//

        socket.on('EMsaved', data => {
            if (data == 'error')
                fail_notification('Mission Edit Failed');
            else
                success_notification('Mission Name and Activities successfully Edited');
        })

        //========================================================== DELETE MISSION ROUTINES (MISSION PROFILE)======================================>>

        //----------------------------DELETE MISSION--------------------------------------//
        $(document).on('click', '.deleteMs', function () {
            var dir = $(this).attr('dir');
            $('#dMsId').val(dir);
        })
        $(document).on('click', '#msDbtn', function () {
            var json = { ms_id: $('#dMsId').val() };
            $('#modalDeleteMission').modal('hide');
            showload_start();
            socket.emit('deleteMission', json);


        })

        //-----------------------------DELETE MISSION MODAL POPUP--------------------------//
        socket.on('deleteMissionS', data => {
            if (data == 'error') {
                fail_notification('Mission delete failed');
            }
            else {
                success_notification('Mission successfully deleted');
            }
        })

        //========================================================== FILTER (MISSION PROFILE)======================================================>>

        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("tableBody");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];

                if (td) {

                    txtValue = td.textContent || td.innerText;

                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        //////////////////////////////////////////////////////////////MISSION TAB END////////////////////////////////////////////////////////////////
        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////






        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        //////////////////////////////////////////////////////////////SCHEDULE TAB START/////////////////////////////////////////////////////////////
        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        //==========================================================ADD NEW SCHEDULE ROUTINES (SCHEDULE PROFILE)====================================>>

        var addMis = [];
        var ASseq = 0;
        var ASsort = 0;
        var ASnewarr = [];
        var tempAS = [];

        //-------------------Setup Parameters--------------------------------------//
        function AMstartup() {
            addMis = [];
            ASseq = 0;
            ASsort = 0;
            ASnewarr = [];
            tempAS = [];
        }

        //----------------------+SAVE NEW SCHEDULE-------------------------------------//
        $(document).on('click', '#addNewSchedule', function () {
            var Name = $('#name_schedule').val();
            var USER_ID = $('#operator_schedule').val();
            var json = { Name: Name, USER_ID: USER_ID }
            showload_start();
            socket.emit('addSched', json)
        })

        //-------------------------SAVE NEW SCHEDULE MODAL POPUP------------------------//
        socket.on('addSchedS', data => {
            if (data == 'err') {
                toast_notification('error', 'Schedule Name Already Exist');
            }
            else {
                toast_notification('success', 'Schedule: ' + data.Name + " successfully saved");
                $('#name_schedule').attr('disabled', true);
                $('#operator_schedule').attr('disabled', true);
                $('#agv_schedule').attr('disabled', false);

                $('#schedId').val(data._id)
            }
        })

        //----------------------ADD ACTIVITY MODAL POPUP----------------------------//

        function ASdraw(data) {
            console.log("main", data);
            $('#misSchedTable').html("");
            var m = 0;
            $.each(data, function (i, datas) {
                $('#misSchedTable').append(
                    '<tr class="my-handle">' +
                    '<td class="index" width="33%">' + m.toString() + '</td><td width="33%">' + datas.ms_name +
                    '</td><td><button value="' +
                    datas.Seq + '" class="btn btn-danger removeMission">Delete</button></td>'
                    + '<tr>'
                )
                m++;
            });
        }


        $(document).on('click', '#addScheduleMission', function () {
            $('#agv_schedule').attr('disabled', true);
            var SCHED_ID = $('#schedId').val();
            var MS_ID = $('#mission_schedule').val();
            var ms_name = $("#mission_schedule option:selected").text();

            var json = {
                MS_ID: MS_ID,
                SCHED_ID: SCHED_ID,
                ms_name: ms_name,
                Seq: ASseq,
                Exe: "0",
                status: "recorded"
            };

            addMis.push(json);
            $('#misSchedTable').append(
                '<tr class="my-handle">' +
                '<td class="index" width="33%">' + ASseq + '</td><td width="33%">' + ms_name +
                '</td><td><button value="' +
                ASseq + '" class="btn btn-danger removeMission">Delete</button></td>'
                + '<tr>'
            );
            ASUpdateorder();
            ASseq++;

        })

        //----------------------DRAGABLE ACTIVITY-----------------------------------//

        function ASUpdateorder() {
            ASsort = 0;
            ASnewarr = [];
            ASresetNums();
            console.log(ASnewarr);
            console.log("Ori_Array:", addMis);
            tempAS = rearrangeArray(addMis, ASnewarr);
            console.log("Sorted_Array:", tempAS);
            ASdraw(tempAS);
        }

        Sortable.create(misSchedTable, {
            handle: '.my-handle',
            animation: 150,
            onUpdate: function () {
                ASUpdateorder();
            }
        });

        var ASresetNums = function () {
            $('#misSchedTable tr td button').each(function (ASsort) {
                var n = parseInt($(this).val())
                ASnewarr.push(n);
            });
        }

        //-------------REMOVE ADDED ACTIVITY ----------------------------------------//
        $(document).on('click', '.removeMission', function (e) {
            var dir = $(this).val();
            var idx = addMis.findIndex(arr => arr.Seq == dir);
            addMis.splice(idx, 1);
            $(this).closest('tr').remove();
            ASUpdateorder();
        })

        //-----------------------SELECT MISSION BY AGV IN -----------------------------//
        $('#agv_schedule').on('change', function () {
            jsonarr = [];
            $('#mission_schedule').empty();
            if ($(this).val() != 'SELECT AGV') {
                $('#mission_schedule').attr('disabled', false);
                $('#loops_schedule').attr('disabled', false);
                $('#addScheduleMission').attr('disabled', false);
            }
            var AGV_ID = $('#agv_schedule').val();
            var json = { AGV_ID: AGV_ID }
            console.log(json)
            showload_start();
            socket.emit('AGVByMS', json)
        })
        socket.on('AGVByMSRes', data => {
            showload_stop();
            $('#mission_schedule').append('<option value="' +
                data.MSID + '">' + data.MSNm + '</option>');
        })

        //------------------------SAVE ALL SCHEDULE AND ADD MISSION---------------------//
        $(document).on('click', '#Save_Schedule', function () {
            if (tempAS.length > 0) {
                addMis = reassignseq(tempAS);
            }
            console.log(addMis);
            $('#addScheduleModal').modal('hide');
            showload_start();
            socket.emit('saveSched', addMis);
        })

        //----------------------SAVE ALL SCHEDULE AND ADD MISSION MODAL POPUP-----------//
        socket.on('saveSchedS', data => {
            if (data == "error")
                fail_notification('Schedule Mission Add Failed');
            else
                success_notification('Schedule Missions successfully added to ' + $('#name_schedule').val());

            $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
                var id = $(e.target).attr("href").substr(1);
                window.location.hash = id;
            });

            // on load of the page: switch to the currently selected tab
            var hash = window.location.hash;
            $('#myTab a[href="' + hash + '"]').tab('show');
        })


        //========================================================EDIT SCHEDULE ROUTINES (SCHEDULE PROFILE)=========================================>>

        var addNewMis = [];
        var tempES = [];
        var ESseq = 0;
        var ESsort = 0;
        var ESnewarr = [];
        var ESupt = [];
        var Old_scName = "";

        //------------------------STARTUP PARAMETERS--------------------------------------------//
        function ESstartup() {
            addNewMis = [];
            tempES = [];
            ESseq = 0;
            ESsort = 0;
            ESnewarr = [];
            ESupt = [];
        }

        function ESdraw(data) {
            // console.log("Cdata", data);
            $('#SchedDynamic').html("");
            var m = 0
            $.each(data, function (i, datas) {
                $('#SchedDynamic').append(
                    '<tr class="my-handle">' +
                    '<td class="index">' + m.toString() + '</td><td>' + datas.MS_Name +
                    '</td><td><button dir="' + datas.MS_ID +
                    '"class="btn btn-danger missDel" value="' + datas.Seq +
                    '">Delete</button></td><tr>'
                )
                m++;
            });
        }

        //------------------------ONCLICK EDIT SCHEDULE-----------------------------------------//
        $(document).on('click', '.editSchedMS', function () {
            var dir = $(this).attr('dir');
            socket.emit('schedReq', { sched_id: dir })
            ESstartup();
        })
        socket.on('schedRes', dat => {
            data = dat.SMIS;
            // console.log(dat);
            $('#Emdynamic').empty();

            addNewMis = data;
            ESdraw(addNewMis);
            ESupt = Array.from(addNewMis, x => x.SCHED_MS_ID);
            ESseq = addNewMis.length;

            Old_scName = dat.SCHD.Name;
            $('#edit_agv_schedule').val(data[0].AGV_ID);
            $('#edit_NmSched').val(dat.SCHD.Name);
            $('#edit_NmSched').attr('name', dat.SCHD._id);


            $('#edit_OpSched').empty();
            $.each(dat.OPER, function (i, datas) {
                if (datas.Name == dat.USRS.Name) {
                    $('#edit_OpSched').append('<option selected value="' +
                        datas._id + '">' + datas.Name + '</option>')
                }
                else {
                    $('#edit_OpSched').append('<option value="' + datas._id +
                        '">' + datas.Name + '</option>')
                }
            })

            $('#edit_NmMission').empty();
            $.each(dat.MISS, function (i, datas) {
                $('#edit_NmMission').append('<option value="' + datas._id +
                    '">' + datas.Name + '</option>')
            })

        })

        //--------------------SAVE EDITED SCHEDULE IN SCHEDULE EDIT------------------------------//
        // $(document).on('click','#SaveEditSchedule',function()  {
        //   var scnm = $('#edit_NmSched').val();
        //   var scid = $('#edit_NmSched').attr("name");
        //   var optid = $('#edit_OpSched').val();
        //   var js = {SCHED_NAME:scnm, SCHED_ID:scid, OPER_ID:optid};
        //   socket.emit('saveEditSchedInfo',js);
        // })

        function saveeditschedule() {
            var scnm = $('#edit_NmSched').val();
            var scid = $('#edit_NmSched').attr("name");
            var optid = $('#edit_OpSched').val();
            var js = { SCHED_NAME: scnm, SCHED_ID: scid, OPER_ID: optid };
            socket.emit('saveEditSchedInfo', js);
            // showload_start();
            // if (scnm == Old_scName) {
            //     //  console.log('scm oldscname ' + scnm + '  ' + Old_scName);
            //     saveallschedule();
            // }
            // else {
            //     //console.log('scm oldscname ' +scnm + '  ' + Old_scName );
            //     socket.emit('saveEditSchedInfo', js);
            // }
        }

        //---------------SAVE EDIT SCHEDULE (MISSION DETAILS) MESSAGE----------------------------//
        socket.on('saveEditSchedInfoS', data => {
            if (data == "error")
                toast_notification("error", "Erro in saving Schedule Name, Try change to other");
            else {
                $("#").modal('hide');
                saveallschedule();
            }
        })


        //--------------ADD NEW MISSION TO EDIT MISSION IN APPEND TABLE-------------------------//
        $(document).on('click', '#addScheduleMissionEDIT', function () {
            var SCHED_ID = $('#edit_NmSched').attr("name");
            var MS_ID = $('#edit_NmMission').val();
            var MS_Name = $("#edit_NmMission option:selected").text();

            var json = {
                MS_ID: MS_ID,
                SCHED_ID: SCHED_ID,
                MS_Name: MS_Name,
                Seq: ESseq,
                Exe: "0",
                status: "recorded"
            };

            addNewMis.push(json);

            $('#SchedDynamic').append(
                '<tr class="my-handle">' +
                '<td class="index">' + ESseq + '</td><td>' + MS_Name +
                '</td><td><button value="' +
                ESseq + '" class="btn btn-danger missDel">Delete</button></td>'
                + '<tr>'
            );
            ESUpdateorder();
            ESseq++;
        })

        function ESUpdateorder() {
            ESsort = 0;
            ESnewarr = [];
            ESresetNums();
            console.log('old:', addNewMis);
            console.log(ESnewarr);
            tempES = rearrangeArray(addNewMis, ESnewarr);
            console.log('new:', tempES);
            ESdraw(tempES);
        }

        Sortable.create(SchedDynamic, {
            handle: '.my-handle',
            animation: 150,
            onUpdate: function (event, ui) {
                ESUpdateorder();
            }

        });

        var ESresetNums = function () {
            $('#SchedDynamic tr td button').each(function (ESsort) {
                var n = parseInt($(this).val())
                ESnewarr.push(n);
            });
        }

        //--------------------DELETE MISSION IN SCHEDULE EDIT-------------------------------------//
        $(document).on('click', '.missDel', function (e) {
            if ($('#editScheduleModal').find('button.missDel').length <= 1) {
                warning_notification("Requires at least one Mission left for schedule!");
            }
            else {
                var dir = $(this).val();
                var idx = addNewMis.findIndex(arr => arr.Seq == dir);
                addNewMis.splice(idx, 1);
                $(this).closest('tr').remove();
                ESUpdateorder();
            }
        })


        //-------------------SAVE ALL ---------------------------------------------------//
        $(document).on('click', '#Save_ScheduleEM', function () {
            //    showload_start();
            saveeditschedule();
        })

        function saveallschedule() {
            console.log('tempes' + tempES);
            if (tempES.length > 0) {
                addNewMis = reassignseq(tempES);
                //  console.log(addNewMis);
            } else {
                ESupt = [];
            }
            var uptact =
            {
                OLDACT: ESupt,
                NEWACT: addNewMis
            };
            console.log('showing Upact');
            console.log(uptact);
            socket.emit('ESsaving', uptact);
        }

        //-----------------SAVE ALL MODAL POPUP-----------------------------------------//

        socket.on('ESsaved', data => {
            if (data == "error")
                fail_notification("Edit Schedule Failed");
            else
                success_notification('Schedule Missions successfully Edited');
            $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
                var id = $(e.target).attr("href").substr(1);
                window.location.hash = id;
            });

            // on load of the page: switch to the currently selected tab
            var hash = window.location.hash;
            $('#myTab a[href="' + hash + '"]').tab('show');
            setTimeout(location.reload.bind(location), 1000);
            //$("#myTabContent").load(location.href + " #myTabContent .tab-pane, script");
        })
        //--------------------DELETE SCHEDULE CLICK-------------------------------------------------//

        $(document).on('click', '.deleteSched', function () {
            var dir = $(this).attr('dir');
            $('#dScId').val(dir);
            console.log(dir);
        })

        $(document).on('click', '#scDbtn', function () {
            var json = { sc_id: $('#dScId').val() };
            showload_start();
            $("#delScheduleModal").modal('hide');
            socket.emit('deleteSchedule', json);
        })


        //--------------------DELETE SCHEDULE MESSAGE----------------------------------------------//
        socket.on('deleteScheduleS', data => {
            if (data == 'error') {
                fail_notification("Schedule delete failed");
            }
            else {
                success_notification('Schedule successfully deleted');
                $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
                    var id = $(e.target).attr("href").substr(1);
                    window.location.hash = id;
                });

                // on load of the page: switch to the currently selected tab
                var hash = window.location.hash;
                $('#myTab a[href="' + hash + '"]').tab('show');

            }
        })

        function rearrangeArray(targetData, refData) {
            var temp = [];
            for (var x = 0; x < refData.length; x++)
                for (var y = 0; y < targetData.length; y++) {
                    if (refData[x] == targetData[y].Seq) {
                        temp.push(targetData[y]);
                    }
                }
            return temp;
        }

        function reassignseq(arr) {
            for (x = 0; x < arr.length; x++) {
                arr[x].Seq = x;
            }
            return arr;
        }

        //----------------------FOR TAB PANE REFRESH---------------------------------------//
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
            // console.log($(this).tab('show'))
        });
        $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
            var id = $(e.target).attr("href").substr(1);
            window.location.hash = id;
        });
        // on load of the page: switch to the currently selected tab
        var hash = window.location.hash;
        $('#myTab a[href="' + hash + '"]').tab('show');
    })


    //----------------------------SEARCH BY KEYWORDS (Mission Name)-----------------------------//
    myFunctionMissionName = () => {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInputMissionName");
        filter = input.value.toUpperCase();
        table = document.getElementById("tableBody");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];

            if (td) {

                txtValue = td.textContent || td.innerText;

                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    };

    //----------------------------SEARCH BY KEYWORDS (Schedule Name)-----------------------------//
    myFunctionSchedName = () => {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInputSchedName");
        filter = input.value.toUpperCase();
        table = document.getElementById("tableBodySched");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];

            if (td) {

                txtValue = td.textContent || td.innerText;

                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    };

</script>