<style>

#scrolltable { margin-top: 10px; height: 270px; overflow: auto; }
#scrolltable table { border-collapse: collapse; }
#scrolltable th div { position: absolute; margin-top: -20px; }

#scrolltable1 { margin-top: 10px; height: 400px; overflow: auto; }
#scrolltable1 table { border-collapse: collapse; }
#scrolltable1 th div { position: absolute; margin-top: -20px; }



</style>
  
  <!--<input value="{{{user}}}" hidden="hidden" id="userRole">--> 
  <div class="container-fluid">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item active">
                        <a class="nav-link active" id="mission-tab" data-toggle="tab" href="#mission" role="tab" aria-controls="mission" aria-selected="true" aria-expanded="true"><h6>Mission Profiles</h6></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="schedule-tab" data-toggle="tab" href="#schedule" role="tab" aria-controls="schedule" aria-selected="false"><h6>Schedule Profile</h6></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false"><h6>Schedule History</h6></a>
                      </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                    <!-- MISSION PROFILE MODAL -->
                      <div class="tab-pane fade active in" id="mission" role="tabpanel" aria-labelledby="mission-tab">
                          <div class="card">
                              <div class="content">
                                <div class="row">
                                 
                                <div class="col-md-4">
                                   <!-- <div class="col-md-6 form-group"> -->
                                                                                
                                        <label class="label">Filter by Mission Name</label>
                                        <input type="text"  class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search for mision name.." title="Type in a name">
                                    
                                 <!-- </div>-->

                                    </div> 
                                  <div class="col-md-4"></div>
                                    
                                      <div class="col-md-3">
                                        <button type="button" class="btn btn-success btn-fill form-control" data-toggle="modal" data-target="#addMissionModal"><span class="ti-plus"></span> Add New Mission</button>
                                    </div>
                                    
                                </div>

                                <br /> 

                                 
                                                              
                                <!--<span style="color: #D3D3D3">*Click on the Repeat Counts box to edit for repeating the mission</span>-->
                              </div>
                              <div class="content" id="scrolltable">
                                  <table class="table table-stripped">
                                      <thead>
                                        <tr>
                                         
                                          <th width="10%" scope="col">No</th>
                                          <th width="15%" scope="col">Mission Name</th>
                                          <th width="10%" scope="col">AGV</th>
                                          <th width="10%" scope="col">Area</th>
                                          <th width="20%" scope="col">Date Created</th>
                                          <th width="20%" scope="col">Action</th>


                                        </tr>
                                      </thead>
                                      <tbody id="tableBody">
                                        {{#each data }}
                                          <tr>
                                           <td width='5%' class="inc"> {{inc @index}}</td>
                                            <td>{{this.ms_Name}}</td>
                                            <td>{{this.agv}}</td>
                                            <td>{{this.area}}</td>
                                            <td>{{this.TS}}</td>
                                            <td><button dir="{{this.ms_id}}" type="button" class="editMs btn btn-warning btn-fill  form-control" data-toggle="modal" data-target="#editMissionModal" style="width:150px"><span class="ti-pencil"></span>EDIT </button>
                    <button type="button" dir="{{this.ms_id}}" class="deleteMs btn btn-danger btn-fill form-control" data-toggle="modal" data-target="#modalDeleteMission" style="width:150px"><span class="ti-trash"></span>DELETE</button></td>
                                          </tr>
                                        {{/each }}
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>

             <!-- SCHEDULE MODAL -->

                      <div class="tab-pane sched fade" id="schedule" role="tabpanel" aria-labelledby="mission-tab">
                          <div class="card">
                              <div class="content">
                                <div class="row">
                                 
                                 <div class="col-md-4">
                                   <!-- <div class="col-md-6 form-group"> -->
                                                                                
                                        <label class="label">Filter by Schedule Name</label>
                                        <input type="text"  class="form-control" id="myInput1" onkeyup="myFunction1()" placeholder="Search for schedule name.." title="Type in a name">
                                    
                                 <!-- </div>-->

                                    </div> 
                                  <div class="col-md-4"></div>
                                    
                                      <div class="col-md-3">
                                        <button type="button" class="btn btn-success btn-fill form-control" data-toggle="modal" data-target="#addScheduleModal"><span class="ti-plus"></span> Add Mission To Schedule</button>
                                    </div>
                                    
                                </div>

                                <br /> 

                                 
                                                              
                                <!--<span style="color: #D3D3D3">*Click on the Repeat Counts box to edit for repeating the mission</span>-->
                              </div>
                              <div class="content" id="scrolltable">
                                  <table class="table table-stripped">
                                      <thead>
                                        <tr>
                                         
                                          <th width="10%" scope="col">No</th>
                                          <th width="15%" scope="col">Schedule Name</th>
                                          <th width="20%" scope="col">Date Created</th>
                                          <th width="20%" scope="col">Action</th>

                                        </tr>
                                      </thead>
                                      <tbody id="tableBodySched">
                                        {{#each datasched}}
                                          <tr>
                                            <td>{{inc @index}}</td>
                                            <td>{{this.Name}}</td>
                                            <td>{{this.TS}}</td>
                                            <td><button dir="{{this._id}}" type="button" class="editSchedMS btn btn-warning btn-fill form-control" data-toggle="modal" data-target="#editScheduleModal" style="width:150px"><span class="ti-pencil"></span>EDIT </button>
                    <button type="button" dir="{{this._id}}" class="deleteSched btn btn-danger btn-fill form-control" data-toggle="modal" data-target="#delScheduleModal" style="width:150px"><span class="ti-trash"></span>DELETE</button></td>
                                          </tr>
                                        {{/each}}
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                      <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
                          <div class="card">
                            <div class="content">
                                <table class="table table-stripped">
                                    <thead>
                                      <tr>
                                        <th scope="col">Mission Name</th>
                                        <th scope="col">Mission Start</th>
                                        <th scope="col">Mission End</th>
                                        <th scope="col">Operator</th>
                                      <tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Power Survey</td>
                                            <td>08:00:00, 08/05/2019</td>
                                            <td>09:00:00, 08/05/2019</td>
                                            <td>Micheal</td>
                                        </tr>
                                        <tr>
                                            <td>Checkup</td>
                                            <td>08:00:00, 08/06/2019</td>
                                            <td>09:00:00, 08/06/2019</td>
                                            <td>Aiman</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>

<div class="container-fluid">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item active">
                        <a class="nav-link active" id="mapdt-tab" data-toggle="tab" href="#mapdt" role="tab" aria-controls="mapdt" aria-selected="true" aria-expanded="true"><h6>Map Edit</h6></a>
                      </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                    <!-- MAP EDIT MODAL -->
                      <div class="tab-pane fade active in" id="mapdt" role="tabpanel" aria-labelledby="mapdt-tab">
                          <div class="card">
                              <div class="content">
                                <div class="row">
                                
                                <div class="col-md-4">
                                   <!-- <div class="col-md-6 form-group"> -->
                                                                                
                                        <label class="label">Filter by Map Name</label>
                                        <input type="text"  class="form-control" id="myInputMap" onkeyup="myFunctionMap()" placeholder="Search for map name.." title="Type in a name">
                                    
                                 <!-- </div>-->

                                    </div> 
                                  <div class="col-md-4"></div>
                                    
                                      <div class="col-md-3">
                                        <button type="button" class="btn btn-success btn-fill form-control" data-toggle="modal" data-target="#AddNewMap"><span class="ti-plus"></span> Add New Map</button>
                                    </div>

                                   <div class="col-md-12" id="scrolltable">
                                                                                    <table class="table table-stripped">
                                                                                      <thead>
                                                                                        <th>No</th>
                                                                                        <th>Name</th>
                                                                                        <th>Filename</th>
                                                                                        <th>Home_x</th>
                                                                                        <th>Home_y</th>
                                                                                        <th>Home_z</th>
                                                                                        <th>Home_w</th>
                                                                                        <th>Date</th> 
                                                                                        <th>Action</th>
                                                                                      </thead>
                                                                                      <tbody id="mapdt_list">
                                                                                        <!--   -->
                                                                                        {{#each map}}
                                                                                                 <tr>
                                                                                                    <td width = "5%" scope="col">{{inc @index}}</td>
                                                                                                    <td width = "10%" scope="col">{{this.Name}}</td>
                                                                                                    <td width = "10%" scope="col">{{this.Filename}}</td>
                                                                                                    <td width = "6%" scope="col">{{this.Home_x}}</td>
                                                                                                    <td width = "6%" scope="col">{{this.Home_y}}</td>
                                                                                                    <td width = "6%" scope="col">{{this.Home_z}}</td>
                                                                                                    <td width = "6%" scope="col">{{this.Home_w}}</td>
                                                                                                    <td width = "12%" scope="col">{{this.TS}}</td>
                                                                                                     <td width = "15%" scope="col">
                                                                                                       <button dir="{{this._id}}" type="button" class="detailMapVariable btn btn-info btn-fill form-control" data-toggle="modal" data-target="#detMapModal" style="width:100px"><span class="fa fa-info"></span>DETAIL</button>
                                                                                                      <button dir="{{this._id}}" type="button" class="editMapVariable btn btn-warning btn-fill form-control" data-toggle="modal" data-target="#EMapModal" style="width:100px"><span class="ti-pencil"></span>EDIT </button>
                                                                                                      <button type="button" dir="{{this._id}}" class="deleteMapVariable btn btn-danger btn-fill form-control" data-toggle="modal" data-target="#DMapModal" style="width:100px"><span class="ti-trash"></span>DELETE</button>
                                                                                                      </td>
                                          
                                                                                                 </tr>
                                                                                        {{/each}}
                                                                                      </tbody>
                                                                                    </table>
                                                   </div>

                                </div>
                                
                              </div>
                          </div>
                    </div>
  </div>
</div>


       <script src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="/assets/js/sweetalert2.all.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
{{!-- <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script> --}}
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

  var socket = io();

  var storeArmData = [];
  
  $(document).ready(function() {




 socket.on('trayCont',TRcont =>{
    console.log(TRcont);
    console.log(storeArmData);
    $.each(storeArmData,function(i,armdatas) {
      //drop
      if(armdatas.Name == "Drop 1"){
        if(TRcont.tray.t1 == '0'){
          document.getElementById("t"+armdatas.Name).setAttribute("disabled", "disabled");
          document.getElementById("t"+armdatas.Name).setAttribute("class", "democlass");
        }
        else if(TRcont.tray.t1 == '1'){
          document.getElementById("t"+armdatas.Name).removeAttribute("disabled");
          document.getElementById("t"+armdatas.Name).removeAttribute("class", "democlass");
        }
      }
      if(armdatas.Name == "Drop 2"){
        if(TRcont.tray.t2 == '0'){
          document.getElementById("t"+armdatas.Name).setAttribute("disabled", "disabled");
          document.getElementById("t"+armdatas.Name).setAttribute("class", "democlass");

        }
        else if(TRcont.tray.t2 == '1'){
          document.getElementById("t"+armdatas.Name).removeAttribute("disabled");
          document.getElementById("t"+armdatas.Name).removeAttribute("class", "democlass");
        }
      }
      if(armdatas.Name == "Drop 3"){
        if(TRcont.tray.t3 == '0'){
          document.getElementById("t"+armdatas.Name).setAttribute("disabled", "disabled");
          document.getElementById("t"+armdatas.Name).setAttribute("class", "democlass");
        }
        else if(TRcont.tray.t3 == '1'){
          document.getElementById("t"+armdatas.Name).removeAttribute("disabled");
          document.getElementById("t"+armdatas.Name).removeAttribute("class", "democlass");
        }
      }
      if(armdatas.Name == "Drop 4"){
        if(TRcont.tray.t4 == '0'){
          document.getElementById("t"+armdatas.Name).setAttribute("disabled", "disabled");
          document.getElementById("t"+armdatas.Name).setAttribute("class", "democlass");
          
        }
        else if(TRcont.tray.t4 == '1'){
          document.getElementById("t"+armdatas.Name).removeAttribute("disabled");
          document.getElementById("t"+armdatas.Name).removeAttribute("class", "democlass");
        }
      }

      //pick
      if(armdatas.Name == "Pick 1"){
        if(TRcont.tray.t1 == '1'){
          document.getElementById("t"+armdatas.Name).setAttribute("disabled", "disabled");
          document.getElementById("t"+armdatas.Name).setAttribute("class", "democlass");
        }
        else if(TRcont.tray.t1 == '0'){
          document.getElementById("t"+armdatas.Name).removeAttribute("disabled");
          document.getElementById("t"+armdatas.Name).removeAttribute("class", "democlass");
        }
      }
      if(armdatas.Name == "Pick 2"){
        if(TRcont.tray.t2 == '1'){
          document.getElementById("t"+armdatas.Name).setAttribute("disabled", "disabled");
          document.getElementById("t"+armdatas.Name).setAttribute("class", "democlass");
        }
        else if(TRcont.tray.t2 == '0'){
          document.getElementById("t"+armdatas.Name).removeAttribute("disabled");
          document.getElementById("t"+armdatas.Name).removeAttribute("class", "democlass");
          
        }
      }
      if(armdatas.Name == "Pick 3"){
        if(TRcont.tray.t3 == '1'){
          document.getElementById("t"+armdatas.Name).setAttribute("disabled", "disabled");
          document.getElementById("t"+armdatas.Name).setAttribute("class", "democlass");
        }
        else if(TRcont.tray.t3 == '0'){
          document.getElementById("t"+armdatas.Name).removeAttribute("disabled");
          document.getElementById("t"+armdatas.Name).removeAttribute("class", "democlass");
        }
      }
      if(armdatas.Name == "Pick 4"){
        if(TRcont.tray.t4 == '1'){
          document.getElementById("t"+armdatas.Name).setAttribute("disabled", "disabled");
          document.getElementById("t"+armdatas.Name).setAttribute("class", "democlass");
        }
        else if(TRcont.tray.t4 == '0'){
          document.getElementById("t"+armdatas.Name).removeAttribute("disabled");
          document.getElementById("t"+armdatas.Name).removeAttribute("class", "democlass");
        }
      }
    })
  })



       $('#Nmpoint').attr('disabled',true);
       $('#Nmactivity').attr('disabled',true);
       $('#NmaddAct').attr('disabled',true);
        
          const Toast = Swal.mixin({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 3000,
          customClass: {
            popup: 'swalpopup'
          }
        })


//---------------------DETAIL MAP---------------------------------//



 $(document).on('click','.detailMapVariable', function() {
    var dir = $(this).attr('dir');
     $('#idMapA').val(dir)
     $('#eptidE').val(dir)
     
    var seqPt = 1;
    var seqJunc = 1;
    socket.emit('ReqdetailsMap',dir);
     $('#mapPt_list').empty()
     $('#mapJunc_list').empty()
    
    socket.on('pointMapDetRes',data =>{
      //console.log(data)
      $('#mapPt_list').empty()
      seqPt = 1;
        $.each(data, function( i, datas ) {
             $('#mapPt_list').append(
                     '<tr>'+
                        '<td width = "5%" scope="col">'+ seqPt++ +'</td>'+
                        '<td width = "10%" scope="col">'+ datas.Name +'</td>' +
                        '<td width = "6%" scope="col">'+ datas.Loc_x +'</td>' +
                        '<td width = "6%" scope="col">'+ datas.Loc_y +'</td>' +
                        '<td width = "6%" scope="col">'+ datas.Loc_z +'</td>' +
                        '<td width = "6%" scope="col">'+datas.Loc_w  +'</td>' +
                        '<td width = "6%" scope="col">'+ datas.Lat +'</td>' +
                        '<td width = "6%" scope="col">'+ datas.Long +'</td>' +
                        '<td width = "12%" scope="col">'+ datas.TS +'</td>' +
                        '<td width = "15%" scope="col"><button dir="'+ datas._id +'" type="button" class="editPointVariable btn btn-warning btn-fill form-control" data-toggle="modal" data-target="#editMapPoint" style="width:100px"><span class="ti-pencil"></span>EDIT </button><button type="button" dir="'+datas._id+'" class="deletePointVariable btn btn-danger btn-fill form-control" data-toggle="modal" data-target="#deleteMapPoint" style="width:100px"><span class="ti-trash"></span>DELETE</button></td>' +
                        '<tr>'
                      )
                      
                    });

               })

      socket.on('junctionMapDetRes',data =>{
      //console.log(data)
       $('#mapJunc_list').empty()
       seqJunc = 1;
        $.each(data, function( i, datas ) {
             $('#mapJunc_list').append(
                     '<tr>'+
                        '<td width = "5%" scope="col">'+ seqJunc++ +'</td>'+
                        '<td width = "10%" scope="col">'+ datas.map_id +'</td>' +
                        '<td width = "6%" scope="col">'+ datas.x +'</td>' +
                        '<td width = "6%" scope="col">'+ datas.y +'</td>' +
                        '<td width = "6%" scope="col">'+ datas.Lat +'</td>' +
                        '<td width = "6%" scope="col">'+ datas.Long +'</td>' +
                        '<td width = "12%" scope="col">'+ datas.TS +'</td>' +
                        '<td width = "15%" scope="col"><button dir="'+ datas._id +'" type="button" class="editJunctionVariable btn btn-warning btn-fill form-control" data-toggle="modal" data-target="#editMapJunction" style="width:100px"><span class="ti-pencil"></span>EDIT </button><button type="button" dir="' + datas._id +'" class="deleteJunctionVariable btn btn-danger btn-fill form-control" data-toggle="modal" data-target="#deleteMapJunction" style="width:100px"><span class="ti-trash"></span>DELETE</button></td>' +
                        '<tr>'
                      )
                      
                    });
   


  })

   })

//-------------------------------ADD NEW POINT DB MAP_DT_PT-----------------------------------//

$(document).on('click','#aPtMapMod', function() {

var jsonPtA = {
        'Name':$("#aNamePt").val(),
        'Map_ID': $('#idMapA').val(),
        'Loc_x': $("#aLocXPt").val(),
        'Loc_y': $("#aLocYPt").val(),
        'Loc_z': $("#aLocZPt").val(),
        'Loc_w': $("#aLocWPt").val(),
        'Lat': $("#aLatPt").val(),
        'Long': $("#aLongPt").val()
       
    }
    console.log(jsonPtA)
socket.emit('addNewPointReq', jsonPtA)

})

socket.on('addNewPointRes', data=>{

  if(data == "err"){

        Swal.fire({
                  heightAuto:false,
                  type: 'error',
                  title: 'Error',
                  text: 'Map Point failed to add!' ,
                   customClass: {
            popup: 'swalpopup'
          }
                });
             $('.close').click();
             // setTimeout(location.reload.bind(location), 100);

  }else{
        Swal.fire({
                  heightAuto:false,
                  type: 'success',
                  title: 'Success',
                  text: 'Map Point : "'+ data.Name +'" has been added!' ,
                   customClass: {
            popup: 'swalpopup'
          }
                });
             $('.close').click();
              setTimeout(location.reload.bind(location), 100);
  }
})


//-------------------------------EDIT POINT DB MAP_DT_PT-----------------------------------//

$(document).on('click','.editPointVariable', function() {
      var dirPtE =  $(this).attr('dir');
      console.log(dirPtE)
      $('#idMapE').val(dirPtE);
      socket.emit('reqListMapPt', dirPtE)

      socket.on('resListMapPt',data =>{
         $("#eNamePt").val(data.Name);
         $("#eLocXPt").val(data.Loc_x);
         $("#eLocYPt").val(data.Loc_y);
         $("#eLocZPt").val(data.Loc_z);
         $("#eLocWPt").val(data.Loc_w);
         $("#eLatPt").val(data.Lat);
         $("#eLongPt").val(data.Long);
      })
})



$(document).on('click','#ePtMapMod', function() {


var jsonPtE = {
        'id':$("#idMapE").val(),
        'Name':$("#eNamePt").val(),
        'Map_ID': $('#eptidE').val(),
        'Loc_x': $("#eLocXPt").val(),
        'Loc_y': $("#eLocYPt").val(),
        'Loc_z': $("#eLocZPt").val(),
        'Loc_w': $("#eLocWPt").val(),
        'Lat': $("#eLatPt").val(),
        'Long': $("#eLongPt").val()
       
    }
    console.log(jsonPtE)
socket.emit('editExistPointReq', jsonPtE)


})

socket.on('editExistPointRes', data=>{

  if(data == "err"){

      Swal.fire({
                  heightAuto:false,
                  type: 'error',
                  title: 'error',
                  text: 'Map Point has failed to update!' ,
                   customClass: {
            popup: 'swalpopup'
          }
                });
             $('.close').click();
            //  setTimeout(location.reload.bind(location), 100);
  }else{

        Swal.fire({
                  heightAuto:false,
                  type: 'success',
                  title: 'Success',
                  text: 'Map Point : "'+ data +'" has been updated!' ,
                   customClass: {
            popup: 'swalpopup'
          }
                });
             $('.close').click();
              setTimeout(location.reload.bind(location), 100);
  }
})


//------------------DELETE MAP POINT MODAL---------------------------//

$(document).on('click','.deletePointVariable', function() {
    var dirPt =  $(this).attr('dir');
    console.log(dirPt)
    $('#DelMapId').val(dirPt);
})

$(document).on('click','#delMapPtReq', function() {
  
   var idPt = $('#DelMapId').val();
   socket.emit('delAddMapPoint', idPt);
})


socket.on('delAddMapPointS', data=>{

  if(data == "err"){

      Swal.fire({
                  heightAuto:false,
                  type: 'error',
                  title: 'error',
                  text: 'Map Point had been failed to delete!' ,
                   customClass: {
            popup: 'swalpopup'
          }
                });
             $('.close').click();
            //  setTimeout(location.reload.bind(location), 100);
  }else{

        Swal.fire({
                  heightAuto:false,
                  type: 'success',
                  title: 'Success',
                  text: 'Map Point : "'+ data.Name +'" has been deleted successfully!' ,
                   customClass: {
            popup: 'swalpopup'
          }
                });
             $('.close').click();
              setTimeout(location.reload.bind(location), 100);
  }
})


//--------------ADD NEW JUNCTION MAP---------------------//

$(document).on('click','#aJuncMapMod', function() {

var jsonJuncA = {
        //'_id':$("#aNamePt").val(),
        'map_id': $('#idMapA').val(),
        'x': $("#aXJunct").val(),
        'y': $("#aYJunct").val(),
        'Lat': $("#aLatJunct").val(),
        'Long': $("#aLongJunct").val(),
      
    }
    console.log(jsonJuncA)
socket.emit('addNewJunctionReq', jsonJuncA)

})

socket.on('addNewJunctionRes', data=>{

  if(data == "err"){

        Swal.fire({
                  heightAuto:false,
                  type: 'error',
                  title: 'Error',
                  text: 'Map Junction failed to add!' ,
                   customClass: {
            popup: 'swalpopup'
          }
                });
             $('.close').click();
             // setTimeout(location.reload.bind(location), 100);

  }else{
        Swal.fire({
                  heightAuto:false,
                  type: 'success',
                  title: 'Success',
                  text: 'Map Junction : "'+ data.map_id +'" has been added!' ,
                   customClass: {
            popup: 'swalpopup'
          }
                });
             $('.close').click();
              setTimeout(location.reload.bind(location), 100);
  }
})

//------------------------EDIT JUNCTION MAP ----------------------//

$(document).on('click','.editJunctionVariable', function() {
      var dirJunctE =  $(this).attr('dir');
      console.log(dirJunctE)
      $('#idMapJunctE').val(dirJunctE);
      socket.emit('reqListMapJunct', dirJunctE)

      socket.on('resListMapJunct',data =>{
         $("#eXJunct").val(data.x);
         $("#eYJunct").val(data.y);
         $("#eLatJunct").val(data.Lat);
         $("#eLongJunct").val(data.Long);
      })
})



$(document).on('click','#eJuncMapMod', function() {


var jsonjunctE = {
        'id':$("#idMapJunctE").val(),
        'map_id': $('#idMapA').val(),
        'x': $("#eXJunct").val(),
        'y': $("#eYJunct").val(),
        'Lat': $("#eLatJunct").val(),
        'Long': $("#eLongJunct").val()
       
    }
    console.log(jsonjunctE)
    socket.emit('editExistJunctReq', jsonjunctE)


})

socket.on('editExistJunctRes', data=>{

  if(data == "err"){

      Swal.fire({
                  heightAuto:false,
                  type: 'error',
                  title: 'error',
                  text: 'Map Junction has failed to update!' ,
                   customClass: {
            popup: 'swalpopup'
          }
                });
             $('.close').click();
            //  setTimeout(location.reload.bind(location), 100);
  }else{

        Swal.fire({
                  heightAuto:false,
                  type: 'success',
                  title: 'Success',
                  text: 'Map Junction : "'+ data.map_id +'" has been updated!' ,
                   customClass: {
            popup: 'swalpopup'
          }
                });
             $('.close').click();
              setTimeout(location.reload.bind(location), 100);
  }
})




//------------------------DELETE JUNCTION MAP ----------------------//

$(document).on('click','.deleteJunctionVariable', function() {
    var dirJunctD =  $(this).attr('dir');
    console.log(dirJunctD)
    $('#JunctD').val(dirJunctD);
})

$(document).on('click','#delJ', function() {
  
   var idJ = $('#JunctD').val();
   socket.emit('delAddMapJunct', idJ);
})


socket.on('delAddMapJunctS', data=>{

  if(data == "err"){

      Swal.fire({
                  heightAuto:false,
                  type: 'error',
                  title: 'error',
                  text: 'Map Junction had been failed to delete!' ,
                   customClass: {
            popup: 'swalpopup'
          }
                });
             $('.close').click();
            //  setTimeout(location.reload.bind(location), 100);
  }else{

        Swal.fire({
                  heightAuto:false,
                  type: 'success',
                  title: 'Success',
                  text: 'Map Junction : "'+ data.ms_id +'" has been deleted successfully!' ,
                   customClass: {
            popup: 'swalpopup'
          }
                });
             $('.close').click();
              setTimeout(location.reload.bind(location), 100);
  }
})

//------------------------------------------------------------------//

  $(document).on('click','#showeditmap', function() {
    var dir = $(this).attr('dir');
    socket.emit('ReqMapRecbyID',{map_id:dir});
  })

  $(document).on('click','#mAddMap', function() {
    var json = {
        'Name':$("#mHomen").val(),
        'Filename':$("#mHomef").val(),
        'Home_x': $("#mHomex").val(),
        'Home_y': $("#mHomey").val(),
        'Home_w': $("#mHomew").val(),
        'Home_z': $("#mHomez").val(),
        'status': 'recorded'
    }
    socket.emit('AddMapRecbyID',json);

  })

  socket.on('AddMapCallRes',data =>{
    if(data=="err"){
     Swal.fire({
                  heightAuto:false,
                  type: 'error',
                  title: 'Error',
                  text: 'Map failed to add!' ,
                   customClass: {
            popup: 'swalpopup'
          }
                });
             $('.close').click();
    }else
    {
     Swal.fire({
                  heightAuto:false,
                  type: 'success',
                  title: 'Success',
                  text: 'Map : "'+ data.Name +'" has been added!' ,
                   customClass: {
            popup: 'swalpopup'
          }
                });
             $('.close').click();
              setTimeout(location.reload.bind(location), 100);
    }
  });

  //-------------------EDIT MAP VARIABLE--------------------------//
  $(document).on('click','.editMapVariable', function() {
      var dir = $(this).attr('dir')
      console.log(dir)
      $("#editMapID").val(dir)
      socket.emit('ReqeMVar',dir)

       socket.on('ReseMVar',data =>{
      $("#eHomen").val(data.Name)
      $("#eHomef").val(data.Filename)
      $("#eHomex").val(data.Home_x)
      $("#eHomey").val(data.Home_y)
      $("#eHomew").val(data.Home_w)
      $("#eHomez").val(data.Home_z)
     })

  })



//---------------------SAVE EDIT MAP-----------------------//

  $(document).on('click','#eMap', function() {

        var json = {
        '_id': $("#editMapID").val(),
        'Name':$("#eHomen").val(),
        'Filename':$("#eHomef").val(),
        'Home_x': $("#eHomex").val(),
        'Home_y': $("#eHomey").val(),
        'Home_w': $("#eHomew").val(),
        'Home_z': $("#eHomez").val(),
        //'status': 'recorded'
    }
    socket.emit('UptMapRecbyID',json);
  })


    socket.on('UptMapRecbyIDRes',data =>{
    if(data=="err"){
      Swal.fire({
                  heightAuto:false,
                  type: 'error',
                  title: 'Error',
                  text: 'Map failed to update!' ,
                   customClass: {
            popup: 'swalpopup'
          }
                });
             $('.close').click();
    }else{
       Swal.fire({
                  heightAuto:false,
                  type: 'success',
                  title: 'Success',
                  text: 'Map : "' + data.Name +'" update successfully' ,
                   customClass: {
            popup: 'swalpopup'
          }
                });
             $('.close').click();
              setTimeout(location.reload.bind(location), 100);
    }
  });

  //------------------DELETE MAP VARIABLE----------------------//

  $(document).on('click','.deleteMapVariable', function() {
    var dir = $(this).attr('dir');
    socket.emit('ebuttDelMapRecbyID',dir);

    socket.on('ebuttDelMapRecbyIDS',data =>{
        $("#DelMapId").val(data._id);
    })
  })

$(document).on('click','#deletethismap', function() {
    var mapidDel = $("#DelMapId").val();
    console.log(mapidDel)
    socket.emit('DelMapRecbyID',mapidDel);
  })


   socket.on('DelMapRecbyIDRes',data =>{
    if(data=="err"){
        Swal.fire({
                  heightAuto:false,
                  type: 'error',
                  title: 'Error',
                  text: 'Map failed to delete!' ,
                   customClass: {
            popup: 'swalpopup'
          }
                });
             $('.close').click();
    }else{
       Swal.fire({
                  heightAuto:false,
                  type: 'success',
                  title: 'Success',
                  text: 'Map : "'+ data.Name +'" deleted successfully' ,
                   customClass: {
            popup: 'swalpopup'
          }
                });
            $('.close').click();
             setTimeout(location.reload.bind(location), 100);
    }
      
  });


 

  


function myFunctionMap() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInputMap");
  filter = input.value.toUpperCase();
  table = document.getElementById("mapdtTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];

    if (td) {

      txtValue = td.textContent || td.innerText;

          if (txtValue.toUpperCase().indexOf(filter) > -1)
          {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
    }       
  }
}

// -----------------------Mell END --------------------------------------------------------------------------------- -->



      //----------------ADD NEw MISSION(MISSION PROFILE)------------//
    $(document).on('click','#addNewMission',function() {
      var NmName = $('#NmName').val();
      var NmAgv = $('#NmAgv').val();
      var NmArea = $('#NmArea').val();
      var addNewMission = $('#addNewMission').val();
      var json = {
        'Name':NmName,
        'agv_ID':NmAgv,
        'MAP_ID': NmArea,
        'status': 'recorded'
      }
    socket.emit('addMission',json);
    })

    //------------------SAVE EDIT MISSION (MISSION PROFILE)---------------------//
  var EmsID = {};
     socket.on('EditmsID',data =>{
             EmsID = data._id;      
           });

    $(document).on('click','#editmMission',function() {
         
         

         // var EmsAgv = $('#EmsAgv').val();
         // var EmsArea = $('#EmsArea').val();
          var EmsName = $('#EmsName').val();
          var editmMission = $('#editmMission').val();
         
          var json = {
            'MS_ID':EmsID,
            'Name':EmsName,
            'status': 'recorded'
           // 'agv_ID':EmsAgv,
           // 'MAP_ID': EmsArea
          }
        
       socket.emit('ReqEditMission',json);
        })
 

     //------------------------SAVE EDIT MISSION MESSAGE----------------------------//

    socket.on('ResEditMissionS',data => {
            if(data == 'err') {
                    Swal.fire({
                          heightAuto:false,
                          type: 'error',
                          title: 'Error',
                          text: 'Mission Name already existed!' ,
                          customClass: {
                                popup: 'swalpopup'
                                        }
                            });
                  }
                  else {
                          Toast.fire({
                            type: 'success',
                            title: 'Mission: ' + data.Name +" successfully updated" ,
                          })
                          $("#myTabContent").load(location.href + " #myTabContent .tab-pane, script");
                
                      }
                  })



     //------------PUSH ADD ACTIVITY TO MISSION (MISSION PROFILE)--------------//
     var point = []
     var armName = []


     $(document).on('change','#Nmpoint',function() {
       var dir1 = $( "#Nmpoint option:selected" ).text(); //$(this).attr('dir1');
       point = dir1;
     })

    $(document).on('change','#Nmactivity',function() {
       var dir2 = $( "#Nmactivity option:selected" ).text(); //$(this).attr('dir1');
       armName = dir2;
     })

      var addAct = [];
      var seq = 0;
      var seq1 = 0;
      var guard = 0;
      var RemovedItem = [];
      
    
    $(document).on('click','#NmaddAct',function() {
       
       var PT_ID =  $('#Nmpoint').val();
       var ARM_ID = $('#Nmactivity').val();
       var MAP_ID = $('#NmArea').val();
       var MS_ID = $('#msId').val();
       

      
      var json = {MS_ID:MS_ID,MAP_ID:MAP_ID,PT_ID:PT_ID,ARM_ID:ARM_ID,Seq:seq1,Exe:"0",status:"recorded"};
      addAct.push(json);
      console.log(addAct)
      
      $('#dynamic').append(
      
        '<tr class="my-handle">'+
        '<td class="index">' +  seq1   + '</td>'+
        '<td>' +  point   + '</td>'+
        '<td>' + armName + '</td>'+
        '<td><center><button value="'+ seq1 +'"  dir="'+ seq1 +'" class="btn btn-danger removeAct">Remove</button></center> </td>'+
        '</tr>'

        );

      seq1 = seq1 + 1;
      resetNums();
     
    }) 



Sortable.create(dynamic,{
            handle: '.my-handle',
            animation: 150,
            onChange: function() {
           // seq1 = seq1 + 1;
           // countRows()
            resetNums()
            console.log(seq1)
           }
             
          });
        

/*function countRows() {
    seq1 = 0;
    $('#dynamic tr td.index').each(function () {
        $(this).text(++seq1);
    });

    console.log(seq1)
}*/

   
var resetNums = function(){
        $('#dynamic tr td.index').each(function(seq1) {
        $(this).text(++seq1);
        });
        
        $('#dynamic tr td button').each(function(seq1) {
        $(this).val(++seq1);
        //console.log(seq1)
        });
}




//-------------REMOVE APPEND ACTIVITY IN MISSION CREATE---------------------//


  $(document).on('click','.removeAct',function(e)  {
               // var dir = $(this).attr('dir');
               var dir = $(this).val();
               
               //console.log(dir)
               
               var removed = addAct.splice(dir-1, 1);
                //var replaced = addAct.splice(dir-1, 1);
                
                $(this).closest('tr').remove();
                 e.preventDefault();

               $(this).closest('tr').fadeOut(10, function(){
                     $.when($(this).closest('tr').remove()).then(resetNums());
                   
                  });
              
                   
         })
    resetNums();


//--------------SAVE ALL RECORD FOR MISSION AND ADD ACTIVITY-----------------//
    $(document).on('click','#Save_Mission', function() {
      socket.emit('addMissionAct',addAct);
    })


//-------------ADD NEW MISSION MESSAGE (EXIST OR NOT) / in (MISSION PROFILE)--------------------------//
    socket.on('addMissionS', data => {
      if(data == 'err') {
         Swal.fire({
                  heightAuto:false,
                  type: 'error',
                  title: 'Error',
                  text: 'Mission Name already existed!' ,
                   customClass: {
            popup: 'swalpopup'
          }
                });
      }
      else {
          Toast.fire({
          type: 'success',
          title: 'Mission: ' + data.msName +" successfully saved" ,
        })
            $('#Nmpoint').attr('disabled',false);
            $('#Nmactivity').attr('disabled',false);
            $('#NmaddAct').attr('disabled',false);
            $('#NmName').attr('disabled',true);
            $('#NmAgv').attr('disabled',true);
            $('#NmArea').attr('disabled',true);
            $('#addNewMission').attr('disabled',true);
            $('#msId').val(data.msId);
          $.each(data.Map,function(i,mapdatas) {
            $('#Nmpoint').append('<option value="'+mapdatas._id+'">'+mapdatas.Name+'</option>')
          })
         $.each(data.Arm,function(i,armdata) {
            $('#Nmactivity').append('<option id="t' + armdata.Name + '" value="'+armdata._id+'">'+armdata.Name+'</option>')
            storeArmData.push(armdata);
          })
      }   
    })

    //-----------------SAVE MISSION AND ACTIVITY MESSAGE (MISSION PROFILE)------------------//

    socket.on('addMissionActS',data => {
         Swal.fire({
                  heightAuto:false,
                  type: 'success',
                  title: 'Success',
                  text: 'Mission Activities successfully added to ' + $('#NmName').val() ,
                   customClass: {
            popup: 'swalpopup'
          }
                })
                $('.close').click();

                  $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
                  var id = $(e.target).attr("href").substr(1);
                  window.location.hash = id;
                });

                // on load of the page: switch to the currently selected tab
                var hash = window.location.hash;
                $('#myTab a[href="' + hash + '"]').tab('show');
                 setTimeout(location.reload.bind(location), 1000);
                 //$("#myTabContent").load(location.href + " #myTabContent .tab-pane, script");
    })

//----------------------ADD NEW SCHEDULE (SCHEDULE PROFILE)---------------------//

    $(document).on('click','#addNewSchedule',function() {
     var Name = $('#name_schedule').val();
     var USER_ID = $('#operator_schedule').val();
     var json = {Name:Name,USER_ID:USER_ID}
     socket.emit('addSched',json)
     
    })

//-------------------PUSH SCHEDULE'S MISSION TO TABLE IN MODAL (SCHEDULE PROFILE)--------//
      var addMs = [];
      var seq2 = 0;
     
      var mission_Name = [];

         $(document).on('change','#mission_schedule',function() {
       var dir3 = $( "#mission_schedule option:selected" ).text(); //$(this).attr('dir1');
       missionName = dir3;
     })

    $(document).on('click','#addScheduleMission',function() {
            var MS_ID = $('#mission_schedule').val();
            var Loop = $('#loops_schedule').val();
            var Exe = "0";
            var SCHED_ID = $('#schedId').val();
            var json = {MS_ID:MS_ID,SCHED_ID:SCHED_ID,Loop:Loop,Seq:seq2++,Exe:Exe};
            addMs.push(json);
            $('#misSchedTable').append(
              '<tr class="my-handle">'+
              '<td class="index">' +  seq2   + '</td>'+
              '<td>' +  missionName  + '</td>' +
              '<td><center><button value="'+ seq1 +'"  dir="'+ seq1 +'" class="btn btn-danger removeMission">Remove</button></center> </td>'+
              '</tr>'
              );
            
         seq2 = seq2 + 1;
         resetNums1();

    })


Sortable.create(misSchedTable,{
            handle: '.my-handle',
            animation: 150,
            onChange: function() {
           // seq1 = seq1 + 1;
           // countRows()
            resetNums1()
            console.log(seq1)
           }
             
          });



    var resetNums1 = function(){
        $('#misSchedTable tr td.index').each(function(seq2) {
        $(this).text(++seq2);
        });
        
        $('#misSchedTable tr td button').each(function(seq2) {
        $(this).val(++seq2);
        //console.log(seq1)
        });
}

    //-------------REMOVE APPEND MISSION IN MISSION CREATE---------------------//

 // $(document).on('click','.removeMission',function()  {
               // $(this).closest('tr').remove();
              //  seq1 = seq1;
       //  })


    $(document).on('click','.removeMission',function(e)  {
        // var dir = $(this).attr('dir');
        var dir = $(this).val();
        
        //console.log(dir)
        
        var removed = addAct.splice(dir-1, 1);
          //var replaced = addAct.splice(dir-1, 1);
          
          $(this).closest('tr').remove();
          e.preventDefault();

        $(this).closest('tr').fadeOut(10, function(){
              $.when($(this).closest('tr').remove()).then(resetNums1());
            
            });
        
            
  })
resetNums1();

//-------------------------ADD NEW SCHEDULE MESSAGE(SCHEDULE PROFILE)-------------------------//
     socket.on('addSchedS',data => {
       if(data == 'err') {
        Swal.fire({
                  heightAuto:false,
                  type: 'error',
                  title: 'Error',
                  text: 'Schedule Name Already Exist' ,
                   customClass: {
            popup: 'swalpopup'
          }
        })
          }
          else {
              Toast.fire({
              type: 'success',
              title: 'Schedule: ' + data.Name +" successfully saved" ,
            })

                $('#name_schedule').attr('disabled',true);
                $('#operator_schedule').attr('disabled',true);
                $('#agv_schedule').attr('disabled',false);
              
                $('#schedId').val(data._id)

             
        
      }
    })

//-----------------------SELECT MISSION BY AGV IN ADD MISSION TO SCHEDULE (SCHEDULE PROFILE)--------------//

 $('#agv_schedule').on('change',function() {
              jsonarr = [];
               $('#mission_schedule').empty();
                        if ($(this).val() == 'SELECT AGV') {
                        
                          // $('.btn').attr('disabled', true);
                          // $('#sched_dropdown').attr('disabled', true);
                      
                        } else {
                            
                            $('#mission_schedule').attr('disabled',false);
                            $('#mission_schedule').append('<option selected disabled > SELECT MISSION</option>');
                            $('#loops_schedule').attr('disabled',false);
                            $('#addScheduleMission').attr('disabled',false);
                        }
                        var AGV_ID = $('#agv_schedule').val();
                        var json = {AGV_ID:AGV_ID}
                        console.log(json)
                        socket.emit('AGVByMS',json)
                      
                    })
        
                        socket.on('AGVByMSRes', data => {

                              $('#mission_schedule').append('<option value="'+ data.MSID +'">'+ data.MSNm +'</option>');
                        
                        })
      
    
//------------------------SAVE ALL SCHEDULE AND ADD MISSION---------------------//   
    
     $(document).on('click','#Save_Schedule', function() {
      socket.emit('saveSched',addMs);
      setTimeout(location.reload.bind(location), 1000);
    })


//----------------------FOR TAB PANE REFRESH-------------------//
                $('#myTab a').click(function(e) {
                  e.preventDefault();
                  $(this).tab('show');
                 // console.log($(this).tab('show'))
                });

                 $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
                  var id = $(e.target).attr("href").substr(1);
                  window.location.hash = id;
                });

                // on load of the page: switch to the currently selected tab
                var hash = window.location.hash;
                $('#myTab a[href="' + hash + '"]').tab('show');

//------------------------FOR MODAL REFRESH---------------------------//


   
//----------------------SAVE ALL SCHEDULE AND ADD MISSION MESSAGE-------------------//


    socket.on('saveSchedS',data => {
      Swal.fire({
                  heightAuto:false,
                  type: 'success',
                  title: 'Success',
                  text: 'Schedule Missions successfully added to ' + $('#name_schedule').val() ,
                   customClass: {
                   popup: 'swalpopup'
                   }
                })
                
                $('.close').click();
                
                

                // store the currently selected tab in the hash value
                $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
                  var id = $(e.target).attr("href").substr(1);
                  window.location.hash = id;
                });

                // on load of the page: switch to the currently selected tab
                var hash = window.location.hash;
                $('#myTab a[href="' + hash + '"]').tab('show');


                // $("#myTabContent").load(location.href + " #myTabContent .tab-pane, script");
    })
  

//------------------------EDIT SCHEDULE-----------------------//////////////////////////////////////

$(document).on('click','.editSchedMS',function()  {
           var dir = $(this).attr('dir');
          socket.emit('schedReq',{sched_id:dir})
          $('#SchedDynamic').empty();
         })
  
        socket.on('SchedEditNameEx', data =>{
            $('#edit_NmSched').val(data.Name);
         })

         socket.on('OpsEditNameEx', data =>{
            $('#edit_OpSched').val(data.Name);
         })

       //    $('#edit_NmSched').val(data[0].Sched_Name);
        //   $('#edit_OpSched').val(data[0].Operator);
        socket.on('schedRes',data => {
            $('#SchedDynamic').empty();
              $.each(data, function( i, datas ) {
                $('#SchedDynamic').append(
                  '<tr>'+
                    '<td>'+datas.seq+'</td><td>'+datas.MS_Name+'</td><td><button dir="'+datas.MS_ID+'" class="btn btn-danger missDel">Delete</button></td>'
                    +'<tr>'
                )
              });
            // dir="'+ datas.act_id+'"
              console.log(data[0].seq)
          })

          //--------------------DELETE MISSION IN SCHEDULE EDIT----------------------------//
           
           $(document).on('click','.missDel',function()  {
                console.log(this)
                $(this).closest('tr').remove();
                var dir = $(this).attr('dir');
                
                console.log(dir);
                socket.emit('delSchedMissReq',{ms_id:dir})
         })


//--------------------DELETE MISSION IN SCHEDULE EDIT MESSAGE--------------------------//

    /*      socket.on('delSchedMissResS',data => {
                    if(data == 'error') {
                           alert('error')
                      }
                    else {
                     Toast.fire({
                      type: 'success',
                      title: 'Mission has been deleted' , //message
                    })
                    
                 $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
                  var id = $(e.target).attr("href").substr(1);
                  window.location.hash = id;
                });

                // on load of the page: switch to the currently selected tab
                var hash = window.location.hash;
                $('#myTab a[href="' + hash + '"]').tab('show');
                  }
               })
           
*/
//-----------------------------DELETE MISSION MESSAGE------------------//


            socket.on('deleteMissionS',data => {
                    if(data =='error') {
                      alert('there was a problem')
                    }
                    else {
                      Swal.fire({
                        heightAuto:false,
                        type: 'success',
                        title: 'Success',
                        text: 'Mission successfully deleted',
                      })
                      $('.close').click();
                        // store the currently selected tab in the hash value
                        $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
                          var id = $(e.target).attr("href").substr(1);
                          window.location.hash = id;
                        });

                        // on load of the page: switch to the currently selected tab
                        var hash = window.location.hash;
                        $('#myTab a[href="' + hash + '"]').tab('show');
                            
                      }
             })

//--------------------DELETE ACTIVITY IN MISSION EDIT----------------------------//
           
           $(document).on('click','.actDel',function()  {
                //console.log(this)
                $(this).closest('tr').remove();
                var dir = $(this).attr('dir');
                
                console.log(dir);
                //socket.emit('actReq',{act_id:dir})
         })

//--------------------DELETE ACTIVITY IN MISSION EDIT MESSAGE--------------------------//

          socket.on('deleteActivityS',data => {
                    if(data == 'error') {
                           alert('error')
                      }
                    else {
                     Toast.fire({
                      type: 'success',
                      title: 'Activity has been deleted' , //message
                    })
                  }
               })
           })

  //------------DELETE MISSION----------------//

  $(document).on('click','.deleteMs',function()  {
                var dir = $(this).attr('dir');
                $('#dMsId').val(dir);
   })


  $(document).on('click','#msDbtn',function()  {
                var json = {ms_id:$('#dMsId').val()};
                socket.emit('deleteMission',json)
                 setTimeout(location.reload.bind(location), 1000);
         })
 
 
  //----------------EDIT MISSION---------------// 

  $(document).on('click','.editMs',function()  {
         // console.log('tak dapat')
           $('#Emdynamic').empty();
           var dir = $(this).attr('dir');
          socket.emit('msreq',{ms_id:dir})
         })

         socket.on('EditmsID', data =>{
            $('#EmsName').val(data.Name);
         })

         socket.on('editAgvMs', data =>{
            $('#EmsAgv').val(data.agv_ID);
         })

         socket.on('editMapMs', data =>{
           $('#EmsArea').val(data.Name);
         })
        

          socket.on('msres',data => {
                  $('#Emdynamic').empty();
                 // $('#EmsName').val(data[0].ms_name);
                 // $('#EmsAgv').val(data[0].agv_Name);
                 // $('#EmsArea').val(data[0].Map_Name);
                    $.each(data, function( i, datas ) {
                      $('#Emdynamic').append(
                        '<tr>'+
                          '<td>'+datas.seq+'</td><td>'+datas.pt_name+'</td><td>'+datas.arm_name+'</td><td><button dir="'+
                          datas.act_id+'" class="btn btn-danger actDel">Delete</button></td>'
                          +'<tr>'
                      )
                      
                    });
                  // console.log(data)
                   // console.log(data[0].seq)
          })

          socket.on('EditMapData',datas => {
             $.each(datas,function(i,mapdatas) {
             $('#EdtMsPt').append('<option value="'+mapdatas._id+'">'+mapdatas.Name+'</option>')
               })
          })

            socket.on('EditArmData',datas => {
            $.each(datas,function(i,mapdatas) {
             $('#EdtMsArm').append('<option value="'+mapdatas._id+'">'+mapdatas.Name+'</option>')
                      })
            })


  //------------ADD NEW ACTIVITY TO EDIT MISSION IN APPEND TABLE-------//

    var addNewAct = [];
      var seq = 1;
      var guard = 0;
      var point = [];
      var armName = [];
    $(document).on('click','#NaddPoint',function() {
       var PT_ID =  $('#EdtMsPt').val();
       
       var ARM_ID = $('#EdtMsArm').val();
       var MAP_ID = $('#EmsArea').val();
       var MS_ID = $('#EmsName').val();
      var json = {MS_ID:MS_ID,MAP_ID:MAP_ID,PT_ID:PT_ID,ARM_ID:ARM_ID,Seq:seq++,Exe:"0",status:"recorded"};
      addNewAct.push(json);
      console.log(addNewAct)
      
     

      $('#Emdynamic').append(
        '<tr>'+
        '<td>' +  seq   + '</td>'+
        '<td>' +  point  + '</td>'+
        '<td>' +  armName  + '</td>'+
        '<td><button class="btn btn-danger removeActEdit">Remove</button></td>'+
        '</tr>'
        );
      
     
      
     
    })

  //----------------------------------------------//

  
  $(document).on('click','#msEbtn',function()  {
            var json = {ms_id:$('#dMsId').val()};
            socket.emit('deleteMission',json)
         })

  //-----------------DELETE SCHEDULE-------------------// 

  $(document).on('click','.deleteSched',function()  {
           var dir = $(this).attr('dir');
           $('#dScId').val(dir);
           console.log(dir);
          
         })
    
  $(document).on('click','#scDbtn',function()  {
            var json = {sc_id:$('#dScId').val()};
            socket.emit('deleteSchedule',json)
            setTimeout(location.reload.bind(location), 1000);
         })

  socket.on('deleteScheduleS',data => {
              if(data =='error') {
                alert('there was a problem')
              }
              else {
                Swal.fire({
                  heightAuto:false,
                  type: 'success',
                  title: 'Success',
                  text: 'Schedule successfully deleted',
                })
                
                $('.close').click();
                 $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
                          var id = $(e.target).attr("href").substr(1);
                          window.location.hash = id;
                        });

                        // on load of the page: switch to the currently selected tab
                        var hash = window.location.hash;
                        $('#myTab a[href="' + hash + '"]').tab('show');
                       
               // $("#myTabContent").load(location.href + " #myTabContent .tab-pane, script");
              }
         })

      
  function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("tableBody");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];

    if (td) {

      txtValue = td.textContent || td.innerText;

          if (txtValue.toUpperCase().indexOf(filter) > -1)
          {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
    }       
  }
}

function myFunction1() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput1");
  filter = input.value.toUpperCase();
  table = document.getElementById("tableBodySched");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];

    if (td) {

      txtValue = td.textContent || td.innerText;

          if (txtValue.toUpperCase().indexOf(filter) > -1)
          {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
    }       
  }
}




</script>